
<div class="fotocontest_contant">
    <h4>Фотоконкурс</h4>
	<div ng-show="!ctrl.user.can_photo_competition">
		<p>Чтобы принять участие в фотоконкурсе и побороться за выход в финал розыгрыша автомобиля, Вам необходимо:</p>
		<p>1. Набрать 1500 баллов на сайте</p>
		<p>2. Пройти тест-драйв у официального Дилера ŠKODA, который выдаст Вам промо-код</p>
		<p>3. Активировать промо-код в личном кабинете на сайте</p>
		<p>4. Принять участие в экспресс-викторине на нашем сайте, «купив» зеленую ячейку в разделе «Конкурсы»</p>

		<p>Если Вы ответите 3 из 3 вопросов экспресс-викторины, то сможете принять участие в фотоконкурсы.</p>
		<p>Удачи!</p>
	</div>
	<div ng-show="ctrl.user.can_photo_competition">
		<p>Чтобы принять участие в фотоконкурсе, Вам необходимо сделать креативную фотографию на хоккейную тематику в Дилерском центре ŠKODA и загрузить ее в личный кабинет.</p>
		<p>В случае, если посетители сайта оценят Вашу оригинальность и Вы попадете в ТОП 24 участников с наибольшим количеством лайков, станет доступен следующий этап розыгрыша.</p>
	</div>
	<div ng-show="ctrl.user.can_photo_competition">
		<div class="download_foto">
			<p>Принимаются файлы в формате .jpg .png весом не более 5М каждый</p>
			<button class="btn btn_secondary tiny button" ngf-pattern="'image/*'" ngf-accept="'image/*'"  ngf-max-total-size="5MB" ngf-select="ctrl.loadPhoto($file)"> Загрузить свое фото</button>
		</div>
		<h5>Мои фотографии</h5>
		<ul class="my_foto text-center">
			<li ng-repeat="photo in ctrl.photos">
				<p>
					<img src="img/resources/img/like.png" alt="">
					<span ng-bind="photo.likes">14444</span>
				</p>
				<div class="wrapp_foto">
					<img src="{{photo.image.small}}" alt="" class="img-responsive">
				</div>
				<button class="btn btn_primary tiny" ng-click="ctrl.participateInContest(photo)"
						ng-bind="photo.statusText" ng-disabled="photo.is_published || ctrl.isUserPaticipating">Участвовать</button>
				<p><a href="" ng-click="ctrl.deletePhoto(photo)" class="delet">Удалить</a></p>
			</li>
		</ul>
	</div>

</div>


