<section class="wrapp_news_all">
    <div class="wrapp_menu " id='menu'>
        <div class="menu_line">
             <ul>
               <a ui-sref="dashboard.general-news"><li class="general_news_imgbg"><p class="active_p">Новости</p></li></a> 
                <!-- <a ui-sref="dashboard.facts"><li class="facts_imgbg"><p>Интересное</p></li></a> -->
                <!-- <a ui-sref="dashboard.blog"><li class="blog_imgbg"><p >Аналитика</p></li></a> -->
            </ul>
        </div>
        <div class="menu_date hidden-xs ">
            <ul>
                <li><h5>Месяц</h5></li>
                <li ng-repeat="month in ctrl.months"
                    ng-class="{'active_month': month.viewIndex==ctrl.activeMonth}">
                    <p ng-click="ctrl.changeMonth(month)"><a href="#"><span>{{month.viewIndex}}</span>{{month.name}}</a>
                    </p>
                </li>
            </ul>
        </div>

        <div class="date_slider_news hidden-sm hidden-md hidden-lg">
            <slick current-index="ctrl.mobileCurrentIndex" on-after-change="ctrl.changeMobileMonth()" arrows="true" fade="true" slides-to-show="1"
                   slides-to-scroll="1" initial-slide="{{ctrl.slickCurrentMonthIndex}}">
                <div ng-repeat="month in ctrl.mobileMonths"><p><a href="#" class="link_slider"><span>{{month.viewIndex}}</span> {{month.name}}</a></p></div>
            </slick>

        </div>
    </div>
    <div class="wrapp_contant_main">
        <div class="container-fluid">
            <div class="row">
                <div general-news-timeline days-with-news="ctrl.daysWithNews" class="col-md-2 hidden-xs hidden-sm">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 text-left " id="news" general-news-scroll
                     load-next="ctrl.loadNext()" load-previous="ctrl.loadPrevious()">
                    <div class="row" data-day-id="{{day.id}}" ng-repeat="day in ctrl.days | orderBy:'-id'">
                        <div class="col-md-12 grid">
                            <div general-news="news" class="news_one grid-item" ng-repeat="news in day.news.posts"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm col-md-2 fix_padding" ng-show="true">
                    <div class="wrapp_social_lent default" scroll-init  id="timeline_wrapp">
                        <div class="soc_post" ng-repeat="tweet in ctrl.tweets">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li ng-bind="tweet.person.name"></li>
                                <li ng-bind="tweet.content"></li>
                                <img ng-show="tweet.photos.length" src="{{tweet.photos[0].image.thumb}}">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>