<section class="wrapp_news_all">
    <div class="wrapp_menu " id='menu'>
        <div class="menu_line hidden-xs">
            <ul>
                <li><a href=""><img src="img/resources/img/news/ico_menu1.png" alt="" class="img-responsive"></a></li>
                <li><a href=""><img src="img/resources/img/news/ico_menu2.png" alt="" class="img-responsive"></a></li>
                <li><a href=""><img src="img/resources/img/news/ico_menu3.png" alt="" class="img-responsive"></a></li>
            </ul>
        </div>
        <div class="menu_date hidden-xs">
            <ul>
                <li ng-repeat="month in ctrl.months" ng-class="{'active_month': month.viewIndex==ctrl.activeMonth}">
                    <p ng-click="ctrl.changeMonth(month)"><a href="#"><span>{{month.viewIndex}}</span>{{month.name}}</a></p>
                </li>
            </ul>
        </div>
        <!-- Слайдер для мобильных -->
        <div class="date_slider hidden-md hidden-lg">
            <div><a href="#"><span>01</span> январь</a></div>
            <div><a href="#"><span>02</span> февраль </a></div>
            <div><a href="#"><span>03</span> март </a></div>
            <div><a href="#"><span>04</span> апрель</a></div>
            <div><a href="#"><span>05</span> май</a></div>
            <div><a href="#"><span>06</span> июнь</a></div>
            <div><a href="#"><span>07</span> июль</a></div>
            <div><a href="#"><span>08</span> август</a></div>
            <div><a href="#"><span>09</span> сентябрь</a></div>
            <div><a href="#"><span>10</span> октябрь</a></div>
            <div><a href="#"><span>11</span> ноябрь</a></div>
            <div><a href="#"><span>12</span> декбрь</a></div>
        </div>
    </div>
    <div class="wrapp_contant_main">
        <div class="container-fluid">
            <div class="row">
                <div general-news-timeline days-with-news="ctrl.daysWithNews" class="col-md-2 hidden-xs hidden-sm">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 text-left " id="news" general-news-scroll
                     load-next="ctrl.loadNext()">
                    <div class="row" data-day-id="{{day.id}}" ng-repeat="day in ctrl.days | orderBy:'-id'">
                        <div class="col-md-12 grid">
                            <div general-news="news" class="news_one grid-item" ng-repeat="news in day.news"/>
                        </div>
                    </div>
                </div>

                <div class="hidden-xs hidden-sm col-md-2 fix_padding" ng-show="false">
                    <div class="wrapp_social_lent">
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li>Кузнецов здорово прибавил , стал играть совсем в другую игру, нежели в прошлом году,
                                    очень много
                                </li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li>Кузнецов здорово прибавил , стал играть совсем в другую игру, нежели в прошлом году,
                                    очень много
                                </li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li><img src="img/resources/img/bg.png" alt="" class="img-responsive"></li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li>Кузнецов здорово прибавил , стал играть совсем в другую игру, нежели в прошлом году,
                                    очень много
                                </li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li><img src="img/resources/img/bg.png" alt="" class="img-responsive"></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>