<section class="wrapp_news_all">
    <div class="wrapp_menu " id='menu'>
        <div class="menu_line">
             <ul>
               <a ui-sref="dashboard.general-news"><li class="general_news_imgbg"><!-- <img src="img/resources/img/news/ico_menu1_noactive_notext.png" alt="" class="img-responsive"> --><p class="active_p">События</p></li></a>
                <a ui-sref="dashboard.facts"><li class="facts_imgbg"><!-- <img src="img/resources/img/news/ico_menu2_noactive_notext.png" alt=""  class="img-responsive"> --><p>Факты</p></li></a>
                <a ui-sref="dashboard.blog"><li class="blog_imgbg"><!-- <img src="img/resources/img/news/ico_menu3_active_notext.png" alt="" class="img-responsive"> --><p >Аналитика</p></li></a>
            </ul>
        </div>
        <div class="menu_date hidden-xs ">
            <ul>
                <li><h5>Месяц</h5></li>
                <li ng-repeat="month in ctrl.months"
                    ng-class="{'active_month': month.viewIndex==ctrl.activeMonth}">
                    <p ng-click="ctrl.changeMonth(month)"><a href="#"><span>{{month.viewIndex}}</span>{{month.name}}</a>
                    </p>
                </li>
            </ul>
        </div>
        <!-- Слайдер для мобильных -->

        <div class="date_slider_news hidden-sm hidden-md hidden-lg">
            <slick current-index="ctrl.mobileCurrentIndex" on-after-change="ctrl.changeMobileMonth()" arrows="true" fade="true" slides-to-show="1"
                   slides-to-scroll="1" initial-slide="{{ctrl.slickCurrentMonthIndex}}">
                <div ng-repeat="month in ctrl.mobileMonths"><p><a href="#" class="link_slider"><span>{{month.viewIndex}}</span> {{month.name}}</a></p></div>
            </slick>

        </div>
    </div>
    <div class="wrapp_contant_main">
        <div class="container-fluid">
            <div class="row">
                <div general-news-timeline days-with-news="ctrl.daysWithNews" class="col-md-2 hidden-xs hidden-sm">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 text-left " id="news" general-news-scroll
                     load-next="ctrl.loadNext()" load-previous="ctrl.loadPrevious()">
                    <div class="row" data-day-id="{{day.id}}" ng-repeat="day in ctrl.days | orderBy:'-id'">
                        <div class="col-md-12 grid">
                            <div general-news="news" class="news_one grid-item" ng-repeat="news in day.news.posts"/>
                        </div>
                    </div>
                </div>

                <div class="hidden-xs hidden-sm col-md-2 fix_padding" ng-show="false">
                    <div class="wrapp_social_lent">
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li>Кузнецов здорово прибавил , стал играть совсем в другую игру, нежели в прошлом году,
                                    очень много
                                </li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li>Кузнецов здорово прибавил , стал играть совсем в другую игру, нежели в прошлом году,
                                    очень много
                                </li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li><img src="img/resources/img/bg.png" alt="" class="img-responsive"></li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li>Кузнецов здорово прибавил , стал играть совсем в другую игру, нежели в прошлом году,
                                    очень много
                                </li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li><img src="img/resources/img/bg.png" alt="" class="img-responsive"></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>