<section class="wrapp_lk">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 visible-xs name_mobile_lk text-center"
                 style="background-image: url({{ctrl.user.avatar.thumb}})">
                <h5 ng-bind="ctrl.user.name"></h5>
                <h4>{{ctrl.user.achievments_score}}<br>баллов</h4>

            </div>
            <div class="col-sm-2 col-md-2 lk_info ">
                    <span ngf-select="ctrl.uploadAvatar($file)" class="edit_hover"><img src="{{ctrl.user.avatar.thumb}}" alt="" class="img-responsive hidden-xs">
                        <button class="edit btn btn_common tiny">Изменить</button>
                    </span>
                <a href="#" class="hidden-xs"><h6 ng-bind="ctrl.user.name" class="fio"></h6></a>

                <ul>
                    <li ng-repeat="hint in ctrl.hints">
                        <img src="{{hint.achievment_type.icon.thumb}}" alt="" class="img-responsive hidden-xs">
                        <h6></h6>
                        <a ui-sref="dashboard.edit">
                            <ul ng-show="!hint.has_achievment">
                                <li ng-bind="hint.achievment_type.hint"></li>
                                <li class="text-center" ng-bind="'+' + hint.achievment_type.points"></li>
                            </ul>

                            <ul ng-show="hint.has_achievment">
                                <li ng-bind="hint.value"></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2 lk_menu text-center">
                <ul>
                    <!-- <li>
                        <a ui-sref="dashboard.profile.progress"><img src="img/resources/img/lk/roket.png" alt="" class="img-responsive">

                            <p ng-class="{'active' : $state.includes('dashboard.profile.progress')}">Моя активность</p></a>
                    </li> -->
                     <li>
                        <a ui-sref="dashboard.profile.fotocontest"><img src="img/resources/img/lk/fotoconc.png" alt="" class="img-responsive">

                            <p ng-class="{'active' : $state.includes('dashboard.profile.fotocontest')}">Творческое задание</p></a>
                    </li>
                    <!--<li>
                        <a ui-sref="dashboard.profile.mytestdrive"><img src="img/resources/img/lk/testdrive.png" alt="" class="img-responsive">

                            <p ng-class="{'active' : $state.includes('dashboard.profile.mytestdrive')}">Мои тест-драйвы</p></a>
                    </li> -->
                    
                    <!-- <li>
                        <a ui-sref="dashboard.profile.prizes"><img src="img/resources/img/lk/supergame.png" alt="" class="img-responsive">

                            <p ng-class="{'active' : $state.includes('dashboard.profile.prizes')}">Призы</p></a>
                    </li> -->
                    
                    <li ng-show="ctrl.user.finalist">
                        <a ui-sref="dashboard.profile.supergame"><img src="img/resources/img/lk/present.png" alt="" class="img-responsive">

                            <p ng-class="{'active' : $state.includes('dashboard.profile.supergame')}">Суперигра</p></a>
                    </li>

                </ul>
            </div>
            <div class="col-sm-8 col-md-8 lk_content">

                <div class="content_wrapp">
                    <div ui-view="">
                    </div>
                </div>

            </div>
            <!-- <div class="col-sm-2 col-md-2 lk_plus ">
                <div scroll-init class="achif_wrapp">
                    <h6 class="text-center" class="my_ball" style="margin-bottom: 30px;">
                        <span ng-bind="'Мои баллы: ' + ctrl.user.points" ></span>
                        <img src="img/resources/img/icon-bal.png" alt="" style="width: 20px; height: 20px;">
                    </h6>
                    <h6 class="text-center">История начисления:</h6>
                    <ul>
                        <li ng-repeat="achievement in ctrl.lastAchievements">
                            <img ng-src="{{achievement.achievment_category.icon.thumb}}" alt="" class="img-responsive">
                            <a href="#">
                                <ul>
                                    <li ng-bind="achievement.achievment_category.name"></li>
                                    <li class="text-center" ng-bind="achievement.points"></li>
                                </ul>
                            </a>
                        </li>

                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</section>
<div class="modal fade" id="share" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="error_message_registration">
                <p>Для участия в фото конкурсе Вам необходимо поделиться этой фотографией в любой из социальных сетей</p>
                <h4 class="share-modal-header">Выберите соц.сеть</h4>
                <share-buttons data="ctrl.shareData"></share-buttons>
            </div>
        </div>

    </div>
</div>


<div class="modal fade supergame" id="question" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!--<button type="button" class="close" data-dismiss="modal"></button>-->
            <div class="timer">
                <p id='p' ng-bind="ctrl.availableTime"></p>
                <span>сек</span>
            </div>
            <div class="game-modal-content">
                <h2 class="vop">Вопрос <b>№{{ctrl.questionIndex}}</b></h2>

                <p ng-bind="ctrl.question.body"></p>
            </div>


            <div class="otvet-ches">
                <div class="otvet-ches-item" ng-repeat="answer in ctrl.question.answer_options">
                    <div class="radio active">
                        <input id="{{answer.id}}" type="radio" ng-model="ctrl.currentAnswer"
                               name="radio2" value="{{answer.answer}}"
                               ng-disabled="ctrl.isTimeOver">
                        <label for="{{answer.id}}">
                            <span></span>

                            <div>{{answer.answer}}</div>
                        </label>
                    </div>
                </div>
            </div>


            <div class="mobal-button priz otvet clearfix">
                <div class="mobal-button-left">

                </div>
                <div class="mobal-button-right " ng-click="ctrl.getNextQuestion()">
                    <button class="btn btn_primary" ng-bind="ctrl.isQuizFinished() ? 'Завершить' : 'Далее'" ng-disabled="ctrl.isButtonDisabled">Далее
                    </button>
                </div>
                <div class="mobal-button-center" ng-show="ctrl.isTimeOver && !ctrl.currentAnswer">
                    <p class="red-one width1">Вы не уложились в отведенное время</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade supergame" id="tour" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!--<button type="button" class="close" data-dismiss="modal"></button>-->
            <div class="timer">
                <p id='p' ng-bind="ctrl.timeBreak"></p>
                <span>сек</span>
            </div>
            <div class="game-modal-content">
                <h2 class="vop">Тур № {{ctrl.currentTour}} завершен.</h2>

                <p>Вы можете начать следующий тур прямо сейчас или сделать перерыв</p>
            </div>

            <div class="mobal-button priz otvet clearfix">
                <div class="mobal-button-left">

                </div>
                <div class="mobal-button-right " ng-click="ctrl.startNewTour()">
                    <button class="btn btn_primary">Старт</button>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade supergame" id="results" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="game-modal-content">
                <h5 style="padding-top: 20px;">Викторина завершена!</h5>
                <br>
                <p> Результаты будут сообщены Вам в течение 2х часов. А также размещены на форуме в соответствующей <a ui-sref="dashboard.forumtopic({id:550})">теме</a>.</p>
                <p>Обязательно проверьте правильность email и номера телефона в личном кабинете! </p>
            </div>

        </div>

    </div>
</div>