<section class="wrapp_lk">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 visible-xs name_mobile_lk text-center"
                 style="background-image: url({{ctrl.user.avatar.thumb}})">
                <h5 ng-bind="ctrl.user.name"></h5>
                <h4>{{ctrl.user.achievments_score}}<br>баллов</h4>

            </div>
            <div class="col-sm-2 col-md-2 lk_info ">
                    <span ngf-select="ctrl.uploadAvatar($file)" class="edit_hover"><img src="{{ctrl.user.avatar.thumb}}" alt="" class="img-responsive hidden-xs">
                        <button class="edit btn btn_common tiny">Изменить</button>
                    </span>
                <a href="#" class="hidden-xs"><h6 ng-bind="ctrl.user.name" class="fio"></h6></a>

                <ul>
                    <li ng-repeat="hint in ctrl.hints">
                        <img src="{{hint.achievment_type.icon.thumb}}" alt="" class="img-responsive hidden-xs">
                        <h6></h6>
                        <a ui-sref="dashboard.edit">
                            <ul ng-show="!hint.has_achievment">
                                <li ng-bind="hint.achievment_type.hint"></li>
                                <li class="text-center" ng-bind="'+' + hint.achievment_type.points"></li>
                            </ul>

                            <ul ng-show="hint.has_achievment">
                                <li ng-bind="hint.value"></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2 lk_menu text-center">
                <ul>
                    <li>
                        <a ui-sref="dashboard.profile.progress"><img src="img/resources/img/lk/roket.png" alt="" class="img-responsive">

                            <p ng-class="{'active' : $state.includes('dashboard.profile.progress')}">Моя активность</p></a>
                    </li>
                    <li ng-show="ctrl.user.can_photo_competition">
                        <a ui-sref="dashboard.profile.fotocontest"><img src="img/resources/img/lk/fotoconc.png" alt="" class="img-responsive">

                            <p ng-class="{'active' : $state.includes('dashboard.profile.fotocontest')}">Фотоконкурс</p></a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.profile.mytestdrive"><img src="img/resources/img/lk/testdrive.png" alt="" class="img-responsive">

                            <p ng-class="{'active' : $state.includes('dashboard.profile.mytestdrive')}">Мои тест-драйвы</p></a>
                    </li>
                    <li ng-show="ctrl.user.can_super_game">
                        <a ui-sref="dashboard.profile.supergame"><img src="img/resources/img/lk/supergame.png" alt="" class="img-responsive">

                            <p ng-class="{'active' : $state.includes('dashboard.profile.supergame')}">Суперигра</p></a>
                    </li>

                    <li>
                        <a ui-sref="dashboard.profile.prizes"><img src="img/resources/img/lk/supergame.png" alt="" class="img-responsive">

                            <p ng-class="{'active' : $state.includes('dashboard.profile.prizes')}">Призы</p></a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 lk_content">
               
                <div class="content_wrapp">
                    <div ui-view="">
                    </div>
                </div>

            </div>
            <div class="col-sm-2 col-md-2 lk_plus">
                <div scroll-init class="achif_wrapp">
                    <h6 class="text-left" style="text-transform: uppercase; font-family: 'SkodaProBold', sans-serif;">
                        Мои баллы:
                    </h6>
                    <h6 class="text-left" style="margin-bottom: 30px;">
                        <span ng-bind="ctrl.user.achievments_score" ></span>
                        <img src="img/resources/img/icon-bal.png" alt="" style="width: 20px; height: 20px;">
                    </h6>
                    <h6 class="text-center">История начисления:</h6>
                    <ul>
                        <li ng-repeat="achievement in ctrl.lastAchievements">
                            <img ng-src="{{achievement.achievment_category.icon.thumb}}" alt="" class="img-responsive">
                            <a href="#">
                                <ul>
                                    <li ng-bind="achievement.achievment_category.name"></li>
                                    <li class="text-center" ng-bind="achievement.points"></li>
                                </ul>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>