<section class="prizes_use_date">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left text_titel">
                <h3>Призы от <br> Škoda hockey</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorem omnis, iure, iste perferendis rerum minima deleniti hic ducimus consequuntur, facere error officiis vitae. Sint quibusdam odit esse vero ea?</p>
            </div>
            <div class="col-md-6  text-left user_info">
                <p class="hidden">Чтобы участвовать в розигрышах призов, необходимо <br> <a>Авторизироваться или пройти регистрацию</a></p>
                <img src="img/resources/img/bg_star.png" alt="" class="img-responsive">
                <h5>Михаил Клюшников</h5>
                <h3>360 баллов</h3>
                <h6>+180 сегодня</h6>    
            </div>
        </div>
    </div>
</section>
<section class="slider_prizes">
    <div class="container-fluid">
        <div class="row">
            
                <slick slides-to-show=5 slides-to-scroll=1 arrows=false dots=false center-mode=true class="second_slider_priz text-center" as-nav-for=".main_slider_priz" swipe=false> 
                    <div>
                        <div class="itep_priz" style="background-image: url('img/resources/img/bg_star.png')">
                            <p>Призы от Шкода</p>
                        </div>
                    </div>
                    <div>
                        <div class="itep_priz" style="background-image: url('img/resources/img/bg_star.png')">
                            <p>Призы от Шкода</p>
                        </div>
                    </div>
                    <div>
                        <div class="itep_priz" style="background-image: url('img/resources/img/bg_star.png')">
                            <p>Призы от Шкода</p>
                        </div>
                    </div>
                    <div>
                        <div class="itep_priz" style="background-image: url('img/resources/img/bg_star.png')">
                            <p>Призы от Шкода</p>
                        </div>
                    </div>
                    <div>
                        <div class="itep_priz" style="background-image: url('img/resources/img/bg_star.png')">
                            <p>Призы от Шкода</p>
                        </div>
                    </div>
                    <div>
                        <div class="itep_priz" style="background-image: url('img/resources/img/bg_star.png')">
                            <p>Призы от Шкода</p>
                        </div>
                    </div>
                     
                   
                </slick>   
                <slick slides-to-show=1 slides-to-scroll=1 arrows=true class="text-center main_slider_priz" as-nav-for=".second_slider_priz">
                    <div><h6>Призы от Шкода</h6></div>
                    <div><h6>Призы от Шкода</h6></div>
                    <div><h6>Призы от Шкода</h6></div>
                    <div><h6>Призы от Шкода</h6></div>
                    <div><h6>Призы от Шкода</h6></div>
                    <div><h6>Призы от Шкода</h6></div>
                    <div><h6>Призы от Шкода</h6></div>
                </slick>
            
        </div>
        <div class="row page_prizs_priz">
            <div class="col-md-3">
                <slick slides-to-show=1 slides-to-scroll=1 arrows=false dots=true> 
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                </slick>
                
            </div>
            <div class="col-md-3">
                <ul class="info_priz">
                    <li>Розыгрышь через <span>12 часов</span></li>
                    <li>Бумажные фигурки хоккеистов</li>
                    <li>текст о лоте: что он полезен и блалалалалалала</li>
                    <li> 100</li>
                    <li>баллов</li>
                </ul>
                <button class="btn btn_primary tiny">Участвовать!</button>
            </div>
            <div class="col-md-3">
                <slick slides-to-show=1 slides-to-scroll=1 arrows=false dots=true> 
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                </slick>
                
            </div>
            <div class="col-md-3">
                <ul class="info_priz">
                    <li>Розыгрышь через <span>12 часов</span></li>
                    <li>Бумажные фигурки хоккеистов</li>
                    <li>текст о лоте: что он полезен и блалалалалалала</li>
                    <li> 100</li>
                    <li>баллов</li>
                </ul>
                <button class="btn btn_primary tiny">Участвовать!</button>
            </div>
            <div class="col-md-3">
                <slick slides-to-show=1 slides-to-scroll=1 arrows=false dots=true> 
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                </slick>
                
            </div>
            <div class="col-md-3">
                <ul class="info_priz">
                    <li>Розыгрышь через <span>12 часов</span></li>
                    <li>Бумажные фигурки хоккеистов</li>
                    <li>текст о лоте: что он полезен и блалалалалалала</li>
                    <li> 100</li>
                    <li>баллов</li>
                </ul>
                <button class="btn btn_primary tiny">Участвовать!</button>
            </div>
            <div class="col-md-3">
                <slick slides-to-show=1 slides-to-scroll=1 arrows=false dots=true> 
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                    <div><img src="img/resources/img/prizesPage/priz10.png" alt="" class="img-responsive"></div>
                </slick>
                
            </div>
            <div class="col-md-3">
               <ul class="info_priz">
                    <li>Розыгрышь через <span>12 часов</span></li>
                    <li>Бумажные фигурки хоккеистов</li>
                    <li>текст о лоте: что он полезен и блалалалалалала</li>
                    <li> 100</li>
                    <li>баллов</li>
                </ul>
                <button class="btn btn_primary tiny">Участвовать!</button>
            </div>
        </div>
    </div>
</section>