
<section class="slider_prizes">
    <div class="container-fluid">
        <div class="row">

                <slick infinite="true" slides-to-show="4" slides-to-scroll="1" arrows="false" dots="false" focusOnSelect="true"
                       class="second_slider_priz text-center" as-nav-for=".main_slider_priz" swipe="true" responsive="ctrl.responsive">

                    <div class="itep_priz" ng-click="ctrl.changeSponsor(sponsor)" ng-repeat="sponsor in ctrl.sponsors" style="background-image: url({{sponsor.image.small}})">
                    </div>

                </slick>

<section class="prizes_use_date">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 text-left text_titel">
                <h3 ng-bind="ctrl.currentSponsor.name">Призы от <br> Škoda hockey</h3>
                <p ng-bind-html="ctrl.currentSponsor.description"></p>
            </div>
            <div class="col-md-5  text-left user_info" >
                <p ng-show="!ctrl.session.isAuthenticated">Чтобы участвовать в розигрышах призов, необходимо <br> <a
                        ng-click="ctrl.login.open()" href="#">Авторизироваться или пройти регистрацию</a></p>
               <!--  <div ng-show="ctrl.session.isAuthenticated" class="clearfix">
                    <div class="user-right clearfix">
                        <div class="img">
                            <img src="{{ctrl.user.avatar.thumb}}" alt="" class="img-responsive">
                        </div>
                        <div class="text-user">
                            <h5 ng-bind="ctrl.user.name">Михаил Клюшников</h5>
                            <h3 ng-bind="ctrl.user.achievments_score + ' баллов'"></h3>
                            <h6 ng-bind="'+' + ctrl.user.achievments_score_today + ' сегодня'">+180 сегодня</h6>
                        </div>
                    </div>


                </div> -->

            </div>
        </div>
    </div>
</section>

                <slick current-index="ctrl.currentSponsorIndex" on-after-change="ctrl.changeSponsor()" slides-to-show=1
                       slides-to-scroll=1 arrows=true class="text-center main_slider_priz" as-nav-for=".second_slider_priz">
                    <div ng-repeat="sponsor in ctrl.sponsors"><h6 ng-bind="sponsor.name"></h6></div>
                </slick>

        </div>
        <div class="row page_prizs_priz">

            <div ng-repeat="prize in ctrl.currentSponsor.prizes">
                <div class="col-md-3">
                    <slick slides-to-show=1 slides-to-scroll=1 arrows=false dots=true>
                        <div><img src="{{prize.image.small}}" alt="" class="img-responsive"></div>

                    </slick>

                </div>
                <div class="col-md-3">
                    <ul class="info_priz">
                        <li></li>
                        <li ng-bind="prize.name">Билеты на матч Россия-Латвия</li>
                        <li ng-bind="prize.description">Поддержи наших на стадионе! Ты должен быть там!</li>
                        <li></li>
                        <li></li>
                    </ul>
                    <button class="btn btn_primary tiny" ng-disabled="false" ui-sref="{{ctrl.currentSponsor.id == 2 ? 'dashboard.game.sectors' : 'dashboard.game.sectors'}}">Участвовать!</button>
                   <!--  <button class="btn btn_primary tiny" ng-disabled="false" ui-sref="{{ctrl.currentSponsor.id == 2 ? 'dashboard.teodor' : 'dashboard.game.sectors'}}">Участвовать!</button> -->
                </div>
            </div>

        </div>
        <div class="row">
            <div class="all-prizes">
                <h3 class="all-prizes-header">Все призы</h3>
                <slick class="all-prizes-slider" slides-to-show="5" slides-to-scroll="5" arrows="true" responsive="ctrl.responsivePrizes">
                    <div class="item" ng-repeat="prize in ctrl.allPrizes">
                        <div class="all-prizes-item">
                            <img src="{{prize.image.small}}" alt="">
                            <div class="all-prizes-item--watch">
                                <a href="" ng-click="ctrl.openInfo(prize)" class="btn btn_common small">Смотреть</a>
                            </div>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
        <div class="row how">
        <div class="col-md-12"><h6>Как выиграть автомобиль?</h6></div>
            <div class="col-md-6">

                <p>Чтобы принять участие в розыгрыше автомобиля, Вам необходимо принять участие в квесте, который включает следующие шаги:<br>
                1. Пройти тест-драйв в дилерском центре, получить купон с промо-кодом.<br>
                2. Активировать полученный промо-код на сайте hockey-skoda.ru<br>
                3. Набрать 1500 баллов на сайте и купить «супер ячейку».<br>
                4. Ответить на 3 несложных вопроса о хоккее, и получить инструкции для участия в творческом конкурсе</p>
            </div>
            <div class="col-md-6">

                <p>
                5. Принять участие в творческом конкурсе, в котором будут выбраны 25 супер-финалистов!<br>
                6. Сыграть в режиме онлайн в интеллектуальную игру на темы хоккея и SKODA против других участников и ответить на максимальное количество вопросов!<br><br>
                Если Вы все сделаете безупречно, то обязательно окажетесь в числе трех счастливчиков, которые разделят между собой призовой фонд – 3 автомобиля SKODA! <span class="pravil" ui-sref="dashboard.regulations">Правила конкурса</span>
                </p>
            </div>
        </div>

        <div class="row how">
            <div class="col-md-12">
                <p>*Срок проведения конкурса – с 19 апреля по 19 мая. Информация об организаторе конкурса, о правилах его проведения, количестве призов по результатам конкурса, сроках,
                    месте и порядке их получения – на <a style="color: #4ba82e" href="http://hockey-skoda.ru/">www.hockey-skoda.ru</a>.</p>
            </div>
        </div>


    </div>
</section>

<section class="wrapp_mainpage_end">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3><!-- #хоккейвкаждом --></h3>

                <h1><!-- Škoda hockey edition --></h1>
                 <ul class="text-left">
                    <span></span>
                </ul>
            </div>

        </div>

    </div>

</section>

<!-- Modal info prize -->
<div class="modal fade modal-prize-info" id="modalInfo" role="dialog" >
    <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-prize-info-content">
              <div class="col-md-5">
                  <div class="modal-prize-info--img">
                      <img src="{{ctrl.currentPrize.image.small}}" alt="">
                  </div>
              </div>
              <div class="col-md-7">
                  <h3 class="modal-prize-info--header" ng-bind="ctrl.currentPrize.name">Билеты <br>Россия – Латвия</h3>
                  <p ng-bind="ctrl.currentPrize.description">Поддержи наших на стадионе!<br> Ты должен быть там!</p>
                  <a href="#" class="btn btn_primary small" ng-click="ctrl.goToGame()">Участвовать!</a>
                  <h5>Кто разыгрывает?</h5>
                  <div class="modal-prize-info-organizer">
                      <img ng-click="ctrl.showSponsor(ctrl.currentPrize.sponsorId)" src="{{ctrl.currentPrize.sponsorImage.small}}" alt="">
                  </div>
              </div>
          </div>
          <button type="button" class="close" ng-click="ctrl.close()" data-dismiss="modal" aria-label="Close"></button>
        </div>

    </div>
</div>