<section class="wrapp_photokonkurs-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>ТВОРЧЕСКОЕ ЗАДАНИЕ</h1>

                <p>Голосуйте за понравившиеся фотографии!</p>
                <a ui-sref="dashboard.forumtopic({id: 329, page: 1})">Правила конкурса</a>
                <a ui-sref="dashboard.prizenew">Викторины</a>
            </div>
        </div>
    </div>
</section>
<section class="wrapp_photokonkurs">
    <div class="container">

        <div class="row">

          <div class="col-md-3">
            <a  ui-sref="dashboard.profile.fotocontest"  ><span class="btn btn_common small" id="uploadButton">Загрузить свое фото</span> </a>
          </div>
          <div class="col-md-9">
            <span style="padding-top: 20px; font-size: 14px;">Будьте внимательны! За каждое фото можно проголосовать только 1 раз в сутки.</span>
          </div>
        </div>
        <div class="row">  
            <div class="col-md-12">
                <div class="photokonkurs-item-block">
                    <div class="photokonkurs-item-post" ng-repeat="photo in ctrl.photos">
                        <div class="photokonkurs-item-post-img">
                            <img src="{{photo.image.small}}" alt="">
                            <span class="bg-black-licke">
                              <span class="photo-like"  ng-click="ctrl.likePhoto(photo)"><i class="fa fa-heart-o"  ng-class="{'fa-heart': photo.liked_last_day}" aria-hidden="true"></i></span>
                            </span>
                        </div>
                        <div class="photokonkurs-item-post-text clearfix">
                            <div class="face clearfix">
                                <div class="face-img-left"
                                     style="background-image:url({{::photo.user.avatar.thumb}});background-position:center center;background-size:cover;">

                                </div>
                                <div class="face-text-right">
                                    <h3 ng-bind="::photo.user.name">Михаил Клюшкин</h3>

                                    <p class="time-face" ng-bind="::photo.published_at | amDateFormat:'DD MMMM H:mm'">
                                        1 апреля 15:23
                                    </p>

                                </div>
                            </div>
                            <div class="photokonkurs-item-post-text-like" >
                                <span class="photo-like" ng-click="ctrl.likePhoto(photo)"><i class="fa fa-heart-o" ng-class="{'fa-heart': photo.liked_last_day}" aria-hidden="true"></i>{{photo.likes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static" >
    <div class="modal-dialog">

        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div>
                Чтобы оставить свой голос необходимо подтвердить e-mail. <a href="#" ng-click="ctrl.resendEmail()">Подтвердить</a> .
            </div>
        </div>

    </div>
</div>
