<section class="wrapp_photokonkurs-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Фотоконкурс</h1>

                <p>Текст, который описывает суть происходящего, для чего это надо и чем черевато. Про то, что победители
                    получают право на участие в творческом конкурсе. </p>
                <a ui-sref="dashboard.regulations">Правила конкурса</a>
                <a ui-sref="dashboard.prizenew">Викторины</a>
            </div>
        </div>
    </div>
</section>
<section class="wrapp_photokonkurs">
    <div class="container">
        <!--<div class="row">
          <div class="col-md-12">
            <div class="photokonkurs-timer-block">
              <p class="photokonkurs-text">До определения <br> победителей осталось:</p>
              <div class="photokonkurs-timer clearfix">
                <div class="photokonkurs-timer-item">
                  <p>10</p>
                  <span>дней</span>
                </div>
                <div class="photokonkurs-timer-item">
                  <p>07</p>
                  <span>часов</span>
                </div>
                <div class="photokonkurs-timer-item">
                  <p>23</p>
                  <span>минуты</span>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <div class="row">
          <!--<div class="col-md-4">
            <select class="selectpicker photokonkurs-select" data-size="12" >
                    <option disabled selected value> Выберите команду </option>

                  </select>
          </div>-->
          <div class="col-md-3">
            <a ui-sref="dashboard.profile.fotocontest"><span class="btn btn_common small" id="uploadButton">Загрузить свое фото</span></a>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="photokonkurs-item-block">
                    <div class="photokonkurs-item-post" ng-repeat="photo in ctrl.photos">
                        <div class="photokonkurs-item-post-img">
                            <img src="{{photo.image.small}}" alt="">
                        </div>
                        <div class="photokonkurs-item-post-text">
                            <div class="face clearfix">
                                <div class="face-img-left"
                                     style="background-image:url({{::photo.user.avatar.thumb}});background-position:center center;background-size:cover;">

                                </div>
                                <div class="face-text-right">
                                    <h3 ng-bind="::photo.user.name">Михаил Клюшкин</h3>

                                    <p class="time-face" ng-bind="::photo.published_at | amDateFormat:'DD MMMM H:mm'">
                                        1 апреля 15:23
                                    </p>

                                </div>
                            </div>
                            <div class="photokonkurs-item-post-text-like">
                                <span class="photo-like" ng-click="ctrl.likePhoto(photo)"><i class="icon icon-photokonkurs"></i>{{photo.likes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 