<!-- tantamareska -->
<div class="loader-container" ng-show="ctrl.isButtonDisabled"><span class="loader-icon"></span></div>
<section class="wrapp_tantamareska" tantam-init>
    <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-5 col-xs-mob">
                    <h2>Я - ХОККЕИСТ</h2> 
                    <p >Выбери сюжет загрузи свою фотографию<br> и поделись с друзьями</p>
                    <span class="btn btn_common small" id="uploadButton">
                        Загрузить свое фото
                        <input type="file" accept="image/*" class="file-photo">
                    </span>
                </div>
                <div class="col-xs-6 col-md-7 col-xs-mob">
                     <img src="img/resources/img/tantam/header_img.png" alt="" class="img-responsive right">   
                </div>
            </div>
        </div>  
</section>
<!--end tantamareska -->


<div class="loader-wrapper">
    <span class="loader"></span>
</div>

<!-- Modal -->
<div id="cropModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Обрезка изображения</h4>
      </div>
      <div class="modal-body">
        <div id="photo-load">
            <div class="loader-wrapper">
                <span class="loader"></span>
            </div>
            <canvas id="loading-canvas"></canvas>
            <img src="" alt="" id="loadimg">
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
          <button type="button" class="btn btn_primary tiny" data-dismiss="modal" id="save-crop">Сохранить изменения</button>
      </div>
    </div>

  </div>
</div>



<!-- slider -->
<section class="wrapp_slider tamtam-slider">
    <div class="tamtam-panel">
        <img class="crop-result tamtam-img" src="" >
    </div>
    <canvas id="tamtam-canvas" width="0" height="0"></canvas>
    <div class="container-fluid"> 
            <div class="row">
                
                <slick class="single-item main_tantam" slides-to-show=1 slides-to-scroll=1 as-nav-for=".other_tantam" arrows=false>
                    <div class="block-slid box">
                        <img src="img/resources/img/tantam/tantamareska-1.png" alt="">
                    </div>
                    <div class="block-slid box">
                        <img src="img/resources/img/tantam/tantamareska-2.png" alt="">
                    </div>
                    <div class="block-slid box">
                        <img src="img/resources/img/tantam/tantamareska-33.png" alt="">
                    </div>
                    <div class="block-slid box">
                        <img src="img/resources/img/tantam/tantamareska-4.png" alt="">
                    </div>
                    <div class="block-slid box">
                        <img src="img/resources/img/tantam/tantamareska-5.png" alt="">
                    </div>
                </slick>
                <slick class="single-item other_tantam" slides-to-show=4 slides-to-scroll=1 as-nav-for=".main_tantam" arrows = true>
                    <div class="block-slid-2 box" style="background-image: url('img/resources/img/tantam/tantamareska-1.png')">
                        
                    </div>
                    <div class="block-slid-2 box" style="background-image: url('img/resources/img/tantam/tantamareska-2.png')">
                        
                    </div>
                    <div class="block-slid-2 box" style="background-image: url('img/resources/img/tantam/tantamareska-33.png')">
                        
                    </div>
                    <div class="block-slid-2 box" style="background-image: url('img/resources/img/tantam/tantamareska-4.png')">
                        
                    </div>
                    <div class="block-slid-2 box" style="background-image: url('img/resources/img/tantam/tantamareska-5.png')">
                        <img src="" alt="">
                    </div>
                </slick>

            </div>
        </div>  
</section>
<!--end slider -->

<!-- share -->
<section class="wrapp_toggle wrapp_toggle_share">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                
            </div>
        </div>
        <div class="toggle_button row">
            <div class="col-md-12">
                <button ng-disabled="ctrl.isButtonDisabled" class="btn btn_primary tiny" id="tamtamSend" ng-bind="ctrl.sendButtonText || 'Cоздать изображение'"></button>
            </div>
        </div>
    </div>
</section>
<!--end share -->

<img class="tamtam-share" src="">