<ul class="tantam-share" social-init>
    <li>
        <a ng-click="ctrl.tryShare()" class="sharing-link" href="{{ctrl.facebookShareLink}}">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </li>

    <li>
        <a ng-click="ctrl.tryShare()" class="sharing-link" href="{{ctrl.twitterShareLink}}">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </li>

    <li>
        <a ng-click="ctrl.tryShare()" class="sharing-link"
           href="{{ctrl.vkShareLink}}">
            <i class="fa fa-vk" aria-hidden="true"></i>
        </a>
    </li>
</ul>