<ul class="tantam-share">
    <li>
        <a ng-click="ctrl.tryShare()" class="sharing-link" href="https://www.facebook.com/sharer.php?src=sp&u={{ctrl.data.imgUrl}}">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </li>

    <li>
        <a ng-click="ctrl.tryShare()" class="sharing-link" href="https://twitter.com/intent/tweet?text={{ctrl.data.title}}&url={{ctrl.data.imgUrl}}">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </li>

    <li>
        <a ng-click="ctrl.tryShare()" class="sharing-link"
           href="http://vk.com/share.php?url={{ctrl.data.url}}&title={{ctrl.data.title}}&description={{ctrl.data.description}}&image={{ctrl.data.imgUrl}}">
            <i class="fa fa-vk" aria-hidden="true"></i>
        </a>
    </li>
</ul>