<section class="wrapp_forecast_content_mob mobile" slider-init ng-init="ctrl.openSpeed()">
    <div class="forecast_slider">
        <div class="slider-nav_forecast">
         <div class="nav_block">
                <h4>Отборочные</h4>
            </div>
            <div class="nav_block">
                <h4>Четвертьфинал</h4>
            </div>
            <div class="nav_block">
                <h4>Полуфинал</h4>
            </div>
            <div class="nav_block">
                <h4>Финал</h4>
            </div>
        </div>
        <div class="slider-for_block">
                <div class="backg-1 text-center">
                    <h4>Отборочные матчи</h4>
                    <ul class="group_a">
                        <li>Чехия</li>
                        <li>Дания</li>
                        <li>Казахстан</li>
                        <li>Латвия</li>
                        <li>Норвегия</li>
                        <li>Россия</li>
                        <li>Швейцария</li>
                        <li>Швеция</li>
                    </ul>
                    <ul class="group_b">
                        <li>Беларусь</li>
                        <li>Канада</li>
                        <li>Финляндия</li>
                        <li>Франция</li>
                        <li>Германия</li>
                        <li>Венгрия</li>
                        <li>Словакия</li>
                        <li>США</li>
                    </ul>
                </div>
            <div class=" backg-1">
                <div class="choice_one">
                    <div class="choice_one-item" >
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small"
                                    ng-options="team.country for team in ctrl.forecast.firstQuarter.teams"
                                    ng-model="ctrl.forecast.firstQuarter.redteam"  ng-disabled="ctrl.forecast.firstQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.firstQuarter)">
                                <option disabled  value ng-show="ctrl.forecast.firstQuarter.redteam"
                                        ng-bind="ctrl.forecast.firstQuarter.redteam.country || 'Выберите команду'"></option>

                            </select>
                        </div>
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small"
                                    ng-options="team.country for team in ctrl.forecast.firstQuarter.teams track by team.id"
                                    ng-model="ctrl.forecast.firstQuarter.blueteam"  ng-disabled="ctrl.forecast.firstQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.firstQuarter)">
                                <option disabled  value ng-show="ctrl.forecast.firstQuarter.blueteam"
                                        ng-bind="ctrl.forecast.firstQuarter.blueteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                    </div>
                    <div class="choice_one-item" >
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small"
                                    ng-options="team.country for team in ctrl.forecast.secondQuarter.teams  track by team.id"
                                    ng-model="ctrl.forecast.secondQuarter.redteam" ng-disabled="ctrl.forecast.secondQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.secondQuarter)">
                                <option disabled  value ng-show="ctrl.forecast.secondQuarter.redteam"
                                        ng-bind="ctrl.forecast.secondQuarter.redteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small"
                                    ng-options="team.country for team in ctrl.forecast.secondQuarter.teams  track by team.id"
                                    ng-model="ctrl.forecast.secondQuarter.blueteam" ng-disabled="ctrl.forecast.secondQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.secondQuarter)">
                                <option disabled  value ng-show="ctrl.forecast.secondQuarter.blueteam"
                                        ng-bind="ctrl.forecast.secondQuarter.blueteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                    </div>
                    <div class="choice_one-item" >
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small"
                                    ng-options="team.country for team in ctrl.forecast.thirdQuarter.teams track by team.id"
                                    ng-model="ctrl.forecast.thirdQuarter.redteam" ng-disabled="ctrl.forecast.thirdQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.thirdQuarter)">
                                <option disabled  value ng-show="ctrl.forecast.thirdQuarter.redteam"
                                        ng-bind="ctrl.forecast.thirdQuarter.redteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small"
                                    ng-options="team.country for team in ctrl.forecast.thirdQuarter.teams track by team.id"
                                    ng-model="ctrl.forecast.thirdQuarter.blueteam" ng-disabled="ctrl.forecast.thirdQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.thirdQuarter)">
                                <option disabled  value ng-show="ctrl.forecast.thirdQuarter.blueteam"
                                        ng-bind="ctrl.forecast.thirdQuarter.blueteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                    </div>
                    <div class="choice_one-item" >
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small"
                                    ng-options="team.country for team in ctrl.forecast.forthQuarter.teams track by team.id"
                                    ng-model="ctrl.forecast.forthQuarter.redteam" ng-disabled="ctrl.forecast.forthQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.forthQuarter)">
                                <option disabled="disabled"  value ng-show="ctrl.forecast.forthQuarter.redteam"
                                        ng-bind="ctrl.forecast.forthQuarter.redteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small"
                                    ng-options="team.country for team in ctrl.forecast.forthQuarter.teams track by team.id"
                                    ng-model="ctrl.forecast.forthQuarter.blueteam" ng-disabled="ctrl.forecast.forthQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.forthQuarter)">
                                <option disabled="disabled"  value ng-show="ctrl.forecast.forthQuarter.blueteam"
                                        ng-bind="ctrl.forecast.forthQuarter.blueteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backg-2 pos_col-2">
                <div class="choice_one">
                    <div class="choice_one-item" >
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small "
                                    ng-options="team.country for team in ctrl.forecast.firstSemiFinal.teams track by team.id"
                                    ng-model="ctrl.forecast.firstSemiFinal.redteam" ng-disabled="ctrl.forecast.firstSemiFinal.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.firstSemiFinal)">
                                <option disabled="disabled"  value ng-show="ctrl.forecast.firstSemiFinal.redteam"
                                        ng-bind="ctrl.forecast.firstSemiFinal.redteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small "
                                    ng-options="team.country for team in ctrl.forecast.firstSemiFinal.teams track by team.id"
                                    ng-model="ctrl.forecast.firstSemiFinal.blueteam" ng-disabled="ctrl.forecast.firstSemiFinal.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.firstSemiFinal)">
                                <option disabled="disabled"  value ng-show="ctrl.forecast.firstSemiFinal.blueteam"
                                        ng-bind="ctrl.forecast.firstSemiFinal.blueteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                    </div>

                    <div class="choice_one-item-bl">
                        <p class="bl-text">
                            3-е место
                        </p>
                        
                            <select  class="input_default input_small " data-size="12" >
                                  <option disabled selected value> Выберите команду </option>
                                </select>
                    </div>
                    
                    <div class="choice_one-item" >
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small "
                                    ng-options="team.country for team in ctrl.forecast.secondSemiFinal.teams track by team.id"
                                    ng-model="ctrl.forecast.secondSemiFinal.redteam" ng-disabled="ctrl.forecast.secondSemiFinal.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.secondSemiFinal)">
                                <option disabled="disabled"  value ng-show="ctrl.forecast.secondSemiFinal.redteam"
                                        ng-bind="ctrl.forecast.secondSemiFinal.redteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small "
                                    ng-options="team.country for team in ctrl.forecast.secondSemiFinal.teams track by team.id"
                                    ng-model="ctrl.forecast.secondSemiFinal.blueteam" ng-disabled="ctrl.forecast.secondSemiFinal.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.secondSemiFinal)">
                                <option disabled="disabled"  value ng-show="ctrl.forecast.secondSemiFinal.blueteam"
                                        ng-bind="ctrl.forecast.secondSemiFinal.blueteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backg-3 pos_col-3">
                <div class="choice_one">
                    <div class="choice_one-item" >
                        <div class="choice_one-item-bor">
                            <select class="input_default input_small "
                                    ng-options="team.country for team in ctrl.forecast.final.teams track by team.id"
                                    ng-model="ctrl.forecast.final.redteam" ng-disabled="ctrl.forecast.final.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.final)">
                                <option disabled="disabled"  value ng-show="ctrl.forecast.final.redteam"
                                        ng-bind="ctrl.forecast.final.redteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>

                        <div class="choice_one-item-bl">
                            <p class="bl-text">
                                1-е место
                            </p>
                        
                            <select  class="input_default input_small " data-size="12" >
                                  <option disabled selected value> Выберите команду </option>
                                </select>
                        </div>

                        <div class="choice_one-item-bor">
                            <select class="input_default input_small "
                                    ng-options="team.country for team in ctrl.forecast.final.teams track by team.id"
                                    ng-model="ctrl.forecast.final.blueteam" ng-disabled="ctrl.forecast.final.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.final)">
                                <option disabled="disabled"  value ng-show="ctrl.forecast.final.blueteam"
                                        ng-bind="ctrl.forecast.final.blueteam.country || 'Выберите команду'"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapp_forecast_content ">
    <div class="forecast_content_block">
        <form ng-submit="ctrl.sendForecast()" >
            <div class="forecast_content_block_im destop clearfix">
                <div class="col-sm-3 backg-1 text-center">
                    <h4>Отборочные матчи<span class="green">+50 <i class="icon icon-bal"></i></span></h4>
                    <ul class="group_a">
                        <li>Чехия</li>
                        <li>Дания</li>
                        <li>Казахстан</li>
                        <li>Латвия</li>
                        <li>Норвегия</li>
                        <li>Россия</li>
                        <li>Швейцария</li>
                        <li>Швеция</li>
                    </ul>
                    <ul class="group_b">
                        <li>Беларусь</li>
                        <li>Канада</li>
                        <li>Финляндия</li>
                        <li>Франция</li>
                        <li>Германия</li>
                        <li>Венгрия</li>
                        <li>Словакия</li>
                        <li>США</li>
                    </ul>
                </div>
                <div class="col-sm-3 backg-1">
                    <h4>Четвертьфинал <span class="green">+50 <i class="icon icon-bal"></i></span></h4>

                    <div class="choice_one">
                        <div class="choice_one-item" >
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small"
                                        ng-options="team.country for team in ctrl.forecast.firstQuarter.teams"
                                        ng-model="ctrl.forecast.firstQuarter.redteam"  ng-disabled="ctrl.forecast.firstQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.firstQuarter)">
                                    <option disabled  value ng-show="ctrl.forecast.firstQuarter.redteam"
                                            ng-bind="ctrl.forecast.firstQuarter.redteam.country || 'Выберите команду'"></option>

                                </select>
                            </div>
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small"
                                        ng-options="team.country for team in ctrl.forecast.firstQuarter.teams track by team.id"
                                        ng-model="ctrl.forecast.firstQuarter.blueteam"  ng-disabled="ctrl.forecast.firstQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.firstQuarter)">
                                    <option disabled  value ng-show="ctrl.forecast.firstQuarter.blueteam"
                                            ng-bind="ctrl.forecast.firstQuarter.blueteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                        </div>
                        <div class="choice_one-item" >
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small"
                                        ng-options="team.country for team in ctrl.forecast.secondQuarter.teams  track by team.id"
                                        ng-model="ctrl.forecast.secondQuarter.redteam" ng-disabled="ctrl.forecast.secondQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.secondQuarter)">
                                    <option disabled  value ng-show="ctrl.forecast.secondQuarter.redteam"
                                            ng-bind="ctrl.forecast.secondQuarter.redteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small"
                                        ng-options="team.country for team in ctrl.forecast.secondQuarter.teams  track by team.id"
                                        ng-model="ctrl.forecast.secondQuarter.blueteam" ng-disabled="ctrl.forecast.secondQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.secondQuarter)">
                                    <option disabled  value ng-show="ctrl.forecast.secondQuarter.blueteam"
                                            ng-bind="ctrl.forecast.secondQuarter.blueteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                        </div>
                        <div class="choice_one-item" >
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small"
                                        ng-options="team.country for team in ctrl.forecast.thirdQuarter.teams track by team.id"
                                        ng-model="ctrl.forecast.thirdQuarter.redteam" ng-disabled="ctrl.forecast.thirdQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.thirdQuarter)">
                                    <option disabled  value ng-show="ctrl.forecast.thirdQuarter.redteam"
                                            ng-bind="ctrl.forecast.thirdQuarter.redteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small"
                                        ng-options="team.country for team in ctrl.forecast.thirdQuarter.teams track by team.id"
                                        ng-model="ctrl.forecast.thirdQuarter.blueteam" ng-disabled="ctrl.forecast.thirdQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.thirdQuarter)">
                                    <option disabled  value ng-show="ctrl.forecast.thirdQuarter.blueteam"
                                            ng-bind="ctrl.forecast.thirdQuarter.blueteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                        </div>
                        <div class="choice_one-item" >
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small"
                                        ng-options="team.country for team in ctrl.forecast.forthQuarter.teams track by team.id"
                                        ng-model="ctrl.forecast.forthQuarter.redteam" ng-disabled="ctrl.forecast.forthQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.forthQuarter)">
                                    <option disabled  value ng-show="ctrl.forecast.forthQuarter.redteam"
                                            ng-bind="ctrl.forecast.forthQuarter.redteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small"
                                        ng-options="team.country for team in ctrl.forecast.forthQuarter.teams track by team.id"
                                        ng-model="ctrl.forecast.forthQuarter.blueteam" ng-disabled="ctrl.forecast.forthQuarter.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.forthQuarter)">
                                    <option disabled  value ng-show="ctrl.forecast.forthQuarter.blueteam"
                                            ng-bind="ctrl.forecast.forthQuarter.blueteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 backg-2 pos_col-2">
                    <h4>Полуфинал<span class="green">+50 <i class="icon icon-bal"></i></span></h4>

                    <div class="choice_one">
                        <div class="choice_one-item" >
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small "
                                        ng-options="team.country for team in ctrl.forecast.firstSemiFinal.teams track by team.id"
                                        ng-model="ctrl.forecast.firstSemiFinal.redteam" ng-disabled="ctrl.forecast.firstSemiFinal.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.firstSemiFinal)">
                                    <option disabled="disabled"  value ng-show="ctrl.forecast.firstSemiFinal.redteam"
                                            ng-bind="ctrl.forecast.firstSemiFinal.redteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small "
                                        ng-options="team.country for team in ctrl.forecast.firstSemiFinal.teams track by team.id"
                                        ng-model="ctrl.forecast.firstSemiFinal.blueteam" ng-disabled="ctrl.forecast.firstSemiFinal.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.firstSemiFinal)">
                                    <option disabled="disabled"  value ng-show="ctrl.forecast.firstSemiFinal.blueteam"
                                            ng-bind="ctrl.forecast.firstSemiFinal.blueteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                        </div>
                        <div class="choice_one-item-bl">
                        <p class="bl-text">
                            3-е место
                        </p>
                        
                            <select  class="input_default input_small " data-size="12" >
                                  <option disabled selected value> Выберите команду </option>
                                </select>
                        </div>
                        <div class="choice_one-item" >
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small "
                                        ng-options="team.country for team in ctrl.forecast.secondSemiFinal.teams track by team.id"
                                        ng-model="ctrl.forecast.secondSemiFinal.redteam" ng-disabled="ctrl.forecast.secondSemiFinal.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.secondSemiFinal)">
                                    <option disabled="disabled"  value ng-show="ctrl.forecast.secondSemiFinal.redteam"
                                            ng-bind="ctrl.forecast.secondSemiFinal.redteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small "
                                        ng-options="team.country for team in ctrl.forecast.secondSemiFinal.teams track by team.id"
                                        ng-model="ctrl.forecast.secondSemiFinal.blueteam" ng-disabled="ctrl.forecast.secondSemiFinal.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.secondSemiFinal)">
                                    <option disabled="disabled"  value ng-show="ctrl.forecast.secondSemiFinal.blueteam"
                                            ng-bind="ctrl.forecast.secondSemiFinal.blueteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 backg-3 pos_col-3">
                    <h4>Финал<span class="green">+50 <i class="icon icon-bal"></i></span></h4>

                    <div class="choice_one">
                        <div class="choice_one-item" >
                            <div class="choice_one-item-bor">
                                <select class="input_default input_small "
                                        ng-options="team.country for team in ctrl.forecast.final.teams track by team.id"
                                        ng-model="ctrl.forecast.final.redteam" ng-disabled="ctrl.forecast.final.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.final)">
                                    <option disabled="disabled"  value ng-show="ctrl.forecast.final.redteam"
                                            ng-bind="ctrl.forecast.final.redteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>

                            <div class="choice_one-item-bl">
                        <p class="bl-text">
                            1-е место
                        </p>
                        
                            <select  class="input_default input_small " data-size="12" >
                                  <option disabled selected value> Выберите команду </option>
                                </select>
                        </div>

                            <div class="choice_one-item-bor">
                                <select class="input_default input_small "
                                        ng-options="team.country for team in ctrl.forecast.final.teams track by team.id"
                                        ng-model="ctrl.forecast.final.blueteam" ng-disabled="ctrl.forecast.final.disabled" ng-change="ctrl.changeSelectTeam(ctrl.forecast.final)">
                                    <option disabled="disabled"  value ng-show="ctrl.forecast.final.blueteam"
                                            ng-bind="ctrl.forecast.final.blueteam.country || 'Выберите команду'"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forecast clearfix">
                <div class="col-sm-7">
                    <button class="btn btn_primary main" ng-disabled="!ctrl.canSendForecast">Таков мой прогноз!</button>
                </div>
                <div class="col-md-5">
                    <share-buttons data="{}"></share-buttons>
                </div>
            </div>
        </form>
    </div>
</section>