<section class="factSection">
        <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12 col-md-3" ng-repeat="fact in ctrl.facts | limitTo:4">
                    <figure>
                        <div class="factImgWrap" style="background-image: url('img/resources/img/factPage/2.png');">
                        </div>
                        <figcaption class="col-md-12">
                            <p ng-bind="fact.name"></p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-12 col-md-3" ng-repeat="fact in ctrl.facts | limitTo:1000:4">
                    <figure class="half">
                        <div class="factImgWrap" style="background-image: url('img/resources/img/factPage/3.png');">
                        </div>
                        <figcaption class="col-md-12">
                            <p ng-bind="fact.name"></p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul>
                        <li>
                            <button ng-click="ctrl.loadMore()" class="btn btn_common main">Показать ещё</button>
                        </li>
                        <li>Показано 100 фактов из 1000</li>
                    </ul>
                    
                </div>
            </div>
        </div>
</section>