<div class="wrapp_menu_fact">
        <div class="menu_line ">
            <ul>
               <a ui-sref="dashboard.general-news"><li class="general_news_imgbg"><!-- <img src="img/resources/img/news/ico_menu1_noactive_notext.png" alt="" class="img-responsive"> --><p >События</p></li></a>
                <a ui-sref="dashboard.facts"><li class="facts_imgbg"><!-- <img src="img/resources/img/news/ico_menu2_noactive_notext.png" alt=""  class="img-responsive"> --><p class="active_p">Факты</p></li></a>
                <a ui-sref="dashboard.blog"><li class="blog_imgbg"><!-- <img src="img/resources/img/news/ico_menu3_active_notext.png" alt="" class="img-responsive"> --><p >Аналитика</p></li></a>
            </ul>
        </div>
</div>

<section class="factSection">
    
        <div class="container-fluid">
            <div class="row">
                <div class=" clearfix masonry" >
                  <div class="block-set item" ng-repeat="fact in ctrl.facts">
                    <div class="block-interes-fact">
                      <div class="fact-social clearfix">
                        <div class="fact-social-im">
                          <a href="#">
                            <img src="{{fact.iconUrl}}" alt="" class="img-responsive">
                          </a>
                        </div>
                        <div class="time">
                          <a href="#" ng-bind="fact.published_at | amDateFormat:'DD.MM H:mm'"></a>
                        </div>
                      </div>
                       <slick ng-show="fact.photos.length">
                          <div class="img" ng-repeat="photo in fact.photos | limitTo:4">
                            <img src="{{photo.image.small}}" alt="">
                          </div>

                       </slick>
                        <div class="text1">
                            <p ng-bind-html="fact.content"></p>
                        </div>
                        <div class="ret clearfix">
                          <share-buttons data="fact.shareData"></share-buttons>
                          <a href="" class="ret-link" ng-bind="fact.repostText"></a>
                        </div>
                        <!--<ul class="tag_post" ng-show="fact.tags.length">
                          <li ng-repeat="tag in fact.tags"><a  href=""><p  ng-bind="tag">Брендон Галлахер</p></a></li>
                      </ul>-->
                    </div>
                  </div>
                </div>
            </div>
        </div>
</section>


 