
<div class="my_testdrive_contant">

    <a ui-sref="dashboard.game.sectors">Викторина</a>
   <h5>Мои призы</h5>

    <p>Призы будут доставлены Вам по указанному в личном кабинете адресу в течение месяца после окончания розыгрыша.</p>
    <p> Хоккеистов же Вы можете скачать самостоятельно, кликнув по кнопке "Сохранить".</p>
    <div>
        <form ng-submit="ctrl.saveDealer()" >
            <div class="row">
                <div class="col-md-12 text-center" style="margin-bottom: 10px; ">
                    <select style="min-width: 60%;" name="city" ng-options="city.name for city in ctrl.cities | orderBy: 'name'"
                            class="input_default input_small select_default" ng-change="ctrl.loadDealer()" ng-disabled="ctrl.user.dealer" ng-model="ctrl.city" required>
                        <option disabled selected value>Выберите город</option>
                    </select>
                </div>
                <div class="col-md-12 text-center" style="margin-bottom: 10px; min-width: 60%;">
                    <select style="min-width: 60%;" name="city" ng-options="dealer.info for dealer in ctrl.dealers | orderBy: 'info'"
                            class="input_default input_small select_default" ng-model="ctrl.dealer" ng-disabled="ctrl.user.dealer" required>
                        <option disabled selected value>Выберите дилера</option>
                    </select>
                </div>
                <div class="col-md-12 text-center" ng-show="!ctrl.user.dealer">
                    <button type="submit" class="btn btn_primary tiny">Сохранить</button>
                </div>
            </div>
        </form>
    </div>

    <div class="myprizes">
        <div class="thead">
            <div class="th">Название</div>
            <div class="th">Картинка</div>
        </div>
        <div class="tr" ng-repeat="item in ctrl.prizes">
            <div class="td"><h6 class="myprizes-title" ng-bind="item.prize.name"></h6></div>
            <div class="td">
                <img src="{{item.prize.image.small}}" />
                <p ng-bind="item.prize.description"></p>
                <button ng-show="item.pdf" ng-click="ctrl.save(item.pdf)" class="btn btn_primary main tantam-button-save">Сохранить</button>
            </div>
        </div>
    </div>
</div>