
<div class="my_testdrive_contant">
    <h4>Мои тест драйвы</h4>
    <p class="date" ng-bind="'Сегодня, ' + ctrl.today"/>
    <p>Для участия в розыгрыше автомобилей Вам необходимо пройти тест-драйв, на котором Вам будет выдан специальный промо-код. Регистрируйтесь на тест-драйв, пробуйте автомобиль, а затем попытайтесь его выиграть!</p>
    <div class="download_promo">
        <form ng-submit="ctrl.sendCoupon()">
            <input type="text" ng-disabled="ctrl.coupon" minlength="8" maxlength="8" ng-model="ctrl.couponCode" class="input_default input_small" placeholder="Ваш промокод (8 символов)" required>
            <button type="submit" class="btn btn_secondary small" ng-disabled="ctrl.coupon"> Активировать</button>
        </form>

    </div>
   <h5>Мои промо-коды</h5>
    <table ng-show="ctrl.coupon">
        <thead>
            <tr>
                <td>Код</td>
                <td>Дата Активации</td>
                <td></td>
            </tr>
         </thead>
        <tr>
            <td><h6 ng-bind="'№' + ctrl.coupon.number"></h6></td>
            <td ng-bind="ctrl.coupon.activate_date | amDateFormat:'DD MMMM'"></td>
            <td><button class="btn btn_secondary tiny" ng-click="ctrl.startGame()" ng-disabled="!ctrl.coupon.is_active"
                        ng-bind="ctrl.coupon.is_active ? 'Учавствовать' : 'Использован'"></button></td>
        </tr>
    </table>
    
</div>