<!-- search -->
<!--<section class="wrapp_search">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="input_default input_small" placeholder="Павел Буре, например">
                    <p>Последние новости: <span> У Ивана Иванова родился сын! Поздравим Ивана!</span></p>   
                </div>
            </div>
        </div>  
</section>-->
<!--end search -->

<!-- main new -->
<section class="wrapp_main_new" style="background-image: url('{{ctrl.mainNews.image.original}}');">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="main_new">
                    <h2>Прерваный<br>полет</h2>
                    <h6 ng-bind="ctrl.mainNews.short_content"></h6>
                    <p ng-bind="ctrl.mainNews.middle_content"></p>
                    <ul>
                        <li>Биография</li>
                        <li>Интервью</li>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</section>
<!-- end main new -->
<section class="wrapp_new">
    <div class="container-fluid">
        <div class="row">
            <div class="news">
                <div class="col-md-3" ng-repeat="news in ctrl.news">
                    <div class="foto" style="background-image: url('{{news.image.medium}}');"></div>
                    <h2 class="foto_set text-center" ng-bind="news.name">The <br> great<br> one</h2>
                    <div class="description">
                        <h6 ng-bind="news.short_content"></h6>
                        <p ng-bind="news.middle_content"></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

        <div class="col-md-12 text-center show_to">
            <button class="btn btn_common main" ng-click="ctrl.loadMore()" ng-show="ctrl.news.length < ctrl.newsAmount">Показать еще</button>
            <span>Показано {{ctrl.news.length}} хоккеистов из {{ctrl.newsAmount}}</span>
        </div>
            
        </div>
    </div>
</section>