<form ng-submit="ctrl.update()">
    <aside class="form">
        <div class="form_grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Как вас зовут?</h4>
                        <input type="text" ng-model="ctrl.form.last_name" class="input_default input_small"
                               placeholder="Фамилия">
                        <input type="text" ng-model="ctrl.form.first_name" class="input_default input_small"
                               placeholder="Имя" required>
                        <input type="text" ng-model="ctrl.form.middle_name" class="input_default input_small"
                               placeholder="Отчество">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Где Вы проживаете?</h4>
                        <input type="text" ng-model="ctrl.form.zip_code" class="input_default input_small"
                               placeholder="Индекс">
                        <input type="text" ng-model="ctrl.form.city" class="input_default input_small"
                               placeholder="Город">
                        <input type="text" ng-model="ctrl.form.address" class="input_default input_small"
                               placeholder="Адрес">
                    </div>
                </div>
            </div>
        </div>
        <div class="form_white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>И телефон?</h4>
                        <input type="text" ng-model="ctrl.form.phone" class="input_default input_small"
                               placeholder="+7">
                    </div>
                </div>
            </div>
        </div>
        <div class="form_grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Ваш возраст?</h4>
                        <input type="number" ng-model="ctrl.form.age" class="input_default input_small" placeholder="">
                    </div>
                    <div class="col-md-6 left">
                        <h4>Вы состоите в браке?</h4>
                        <input type="text" ng-model="ctrl.form.marital_status" class="input_default input_small"
                               placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="form_grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Ваша машина?</h4>
                        <input type="text" ng-model="ctrl.form.current_car" class="input_default input_small"
                               placeholder="">
                    </div>
                    <div class="col-md-6 left">
                        <h4>А прошлая?</h4>
                        <input type="text" ng-model="ctrl.form.last_car" class="input_default input_small"
                               placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn_common main">Сохранить</button>
                </div>
            </div>
        </div>
    </aside>
</form>
