<section class="wrapp_mainpage_slider">
    <div class="now_games">
        <ul>
            <li class="one_game_wrapp" ng-repeat="match in ctrl.schedule | limitTo:3">
                <ul class="one_game">
                    <li ng-bind="match.redteam.country"></li>
                    <li><img src="{{match.redteam.image.thumb}}" alt=""></li>
                    <li>-</li>
                    <li><img src="{{match.blueteam.image.thumb}}" alt=""></li>
                    <li ng-bind="match.blueteam.country"></li>
                    <li ng-bind="match.when | amDateFormat:'DD.MM H:mm'"></li>
                </ul>
            </li>
        </ul>
        <!-- <span>Завершен 1 период 14:45</span> -->
    </div>

    <div class="container-fluid">
        <div class="row date_slider_news">
            <!-- <div class="col-md-12"> -->

            <!--<slick infinite=true arrows=true dots=true slides-to-show=1 slides-to-scroll=1 autoplay=true>-->

                <div class="" ng-repeat="slide in ctrl.mainSlides">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="item-1">
                                <div class="hidden-sm hidden-xs">
                                    <h5 style="position:absolute; z-index:1; "><span> <img class="taggs" src="img/resources/img/hashtagIcon.png"> <button class="btn " ui-sref="dashboard.socials({hashtag: '#хоккейвкаждом'})">#хоккейвкаждом</button></span></h5>
                                </div>
                                <a href="{{slide.link}}"><img src="{{slide.image}}" alt="" class="img-responsive" style="width: 100%;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</slick>-->
        </div>
    </div>
</section>

<section class="wrapp_news_preview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row preview_header_left">
                    <div class="col-md-6 text-left"><h5>Новое на сайте</h5></div>
                    <div class="col-md-6 text-right">
                        <ul>
                            <li><a ui-sref="dashboard.general-news">Все новости</a></li>
                            <li><a ui-sref="dashboard.blog">Аналитика</a></li>
                        </ul>
                    </div>

                </div>
                <div class="row hash_tag">
                        <div class="col-md-1 text-center">
                            <p>Хэштеги</p>
                        </div>
                        <div class="col-md-11">
                            <ul>
                                <li ng-repeat="hashtag in ctrl.hashtags | limitTo:10"><a ui-sref="dashboard.socials({hashtag: '{{hashtag}}'})" ng-bind="hashtag"></a></li>
                                <li ng-show="!ctrl.openAddTags && ctrl.hashtags.length > 10"><a ng-click="ctrl.openAddTags = true"><img src="img/resources/img/three_dots.png" alt=""></a></li>
                                <li ng-show="ctrl.openAddTags" ng-repeat="hashtag in ctrl.hashtags | limitTo:ctrl.hashtags.length:10" ><a ui-sref="dashboard.socials({hashtag: '{{hashtag}}'})" ng-bind="hashtag"></a></li>
                            </ul>
                        </div>
                </div>
                <div class="row ul_news">

                     <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="news in ctrl.championatNews | limitTo:10">
                        <p class="littel_news"><a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})" ng-bind="news.name"></a></p>
                        <span class="littel_time" ng-bind="news.published_at | amDateFormat:'H:mm'"></span>
                        <span class="little_comment" ng-bind="news.comments_count"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-sm hidden-xs">

            <slick infinite=true slides-to-show=1 slides-to-scroll=1 dots=true>
                    <!-- <div class="preview_header_right " style="background-image: url('none.png'); ">
                        <div class="wrapp_content text-center tvor" style="padding-left: 0;">
                            <h3>Голосование началось!  </h3>
                            <h5 class="h5_titel">(розыгрыш <span style="color: #4ba82e;">автомобиля</span>)</h5>
                            
                            <i class="fa fa-heart-o"  aria-hidden="true" style="font-size: 5rem; color:#4ba82e;"></i> 
                            <h5 style="padding-bottom: 30px;" ng-bind="ctrl.likeAmount">1023</h5>

                             <ul>
                                <p class="p_titel">До окончания голосования осталось:</p>
                                <li><h5><timer end-time="1464393600000">{{days}}</timer> :</h5><p>дней</p> </li>
                                
                                <li><h5><timer end-time="1464393600000">{{hhours}}</timer>  :</h5><p>часов</p> </li>
                                
                                <li><h5><timer end-time="1464393600000">{{mminutes}}</timer> </h5><p>минут</p> </li>
                                
                                <button class="btn btn_primary small" ui-sref="dashboard.photocontest">Голосовать</button>
                             </ul>  
                            
                        </div>
                    </div> -->
               
             
                    <div class="preview_header_right" style="background-image: url('img/resources/img/baner_IIHF.png'); background-size: 55%;  background-color:#f7f7f7; background-position: 0px 40px;"  >
                        <div class="wrapp_content" style="padding-left:50%; cursor:pointer;" ui-sref="dashboard.mobileapp">
                            <!-- <h6>Интересное</h6> -->
                            <h3 style="padding-bottom: 10px;">2016 IIHF</h3>
                            <p style="padding-bottom: 10px;" >Офицальное приложение<br>ЧМХ 2016. Весь чемпионат<br>в твоем смартфоне!</p>
                            <a href="https://itunes.apple.com/ru/app/2016-iihf/id1069017229?mt=8" target="_blank"><img src="img/resources/img/apple_app.png" alt="" class="img-responsive" style="padding-bottom:10px;"></a>
                            <a href="https://play.google.com/store/apps/details?id=com.iihf.android2016" target="_blank"><img src="img/resources/img/android_app.png" alt="" class="img-responsive" style="padding-bottom:10px;"></a>
                            <a href="https://www.microsoft.com/ru-ru/store/apps/2016-iihf/9nblggh58zvv" target="_blank"><img src="img/resources/img/windows_app.png" alt="" class="img-responsive" ></a>
                        </div>
                    </div>
                

                
            </slick>  

                <div class="">
                    <div class="main-collogo">
                        <div class="main-collogo-img">
                            <img src="img/resources/img/main/label.png" alt="" style="width: 250px;">
                        </div>
                        <div class="main-collogo-content">
                            <p>Генеральный спонсор<br>Чемпионата Мира по хоккею 2016 г.</p>
                        </div>
                    </div>
                </div>
         <!--        <div class="">
                    <div class="main-collogo">
                        <div class="main-collogo-img" style="padding:0;">
                           <a ui-sref="dashboard.prizenew({id:'15'})"> <img src="img/resources/img/taksi.jpg" alt=""  class="img-responsive"></a>
                        </div>
                        <div class="main-collogo-content">
                            <p><a href="http://taxi2412.ru/">Такси партнер Škoda</a></p>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>

</section>
<section class="wrapp_mainpage_new">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--slick current-index="ctrl.newsCurrentIndex" on-after-change="ctrl.loadMoreNews()" infinite="false" arrows="true"
                     dots="false" slides-to-show="{{ctrl.slidesToShow}}" data="ctrl.lastNews" slides-to-scroll="3" responsive="ctrl.responsive"-->
                <div class="mainpage_news_slider" main-slider-init initial-slide="ctrl.indexToShowLastNews">

                    <div ng-repeat="news in ctrl.lastNews" style="padding-left:5px; padding-right: 5px;">
                        <h3><span class="news_date" ng-bind="news.published_at | amDateFormat:'DD'"></span> <span class="news_month" ng-bind="news.published_at | amDateFormat:'MMMM'"></span></h3>

                        <div class="news_one_slider" style="background-image: url({{news.image.medium}})">
                            <div class="news_one_slider_bg"></div>
                            <div class="news_titel">
                                <a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})"
                                ng-bind="news.name"></a>
                                <p ng-bind="news.short_content"></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapp_mainpage_data">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 text-center">
                <select class="input_default input_small"
                        ng-options="team.country for team in ctrl.allTeams track by team.id"
                        ng-model="ctrl.teamFilter">
                    <option selected value>Выберите команду</option>
                </select>
            </div>
            <div class="col-md-2 text-center" ng-repeat="match in ctrl.schedule | filter:ctrl.filterByTeam | limitTo:4">
                <p class="titel" ng-bind="match.when | amDateFormat:'DD.MM H:mm'"></p>
                <img style="width: 40px; height: 40px" src="{{match.redteam.image.thumb}}" alt="">
                <img src="img/resources/img/line.png" alt="" class="line">
                <img style="width: 40px; height: 40px" src="{{match.blueteam.image.thumb}}" alt="">
                <ul>
                    <li class="command1" ng-bind="match.redteam.country"></li>
                    <li class="command1" ng-bind="match.blueteam.country"></li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section class="wrapp_mainpage_menublock">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu6.jpg');">
                    <div class="bg_hover">
                        <h2><a ui-sref="dashboard.general-news">Новости</a></h2>
                        <p>Здесь для Вас подобраны самые свежие новости об актуальных событиях в мире хоккея!</p>
                        <p class="bold"><a href="" ui-sref="dashboard.general-news">Читать</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu5.jpg');">
                    <div class="bg_hover">
                        <h2><a ui-sref="dashboard.forecast.playoff">Прогнозы</a></h2>
                        <p>Прогнозируйте результаты матчей и всего турнира, получайте баллы и участвуйте в розыгрышах различных призов.</p>
                        <p class="bold"><a href="" ui-sref="dashboard.forecast.playoff">Предположить</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu1.jpg');">
                    <div class="bg_hover">
                        <h2><a ui-sref="dashboard.forum">Форум</a></h2>
                        <p>Общайтесь с любителями хоккея, участвуйте в викторине, обсуждайте матчи и все «околохоккейное» на форуме!</p>
                        <p class="bold"><a href="" ui-sref="dashboard.forum">Общаться</a></p>
                    </div>
                </div>
            </div>
                <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu3.jpg');">
                    <div class="bg_hover">
                        <h2><a href="" ui-sref="dashboard.blog" >Аналитика</a></h2>
                        <p>Наши блогеры увлечены хоккеем также, как вы. Получайте эксклюзивную и важную информацию</p>
                        <p class="bold"><a href="" ui-sref="dashboard.blog">Думать</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu2.jpg');">
                    <div class="bg_hover">
                        <h2><a href="" ui-sref="dashboard.calendar">Календарь</a></h2>
                        <p>Следите за всеми матчами, получайте напоминания в удобное время и не пропускайте ни одной игры!</p>
                        <p class="bold"><a href="" ui-sref="dashboard.calendar">Планировать</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu4.jpg');">
                    <div class="bg_hover">
                        <h2><a href="" ui-sref="dashboard.infographics">Инфографика</a></h2>
                        <p>Мы создали для Вас иллюстрированную историю выступлений сборной России на всех Чемпионатах мира. </p>
                        <p class="bold"><a href="" ui-sref="dashboard.infographics">Изучать</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="wrapp_mainpage_present">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h2>Получи призы</h2>

                <p>Мы приготовили для Вас множество призов!
                Участвуя в активностях на сайте и офлайн, Вы сможете заработать баллы, которые позволят «Вам купить» ячейку и поучаствовать в их розыгрыше!
                Нацеливайтесь на приз, набирайте 750 баллов и выигрывайте!</p>
                <button class="btn btn_primary small" ui-sref="dashboard.prizenew">Узнать больше</button>
            </div>
            <div class="col-md-7 clearfix">
                <ul>
                    <li>
                        <img src="img/resources/img/prizes/prize1.png" alt="" class="img_priz img-responsive">
                        <h6> Билеты на матч Россия-Латвия</h6>
                        <h3>500</h3>
                        <img src="img/resources/img/balls.png" alt="" class="img-responsive">
                    </li>
                    <li>
                        <img src="img/resources/img/prizes/prize2.png" alt="" class="img_priz img-responsive">
                        <h6>Билеты на матч Россия-Норвегия</h6>
                    </li>
                    <li>
                        <img src="img/resources/img/prizes/prize10.png" alt="" class="img_priz img-responsive">
                        <h6>Аквагрим</h6>
                        <h3>300</h3>
                        <img src="img/resources/img/balls.png" alt="" class="img-responsive">
                    </li>
                    <li class="lg_m_priz">
                        <img src="img/resources/img/prizes/prize9.png" alt="" class="img_priz img-responsive" style="width: 60%;">
                        <h6>Медведь</h6>
                        <h3>300</h3>
                        <img src="img/resources/img/balls.png" alt="" class="img-responsive">
                    </li>
                    <li class="lg_priz">
                        <img src="img/resources/img/prizes/prize7.png" alt="" class="img_priz img-responsive">
                        <h6>Шайба</h6>
                        <h3>300</h3>
                        <img src="img/resources/img/balls.png" alt="" class="img-responsive">
                    </li>
                    <li class="lg_priz">
                        <img src="img/resources/img/prizes/prize6.png" alt="" class="img_priz img-responsive">
                        <h6>Чехол</h6>
                        <h3>300</h3>
                        <img src="img/resources/img/balls.png" alt="" class="img-responsive">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section> -->
<section class="wrapp_slider_stars">
    <div class="container-fluid">
        <div class="row">
                <slick infinite=true arrows=true slides-to-show=1 slides-to-scroll=1>

                        <div class="stars" ng-repeat="star in ctrl.stars" style="background-image: url('{{star.image.original}}');">
                            <div class="bg_stars">
                                <h2><a ui-sref="dashboard.newspage({id:star.id, rubric:star.rubric.api_path})" ng-bind="star.name"></a></h2>
                                <h6><a href="#" ng-bind="star.short_content">Валерий Харламов</a></h6>
                            </div>
                        </div>

                 </slick>
        </div>
    </div>
</section>
<section class="wrapp_mainpage_timeline" >
    <div class="container-fluid">
        <div class="row">
            <div class="timeline_horisond"></div>
            <div class="timeline-slider">
                <div class="slide" ng-repeat="post in ctrl.socPosts">
                    <div class="wrapp_soc_li">
                        <p class="time" ng-bind="post.published_at | amDateFormat:'DD.MM'"></p>
                        <i class="fa fa-{{post.network}}-square fa-2x" aria-hidden="true"></i>
                       <!-- <a href="#"><img  src="img/resources/img/green_insta.png" alt="" class="img-responsive "></a>-->
                        <a href="#"><img src="{{post.profile_pic}}" alt="" class="img-responsive"></a>
                        <p class="tag"><a href="{{post.profile_link}}" target="_blank" ng-bind="post.profile_name"></a></p>
                        <p class="messege" ng-bind="post.content"></p>
                        <img ng-show="post.photos.length" src="{{post.photos[0].image.thumb}}" alt="" class="foto_soc">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapp_mainpage_tantam">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="left">
                    <a href="" ui-sref="dashboard.tantamareska"><h4>Тантамареска <span>+20</span></h4></a>
                    <img src="img/resources/img/balls.png" alt="" class="img-responsive img_ball">
                    <a href="" ui-sref="dashboard.tantamareska"><h2>Передай привет друзьям!</h2></a>
                    <p>Становитесь главными героями смешных<br> фотографий на хоккейную тематику! </p>
                    <button class="btn btn_primary small" ui-sref="dashboard.tantamareska" href="">Сделать тантамареску!</button>
                    <h5 class="wrapp_mainpage_tantam--hashtag"><span> <img class="taggs" src="img/resources/img/hashtagIcon.png"> <button class="btn " ui-sref="dashboard.socials({hashtag: '#приветдрузьям'})">#приветдрузьям</button></span></h5>
                </div>
            </div>
            <div class="col-md-7">
                <a href="" class="wrapp_mainpage_tantam--img" ui-sref="dashboard.tantamareska">
                    <img src="img/resources/img/tantam-2.png" alt="" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="wrapp_mainpage_tantam wrapp_hockey_blcok">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="left">
                    <a href="" ui-sref="dashboard.hockey-game"><h4>Онлайн-игра <span>+20</span></h4></a>
                    <img src="img/resources/img/balls.png" alt="" class="img-responsive img_ball">
                    <a href="" ui-sref="dashboard.hockey-game"><h2>Аэрохоккей</h2></a>
                    <p>Увлекательная и захватывающая игра - аэрохоккей. Делайте перерывы между матчами, играйте и зарабатывайте баллы!</p>
                    <button class="btn btn_primary small" ui-sref="dashboard.hockey-game" href="">Играть</button>
                    <h5 class="wrapp_mainpage_tantam--hashtag"><span> <img class="taggs" src="img/resources/img/hashtagIcon.png"> <button class="btn " ui-sref="dashboard.socials({hashtag: '#приветдрузьям'})">#аэрохоккей</button></span></h5>
                </div>
            </div>
            <div class="col-md-7">
                <a href="" class="wrapp_mainpage_tantam--img" ui-sref="dashboard.hockey-game">
                    <img src="img/resources/img/main/hockey-bg.png" alt="" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</section>


<!--<section class="wrapp_mainpage_game">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="left">
                    <h4>Флэш-игра <span>+20</span></h4>
                    <img src="img/resources/img/balls.png" alt="" class="img-responsive img_ball">
                    <h2>Выбей шуб ;)</h2>
                    <p>Принимайте участие в простой увлекательной игре, набирайте баллы!</p>
                    <p class="p_h">Хэштеги: <button class="btn ">#выбейшуб</button></p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="img/resources/img/main/game.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>-->
<section class="wrapp_mainpage_end">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3><!-- #хоккейвкаждом --></h3>

                <h1><!-- Škoda hockey edition --></h1>
                 <ul class="text-left">
                   <!--  <img src="img/resources/img/main/label.png" alt="" class="img-responsive"> -->
                    <span><!-- В качестве официального спонсора<br> ŠKODA поддержала Чемпионат мира<br> по хоккею IIHF 22 раза --></span>
                </ul>
            </div>

        </div>

    </div>

</section>


 <!-- Modal info prize -->
    <!--<div class="modal modal-competition" id="modalСompetition" role="dialog" ng-init="ctrl.openModal()">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-competition-wrapper">
                    <div class="modal-competition-img">
                        <img src="img/resources/img/modal-competition.jpg" alt="">
                    </div>
                    <div class="modal-competition-content">
                        <h4 class="modal-competition-heading">{{ctrl.compHeader}}</h4>
                        <p class="modal-competition-text">{{ctrl.compText}}</p>
                        <br>
                        <button class="btn btn_primary small" ui-sref="{{ctrl.compButton.link}}" >{{ctrl.compButton.text}}</button>
                    </div>
                </div>
                <button type="button" class="close" ng-click="ctrl.close()" data-dismiss="modal"
                        aria-label="Close"></button>
            </div>

        </div>
    </div>-->


<!-- Modal info prize -->
<div class="modal fade modal-competition" id="modalRegistr" role="dialog" >
    <div class="modal-dialog">

        <div class="modal-content">
            <button type="button" class="close" ng-click="ctrl.close()" data-dismiss="modal"
                    aria-label="Close"></button>
        </div>

    </div>
</div>

