<section class="wrapp_mainpage_slider">
    <div class="now_games">
        <ul>
            <li class="one_game_wrapp">
                <ul class="one_game">
                    <li>Россия</li>
                    <li><img src="img/resources/img/rus.png" alt=""></li>
                    <li>4-2</li>
                    <li><img src="img/resources/img/rus.png" alt=""></li>
                    <li>Франция</li>
                    <li>завершен</li>
                </ul>
            </li>
            <li class="one_game_wrapp">
                <ul class="one_game">
                    <li>Россия</li>
                    <li><img src="img/resources/img/rus.png" alt=""></li>
                    <li>4-2</li>
                    <li><img src="img/resources/img/rus.png" alt=""></li>
                    <li>Франция</li>
                    <li>1 период</li>
                </ul>
            </li>
            <li class="one_game_wrapp">
                <ul class="one_game">
                    <li>Россия</li>
                    <li><img src="img/resources/img/rus.png" alt=""></li>
                    <li>4-2</li>
                    <li><img src="img/resources/img/rus.png" alt=""></li>
                    <li>Франция</li>
                    <li>14:45</li>
                </ul>
            </li>
        </ul>
        <!-- <span>Завершен 1 период 14:45</span> -->
    </div>
    
    <div class="container-fluid">
        <div class="row date_slider_news">
            <!-- <div class="col-md-12"> -->

            <slick infinite=true arrows=true dots=true slides-to-show=1 slides-to-scroll=1>
                <div class="item" style="background-image: url('img/resources/img/stage1.jpg');">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="left hidden-sm hidden-xs">
                                    <h5><span>Хэштеги: <button class="btn ">#хоккейвкаждом</button></span></h5>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                                <div class="right hidden-sm hidden-xs">
                                    <h5>Молния!</h5>
                                    <ul>
                                        <li ng-repeat="lightNews in ctrl.lightingNews"><a ui-sref="dashboard.newspage({id:lightNews.id, rubric:lightNews.rubric.api_path})"
                                         ng-bind="lightNews.lighting_text"></a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    
                    
                </div>
                <div class="item" style="background-image: url('img/resources/img/stage2.jpg');">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="left hidden-sm hidden-xs">

                                    <h5><span>Хэштеги: <button class="btn ">#хоккейвкаждом</button></span></h5>
                                    
                                    <!-- h2>24-й раз мы вместе<br> со сборной россии</h2>

                                    <p class="hidden-md"> Связь SKODA с хоккем неверотяно сильна уже более двух десятилетй.<br> И в этом году компания стремится быть еще ближе болелщикам нашей сборной</p> -->

                                </div>
                            </div>
                          <!--   <div class="col-md-4">
                                <div class="right hidden-sm hidden-xs">
                                    <h5>Молния!</h5>
                                    <ul>
                                        <li ng-repeat="lightNews in ctrl.lightingNews"><a href="" ng-bind="lightNews.lighting_text"></a></li>
                                    </ul>
                                </div>
                            </div>
 -->                        </div>
                    </div>

                </div>
            </slick>
        </div>
    </div>
</section>
<section class="wrapp_news_preview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row preview_header_left">
                    <div class="col-md-6 text-left"><h5>Новое на сайте</h5></div>
                    <div class="col-md-6 text-right">
                        <ul>
                            <li><a href="">Все новости</a></li>
                            <li><a href="">Аналитика</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="row hash_tag">
                        <div class="col-md-1 text-center">
                            <p>Хэшьтеги</p>
                        </div>
                        <div class="col-md-11">
                            <ul>
                                <li><a href="">#Хоккейвкаждом</a></li>
                                <li><a href="">#Хоккейвкаждом</a></li>
                                <li><a href="">#Хоккейвкаждом</a></li>
                                <li><a href="">#Хоккейвкаждом</a></li>
                                <li><a href="">#Хоккейвкаждом</a></li>
                                <li><a href="">#Хоккейвкаждом</a></li>
                                <li><a href="">#Хоккейвкаждом</a></li>
                                <li><a href="">#Хоккейвкаждом</a></li>
                                <li><a href=""><img src="img/resources/img/three_dots.png" alt=""></a></li>
                            </ul>
                        </div>
                </div>
                <div class="row ul_news">   
                   <!--  <div class="col-md-6" ng-repeat="news in ctrl.lastNews">
                        <p class="littel_news"><a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})" ng-bind="news.name"></a></p>
                        <span class="littel_time" ng-bind="news.published_at | amDateFormat:'H:mm'">12:45</span>
                        <span class="little_comment">13</span>
                    </div> -->
                     <div class="col-md-6 col-sm-6 col-xs-12" >
                        <p class="littel_news"><a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})">Предновогодние сюрпризы Skoda Junior Ice Hokey Cuo 2014 </a></p>
                        <span class="littel_time" >12:45</span>
                        <span class="little_comment">13</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" >
                        <p class="littel_news"><a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})">Предновогодние сюрпризы Skoda Junior Ice Hokey Cuo 2014</a></p>
                        <span class="littel_time" >12:45</span>
                        <span class="little_comment">13</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" >
                        <p class="littel_news"><a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})">Предновогодние сюрпризы Skoda Junior Ice Hokey Cuo 2014</a></p>
                        <span class="littel_time" >12:45</span>
                        <span class="little_comment">13</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" >
                        <p class="littel_news"><a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})">Предновогодние сюрпризы Skoda Junior Ice Hokey Cuo 2014</a></p>
                        <span class="littel_time" >12:45</span>
                        <span class="little_comment">13</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" >
                        <p class="littel_news"><a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})">Предновогодние сюрпризы Skoda Junior Ice Hokey Cuo 2014</a></p>
                        <span class="littel_time" >12:45</span>
                        <span class="little_comment">13</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" >
                        <p class="littel_news"><a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})">Предновогодние сюрпризы Skoda Junior Ice Hokey Cuo 2014 Предновогодние сюрпризы Skoda Junior Ice Hokey Cuo 2014</a></p>
                        <span class="littel_time" >12:45</span>
                        <span class="little_comment">13</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="preview_header_right">
                    <div class="wrapp_content">
                        <h6>Интересное</h6>
                        <h3>Junior<br>ice<br>hochey<br>cup 2</h3>
                        <button class="btn btn_primary small">Узнать больше</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<section class="wrapp_mainpage_new">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--slick current-index="ctrl.newsCurrentIndex" on-after-change="ctrl.loadMoreNews()" infinite="false" arrows="true"
                     dots="false" slides-to-show="{{ctrl.slidesToShow}}" data="ctrl.lastNews" slides-to-scroll="3" responsive="ctrl.responsive"-->
                <div class="mainpage_news_slider" main-slider-init initial-slide="ctrl.indexToShowLastNews">

                    <div ng-repeat="news in ctrl.lastNews" style="padding-left:5px; padding-right: 5px;">
                        <h3><span class="news_date" ng-bind="news.published_at | amDateFormat:'DD'"></span> <span class="news_month" ng-bind="news.published_at | amDateFormat:'MMMM'"></span></h3>

                        <div class="news_one_slider" style="background-image: url({{news.image.medium}})">
                            <div class="news_one_slider_bg"></div>
                            <a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})" class="news_titel"
                           ng-bind="news.name"></a>
                           <p class="news_content" ng-bind="news.short_content"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapp_mainpage_data">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-4 text-left">
                <button ui-sref="dashboard.general-news" class="btn btn_primary main">Все новости</button>
                
            </div> -->
            <div class="col-md-3 text-center">
                <select name="" id="" class="input_default input_small">
                    <option value="">Выберите команду</option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <p class="titel">22 марта <span>14:45</span>, МСК</p>
                <img src="img/resources/img/rus.png" alt="">
                <img src="img/resources/img/line.png" alt="" class="line">
                <img src="img/resources/img/rus.png" alt="">
                <ul>
                    <li class="command1">россия</li>
                    <li class="command1">сша</li>
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <p class="titel">22 марта <span>14:45</span>, МСК</p>
                <img src="img/resources/img/rus.png" alt="">
                <img src="img/resources/img/line.png" alt="" class="line">
                <img src="img/resources/img/rus.png" alt="">
                <ul>
                    <li class="command1">россия</li>
                    <li class="command1">сша</li>
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <p class="titel">22 марта <span>14:45</span>, МСК</p>
                <img src="img/resources/img/rus.png" alt="">
                <img src="img/resources/img/line.png" alt="" class="line">
                <img src="img/resources/img/rus.png" alt="">
                <ul>
                    <li class="command1">россия</li>
                    <li class="command1">сша</li>
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <p class="titel">22 марта <span>14:45</span>, МСК</p>
                <img src="img/resources/img/rus.png" alt="">
                <img src="img/resources/img/line.png" alt="" class="line">
                <img src="img/resources/img/rus.png" alt="">
                <ul>
                    <li class="command1">россия</li>
                    <li class="command1">сша</li>
                </ul>
            </div>
            <div class="col-md-1"></div>


        </div>
    </div>
</section>
<section class="wrapp_mainpage_menublock">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu6.jpg');">
                    <div class="bg_hover">
                        <h2><a ui-sref="dashboard.general-news">Новости</a></h2>
                        <p>Здесь для Вас подобраны самые свежие новости об актуальных событиях в мире хоккея!</p>
                        <p class="bold"><a href="">Читать</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu5.jpg');">
                    <div class="bg_hover">
                        <h2><a ui-sref="dashboard.forecast.playoff">Прогнозы</a></h2>
                        <p>Прогнозируйте результаты матчей и всего турнира, получайте баллы и участвуйте в розыгрышах различных призов.</p>
                        <p class="bold"><a href="">Предположить</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu1.jpg');">
                    <div class="bg_hover">
                        <h2><a ui-sref="dashboard.forum">Форум</a></h2>
                        <p>Общайтесь с любителями хоккея, участвуйте в викторине, обсуждайте матчи и все «околохоккейное» на форуме!</p>
                        <p class="bold"><a href="">Общаться</a></p>
                    </div>
                </div>
            </div>
                <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu3.jpg');">
                    <div class="bg_hover">
                        <h2><a href="" ui-sref="dashboard.blog" >Аналитика</a></h2>
                        <p>Наши блогеры увлечены хоккеем также, как вы. Получайте эксклюзивную и важную информацию</p>
                        <p class="bold"><a href="">Изучаться</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu2.jpg');">
                    <div class="bg_hover">
                        <h2><a href="">Календарь</a></h2>
                        <p>Следите за всеми матчами, получайте напоминания в удобное время и не пропускайте ни одной игры!</p>
                        <p class="bold"><a href="">Планировать</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrapp_block">
                <div class="block" style="background-image: url('img/resources/img/main/menu4.jpg');">
                    <div class="bg_hover">
                        <h2><a href="">Инфографика</a></h2>
                        <p>Мы создали для Вас иллюстрированную историю выступлений сборной России на всех Чемпионатах мира. </p>
                        <p class="bold"><a href="">Учить</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapp_mainpage_present">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h2>Получи призы</h2>

                <p>Мы приготовили для Вас множество призов! 
                Участвуя в активностях на сайте и офлайн, Вы сможете заработать баллы, которые позволят «Вам купить» ячейку и поучаствовать в их розыгрыше!
                Нацеливайтесь на приз, набирайте 750 баллов и выигрывайте!</p>
                <button class="btn btn_primary small" ui-sref="dashboard.prizenew">Узнать больше</button>
            </div>
            <div class="col-md-7">
                <ul>
                    <li>
                        <img src="img/resources/img/prizes/prize1.png" alt="" class="img_priz img-responsive">
                        <h6>Билеты</h6>
                        <!-- <h3>500</h3>
                        <img src="img/resources/img/balls.png" alt="" class="img-responsive"> -->
                    </li>
                    <li>
                        <img src="img/resources/img/prizes/prize2.png" alt="" class="img_priz img-responsive">
                        <h6>Билеты</h6>
                    </li>
                    <li>
                        <img src="img/resources/img/prizes/prize3.png" alt="" class="img_priz img-responsive">
                        <h6>Подсветка</h6>
                        <!-- <h3>300</h3>
                        <img src="img/resources/img/balls.png" alt="" class="img-responsive"> -->
                    </li>
                    <li class="lg_m_priz">
                        <img src="img/resources/img/prizes/prize4.png" alt="" class="img_priz img-responsive">
                        <h6>Полироль</h6>
                        <!-- <h3>300</h3>
                        <img src="img/resources/img/balls.png" alt="" class="img-responsive"> -->
                    </li>
                    <li class="lg_priz">
                        <img src="img/resources/img/prizes/prize7.png" alt="" class="img_priz img-responsive">
                        <h6>Шайба</h6>
                        <!-- <h3>300</h3>
                        <img src="img/resources/img/balls.png" alt="" class="img-responsive"> -->
                    </li>
                    <li class="lg_priz">
                        <img src="img/resources/img/prizes/prize6.png" alt="" class="img_priz img-responsive">
                        <h6>Чехол</h6>
                        <!-- <h3>300</h3>
                        <img src="img/resources/img/balls.png" alt="" class="img-responsive"> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="wrapp_slider_stars">
    <div class="container-fluid">
        <div class="row">
                <slick infinite=true arrows=true slides-to-show=1 slides-to-scroll=1>

                        <div class="stars" ng-repeat="star in ctrl.stars" style="background-image: url('{{star.image.original}}');">
                            <h2><a ui-sref="dashboard.newspage({id:star.id, rubric:star.rubric.api_path})" ng-bind="star.name"></a></h2>
                            <h6><a href="#" ng-bind="star.short_content">Валерий Харламов</a></h6>
                        </div>

                 </slick>
        </div>
    </div>
</section> 
<section class="wrapp_mainpage_timeline">
    <div class="container-fluid">
        <div class="row">
            <div class="top_"></div>
            <div class="timeline_horisond"></div>
            <ul>
                <li class="min_l_min"> 
                    <p>20 февраля</p>
                    <p>20:12</p>
                    <a href="#"><img src="img/resources/img/twiter_green.png" alt="" class="img-responsive"></a>
                    <a href="#"><img src="img/resources/img/main/t_l_avatar.jpg" alt="" class="img-responsive"></a>
                    <p class="tag"><a href="#">@verlamov</a></p>
                    <p class="messege">Желаю удачи "Локомотиву" и лично Курдашову</p>
                </li>
                <li class="min_l_3x"> 
                    <p>20 февраля</p>
                    <p>20:12</p>
                    <img src="img/resources/img/twiter_green.png" alt="" class="img-responsive">
                    <img src="img/resources/img/main/t_l_avatar.jpg" alt="" class="img-responsive">
                    <p class="tag">@verlamov</p>
                    <p class="messege">Желаю удачи "Локомотиву" и лично Курдашову</p>
                </li>
                <li class="min_l_1x hidden-xs"> 
                    <p>20 февраля</p>
                    <p>20:12</p>
                    <img src="img/resources/img/twiter_green.png" alt="" class="img-responsive">
                    <img src="img/resources/img/main/t_l_avatar.jpg" alt="" class="img-responsive">
                    <p class="tag">@verlamov</p>
                    <p class="messege">Желаю удачи "Локомотиву" и лично Курдашову</p>
                </li>
                <li class="min_l_2x hidden-xs hidden-sm"> 
                    <p>20 февраля</p>
                    <p>20:12</p>
                    <img src="img/resources/img/twiter_green.png" alt="" class="img-responsive">
                    <img src="img/resources/img/main/t_l_avatar.jpg" alt="" class="img-responsive">
                    <p class="tag">@verlamov</p>
                    <p class="messege">Желаю удачи "Локомотиву" и лично Курдашову</p>
                </li>
                <li class="min_l_1x hidden-xs hidden-sm"> 
                    <p>20 февраля</p>
                    <p>20:12</p>
                    <img src="img/resources/img/twiter_green.png" alt="" class="img-responsive">
                    <img src="img/resources/img/main/t_l_avatar.jpg" alt="" class="img-responsive">
                    <p class="tag">@verlamov</p>
                    <p class="messege">Желаю удачи "Локомотиву" и лично Курдашову</p>
                </li>

            </ul>
        </div>
    </div>
</section> 
<section class="wrapp_mainpage_tantam">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="left">
                    <h4>Тантамареска <span>+20</span></h4>
                    <img src="img/resources/img/balls.png" alt="" class="img-responsive img_ball">
                    <h2>Передай привет друзьям!</h2>

                    <p>Становитесь главными героями смешных фотографий на хоккейную тематику! </p>
                    <p class="p_h">Хэштеги: <button class="btn ">#хоккейвкаждом</button></p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="img/resources/img/main/tantam.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<section class="wrapp_mainpage_game">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="left">
                    <h4>Флэш-игра <span>+20</span></h4>
                    <img src="img/resources/img/balls.png" alt="" class="img-responsive img_ball">
                    <h2>Выбей шуб ;)</h2>
                    <p>Принимайте участие в простой увлекательной игре, набирайте баллы!</p>
                    <p class="p_h">Хэштеги: <button class="btn ">#выбейшуб</button></p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="img/resources/img/main/game.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<section class="wrapp_mainpage_end">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3><!-- #хоккейвкаждом --></h3>

                <h1><!-- Škoda hockey edition --></h1>
                 <ul class="text-left">
                   <!--  <img src="img/resources/img/main/label.png" alt="" class="img-responsive"> -->
                    <span><!-- В качестве официального спонсора<br> ŠKODA поддержала Чемпионат мира<br> по хоккею IIHF 22 раза --></span>
                </ul>
            </div>
           
        </div>

    </div>
    
</section>