<section class="wrapp_blog_all"  infinite-scroll="ctrl.loadMore()" infinite-scroll-disabled='this.busy'>
    <div class="wrapp_menu">
        <div class="menu_line ">
            <ul>
               <a ui-sref="dashboard.general-news"><li class="general_news_imgbg"><p>События</p></li></a>
                <a ui-sref="dashboard.facts"><li class="facts_imgbg"><p>Факты</p></li></a>
                <a ui-sref="dashboard.blog"><li class="blog_imgbg"><p class="active_p">Аналитика</p></li></a>
            </ul>
        </div>
    </div>

    <div class="wrapp_blog_contant ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">
                    <ul class="tag_post" ng-show="ctrl.tags.length">
                        <li>Фильтр по тэгам:</li>
                        <li ng-repeat="tag in ctrl.tags"><p><a  ng-bind="tag"></a><span ng-click="ctrl.removeTag(tag)"> x </span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" masonry-init=".wrapp_blog_posts">

                <div class="col-xs-12 col-sm-12 col-md-4 text-left wrapp_blog_posts" ng-repeat="blog in ctrl.blogs">

                        <ul class="blog_post" ui-sref="dashboard.newspage({id:blog.id, rubric:blog.rubric.api_path})" style="cursor:pointer;">
                            <li><h3><a ng-bind="blog.title === '' ? blog.name : blog.title"
                                       ui-sref="dashboard.newspage({id:blog.id, rubric:blog.rubric.api_path})"></a></h3>
                            </li>
                            <li><p ng-bind="blog.description === '' ? blog.short_content : blog.description"></p></li>
                            <li><p ng-bind="blog.published_at | amDateFormat:'DD.MM H:mm'"></p></li>
                            <li><img src="{{blog.image.medium}}" alt="" class="img-responsive"></li>
                        </ul>

                    <ul class="tag_post">
                        <li ng-repeat="tag in blog.tags"><a ng-click="ctrl.addTagToFilter(tag)" href=""><p ng-bind="tag"></p></a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</section>
