
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapp_titel">
                <p>Конкурс завершен 29.05.2016</p>
            </div>
        </div>
    </div>
</div> --> 

<form ng-submit="ctrl.send()" ng-init="ctrl.form = { policy_agreed: true}">
    <section class="about_first">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrapp_titel">
                        <h4>Регистрация <!-- <span class="plus_ball">+50 <img src="img/resources/img/balls.png" alt=""></span> --></h4>
                        <h2>Расскажите <br> ŠKODA о себе</h2>
                        <p>Потратьте всего несколько минут! <br>Чем больше полей регистрации вы заполните, <br>тем больше стартовых очков будет на вашем счету.<br> Ваши данные нужны для того, чтобы вы без <br>проблем получили выигранные призы и подарки.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="form">
        <div class="form_grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Как вас зовут?<!-- <span class="plus_ball">+10 <img src="img/resources/img/balls.png" alt=""></span> --></h4>
                        <input type="text" minlength="2" ng-model="ctrl.form.last_name" class="input_default input_small"
                               placeholder="Фамилия* (обязательное поле)" required>
                        <input type="text" minlength="2" ng-model="ctrl.form.first_name" class="input_default input_small"
                               placeholder="Имя* (обязательное поле)" required>
                        <input type="text" minlength="2" ng-model="ctrl.form.middle_name" class="input_default input_small"
                               placeholder="Отчество">
                    </div>
                    <div class="col-md-6 left">
                        <h4>Где Вы проживаете?<!-- <span class="plus_ball">+30 <img src="img/resources/img/balls.png" alt=""></span> --></h4>
                        <input type="text" ng-model="ctrl.form.zip_code" class="input_default input_small" placeholder="Индекс">
                        <input type="text" minlength="2" ng-model="ctrl.form.city" class="input_default input_small" placeholder="Город* (обязательное поле)" required>
                        <input type="text" ng-model="ctrl.form.address" class="input_default input_small"
                               placeholder="Адрес">
                    </div>
                </div>
            </div>
        </div>
        <div class="form_white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Можно вашу почту?</h4>
                        <input required="true" type="email" ng-model="ctrl.form.email" class="input_default input_small"
                               placeholder="E-mail* (обязательное поле)">
                    </div>
                    <div class="col-md-6 left">
                        <h4>И телефон?<!-- <span class="plus_ball">+30 <img src="img/resources/img/balls.png" alt=""></span> --></h4>
                        <input type="phone" ng-model="ctrl.form.phone" class="input_default input_small"  mask="+7(999) 999-9999"
                               placeholder="+7">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Пароль?</h4>
                        <input required="true" type="password" minlength="8" ng-model="ctrl.form.password" class="input_default input_small"
                               placeholder="Пароль* (мин. 8 символов)">
                        <ul id="strength" check-strength model="ctrl.form.password"></ul>
                    </div>
                    <div class="col-md-6 left">
                        <h4>Повторите пароль?</h4>
                        <input required="true" type="password" minlength="8" ng-model="ctrl.form.confirmPassword" class="input_default input_small"
                               placeholder="Пароль* (мин. 8 символов)">
                    </div>
                </div>

            </div>
        </div>
        <div class="form_grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Ваш возраст?</h4>
                        <input type="number" min="0" ng-model="ctrl.form.age" class="input_default input_small" placeholder="">
                    </div>
                    <div class="col-md-6 left">
                        <h4>Вы состоите в браке?</h4>
                        <input type="text" ng-model="ctrl.form.marital_status" class="input_default input_small" placeholder="">
                    </div>
                </div>
            </div>
        </div>

        <div class="form_grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Ваша машина?</h4>
                        <select style="width: 350px" class="input_default input_small"
                                ng-options="car for car in ctrl.brands" ng-model="ctrl.form.current_car" ng-change="ctrl.isCurrentCarSkoda = ctrl.form.current_car == 'Skoda'">
                            <option disabled selected value>Выберите текущую</option>

                        </select>
                    </div>
                    <div class="col-md-6 left">
                        <h4>А прошлая? </h4>
                        <select style="width: 350px" class="input_default input_small"
                                ng-options="car for car in ctrl.brands" ng-model="ctrl.form.last_car">
                            <option disabled selected value>Выберите прошлую</option>

                        </select>
                    </div>
                </div>

                <div class="row" ng-show="ctrl.isCurrentCarSkoda">
                    <div class="col-md-6 left">
                        <h4>Укажите модель?&lt;!&ndash; <!-- <span class="plus_ball">+50 <img src="img/resources/img/balls.png" alt=""></span> --> &ndash;&gt;</h4>
                        <select style="width: 350px" class="input_default input_small"
                                ng-options="car for car in ctrl.skodaCars" ng-model="ctrl.form.skoda_model">
                            <option disabled selected value>Выберите модель</option>

                        </select>
                    </div>

                    <div class="col-md-6 left">
                        <h4>Идентификационный № ?&lt;!&ndash; <!-- <span class="plus_ball">+50 <img src="img/resources/img/balls.png" alt=""></span> --> &ndash;&gt;</h4>
                        <input type="text" ng-model="ctrl.form.vincode" class="input_default input_small" placeholder="VIN 17 Символов">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                         <div class="block">
                                   <input type="checkbox" ng-model="ctrl.form.policy_agreed" id="c1">
                                   <label for="c1"><span></span><a href="" ui-sref="dashboard.regulations">С правилами конкурса ознакомлен</a></label>  
                        </div>                        <div class="block">
                           <input type="checkbox" ng-model="ctrl.form.policy_agreed" id="c2">
                          <label for="c2"><span></span><a href="" ui-sref="dashboard.consent">Согласен на обработку личных данных и получение рекламной информации.</a></label>
                       </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn_common main">Отправить</button>
                </div>
            </div>
        </div>
        <div class="form_white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>Мы хотим с вами дружить в соцсетях<span class="plus_ball"> </span></h4>
                        <ul>
                            <li><a href="#"><img src="img/resources/img/fb.png" alt="" class="img-responsive"></a></li>
                            <li><a href="#"><img src="img/resources/img/insta.png" alt="" class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="img/resources/img/twiter.png" alt="" class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="img/resources/img/vk.png" alt="" class="img-responsive"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</form>
