//Main colors
$green_main: #4ba82e;
$black: #000;
$white: #fff;
$grey_lite: #ececec;
$grey: #cccccc;
$grey_dark: #555555;
$grey_text: #999;
//Additional colors
$green_add_: #299926;
$green_add_pale: #a5d396;
$red: #da0000;
$coral: #bd1823;
$link_default_hover:#377220;
//fonts
$extra_bold: "SkodaProExtraBold", sans-serif;
$bold: "SkodaProBold", sans-serif;
$medium: "SkodaProMedium", sans-serif;
$regular: "SkodaProRegular", sans-serif;
$light: "SkodaProLight", sans-serif;
$p_size: 1.4rem;