//Main colors
$green_main: #4ba82e;
$black: #000;
$white: #fff;
$grey_lite: #ececec;
$grey: #cccccc;
$grey_dark: #555555;
//Additional colors
$green_add_: #299926;
$green_add_pale: #a5d396;
$red: #da0000; 
$link_default_hover:#377220; 
//fonts
$extra_bold: "SkodaProExtraBold", sans-serif;
$bold: "SkodaProBold", sans-serif;
$regular: "SkodaProRegular", sans-serif;
$light: "SkodaProLight", sans-serif;
$p_size: 1.4rem;


/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	//-------------------------------------------------- СЕРГЕЙ УШАНСЬКИЙ (переиминуй если, что))
// <!-- share -->
	.wrapp_toggle_share {
		ul {
			li {
				margin-right:2%;
				&::nth-child(1) {
					width:311px;
				}
			}
		}
	}
	// <!--end share -->
//	<!-- tantamareska -->
.wrapp_tantamareska {
	h2 {
		font-size:4rem;
	}
	.btn {
		float:right;
	}
}
//<!--end tantamareska -->
//-------------------------------------------------- end СЕРГЕЙ УШАНСЬКИЙ	
	 
}
@media only screen and (max-width : 1100px) {
	.wrapp_search p {
		display: none;
	}
	//-------------------------------------------------- main
	.wrapp_mainpage_slider {
		.left {
			margin-left: 10px;
		}
		.right {
			margin-right: 10px; 
		}
	}
	//-------------------------------------------------- end main
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.left_head {
		text-align:center;
	}

	
	footer {
		h5 {
			padding-top: 10px;
		}
	}
	.about_first { // about
		background-image: url("none.png");
		.wrapp_titel {
    		float: none;
   			margin-right: 0;
   			text-align: center; 
   			h4 {
   				margin-top: 100px;
   			}
   			p {
   				margin-bottom: 100px;
   			}
   		}	
	}
	.form {
		h4 {
			text-align: center;
		}
		input {
			margin: 40px auto;
		}
	}
	//-------------------------------------------------- t-drive

	.form_t_drive {
		div {
			text-align: center;
		}
		
	}

	//-------------------------------------------------- end t-drive


	//-------------------------------------------------- main
	.wrapp_mainpage_present {
		text-align: center;
	}
	.wrapp_mainpage_tantam {
		text-align: center;
		.left {
			margin-left: 0px;
		}
	}
	.wrapp_mainpage_slider {
		
		.right {
			text-align: center;
			
			margin-right: 0 !important;
			width: 100%;
		}
	}
	.form_popup {
		.left {
			border: none;
		}
	}

	//-------------------------------------------------- end main

//-------------------------------------------------- СЕРГЕЙ УШАНСЬКИЙ (переиминуй если, что))
// <!-- share -->
	.wrapp_toggle_share {
		ul {
			text-align:center;
			li {
				margin-right:4%;
				&:nth-child(1) {
					display:none;
				}
				&:nth-last-child(1) {
					margin-right:0px;
				}
			}
		}
	}
	// <!--end share -->
//-------------------------------------------------- end СЕРГЕЙ УШАНСЬКИЙ
	
	
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
//-------------------------------------------------- forum

.topics {
	.wrapp_static {
		text-align: left;
	}
}	



//-------------------------------------------------- end forum	
//-------------------------------------------------- lk


	.wrapp_lk {
		.lk_info {
			min-height: 0;
			height: auto;
			padding-top: 20px;
			padding-bottom: 20px;
			ul {
      			li {
      				display: inline-block;
					width: 32%;
					ul {
						li {
							text-align: left;
							display: block;
							width: 100%;
						}
					}
      			}
      		}		
		}
		.lk_plus {
			min-height: 0;
			height: auto;
			display: none;
		}
		.lk_menu {
			min-height: 0;
			height: auto;
			ul {
				li {
					display: inline-block;
					width: 30%;
					padding-top: 25px;
					padding-bottom: 25px;
					a {
						img {
							padding-top: 20px;
							padding-bottom: 20px;
						}
					}
					
				}
			}
		}
		.lk_content {
			min-height: 0;
			height: auto;
			padding-top: 20px;
			padding-bottom: 20px;
			.avatar {
				padding-bottom: 40px;
				li {
					h6 {
						top: 0;
					}
					.gir {
						font-size: 3rem;
						font-family: "SkodaProBold", sans-serif;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	//-------------------------------------------------- end lk

	//-------------------------------------------------- news
	.wrapp_news_all .menu_line ul {
		margin-top: 10px;
	}
	.wrapp_news_all .menu_line {
	    position: relative;
	    height: 127px;
	    width: 100%;
	    top: 0px;
	}
	.wrapp_news_all .menu_line ul li {
	    margin-bottom: 30px;
	    display: inline-block;
	    width: 30%;
	    text-align: center;
	    margin-top: 20px;
	}
	.wrapp_news_all {
		.wrapp_contant_main {
			margin-left: 20px;
			text-align: center;
			.grid-item {
				width: 100%;
				
			}
			.news_one {
				
				img{
					margin: 0 auto; 
				}
			}
		}
	}		

	//-------------------------------------------------- news
//-------------------------------------------------- СЕРГЕЙ УШАНСЬКИЙ (переиминуй если, что))
// <!-- share -->
 	.wrapp_toggle_share {
		ul {
			li {
				border:none;
				margin-bottom:15px;
			}
		}
	}
	// <!--end share -->
//-------------------------------------------------- end СЕРГЕЙ УШАНСЬКИЙ

// -------------------------------------------------- facts (ANDREY)

	.factSection {
		padding: 60px 20px;
		figure {
			figcaption {
				p {
					font-size:1.2rem;
				}
			}
		}
		ul {
			li:nth-child(2){
				position: relative;
			}
		}
	}
	.prizesSection {
		.wrapper {
			margin:30px 0;
			h5 {
				margin-bottom: 20px;
				font-size: 18px;
			}
			h2 {
				margin-bottom: 20px;
				color: #39b54a;
				text-transform: uppercase;
				font-size: 26px;
				max-width:200px;
			}
			p {
				margin-bottom: 50px;
				font-size: 14px;
			}
			img {
				width:70px;
			}
		}

	}
	.prizesSection.score1 {
			background-image: url('img/resources/img/prizesPage/priz10mob.png');
			background-repeat: no-repeat;
			background-position: center right 23px;
			background-size: 40%;

	}
	.prizesSection.score2 {
			background-image: url('img/resources/img/prizesPage/priz20mob.png');
			background-repeat: no-repeat;
			background-position: center right 23px;
			background-size: 40%;
	}
	.prizesSection.score3 {
			background-image: url('img/resources/img/prizesPage/priz30mob.png');
			background-repeat: no-repeat;
			background-position: center right 23px;
			background-size: 40%;
	}
	.prizesSection.step4 {
		.wrapper.black {
			padding:50px 0;
			h2 {
				color: #fff;
				margin-bottom: 0;
				font-size: 24px;
			}
			p {margin-bottom: 0;}
		}
	}


	// -------------------------------------------------- end facts (ANDREY)

}

@media only screen and (max-width : 664px) {
	.form{
		.form_white {
		    ul {
		        li {
		            margin: 0 10px;
		      	}
			    li:nth-child(1) {
			    	margin-right: 10px;
			        margin-left: 0;
			    }
			    li:nth-child(4) {
			    	margin-right: 0;
			        margin-left: 10px;
			    }
		    }
	  	}
	}
	.wrapp_blog_all {
		.wrapp_menu {
			.menu_line {
				margin-top: 0;
				position: relative;
				top: 0;
				display: block;
				height: 150px;
				width: 100%;
				ul {
					margin-top: 0;
					li {
						margin-bottom: 0px;
						display: inline-block;
						width: 30%;
						padding-top: 40px;				
					}
				}
			}
		}
		.wrapp_blog_contant {
		   margin-left: 0px ;
		}
	}	
//-------------------------------------------------- СЕРГЕЙ УШАНСЬКИЙ (переиминуй если, что))
//	<!-- tantamareska -->
.wrapp_tantamareska {
	h2 {
		font-size:5rem;
		text-transform: uppercase;
		font-family: 'SkodaProExtraBold';
	}
	.btn {
		float:right;
		position:relative;
		top:5px;
	}
}

//<!--end tantamareska -->
// <!-- share -->
 .wrapp_toggle_share {
 	.toggle_button {
 		.tiny {
 			padding:15px 56px;
 			font-size:1.7rem;

 			font-size:'SkodaProBold';
 		}
 	}
 }
	// <!--end share -->
// <!-- slider -->
 .wrapp_slider .slick-arrow {
 	display:none !important;
 }
	// <!--end slider -->
//-------------------------------------------------- end СЕРГЕЙ УШАНСЬКИЙ	  
@media only screen and (max-width : 635px) {
	//-------------------------------------------------- СЕРГЕЙ УШАНСЬКИЙ (переиминуй если, что))
.col-xs-mob {
	width:100%;
}

//	<!-- tantamareska -->
.wrapp_tantamareska {
	h2 {
		font-size:3.5rem;
		text-align:center;
		text-transform: none;
		font-family: 'SkodaProExtraBold';
		margin-bottom:15px;
	}
	.btn {
		top:0px;
		margin:0 auto;
		display:block;
		float:none;
	}
}

//<!--end tantamareska -->
// <!-- share -->
 .wrapp_toggle_share {
 	.toggle_button {
 		.tiny {
 			padding:15px 56px;
 			font-size:1.7rem;

 			font-size:'SkodaProBold';
 		}
 	}
 }
	// <!--end share -->

//-------------------------------------------------- end СЕРГЕЙ УШАНСЬКИЙ

}		
}	
@media only screen and (max-width : 600px) {
	  .timeline { left: 5%; }	
}	


/* Extra Small Devices, Phones */
@media only screen and (max-width : 486px) {
	
}	
@media only screen and (max-width : 440px) {
	h6{
		font-size: 1.7rem;
	}
	p{
		font-size: 1.2rem;
	}


//-------------------------------------------------- about
	.form {
		input {
			width: 90%
		}
	}
//-------------------------------------------------- end about
}	

/* Custom, iPhone Retina */
@media only screen and (max-width : 389px) {
	.fix_left {
		margin-left: 0px !important;
	}	
	.wrapp_lk {
		.lk_info {
			 ul {
			 	li {
			 		.fix_left{
			 			margin-left: 10px;
			 		}
			 	}
			}
		}
	}		 
}	


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/// СЕРГЕЙ
@media only screen and (max-width : 1350px) {
	.forecast_two .toc {
		width: 22px;
	}		
	.forecast_two .input-sn {
	    float: left;
	    width: 50px;
	}
}



 @media only screen and (max-width : 1150px) {
	.forecast_two {
		.input-sn {
		 width:45px;
		}
		.toc {
			width:30px;
		}
	} 
 }




 @media only screen and (max-width : 1075px) {
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width:75%;
	}
	.wrapp_forecast_content .forecast_content_block h4 {
		margin-left:0px;
	}
	.wrapp_forecast_content .forecast .main {
		width:200px;
		height:50px;
		font-size: 1.6rem;
		font-family: $bold; 
	}
	.wrapp_forecast_content .forecast .share {
		width:100%;
		padding-top:25px;
	}
	.wrapp_forecast_content .forecast .fri {
		display: block;
	}
	.wrapp_forecast_content .forecast .pos-fre {
		padding-left:0px;
	}
	.wrapp_forecast_content .forecast .share .icon {
		margin:0 5%;
	}
 


	.wrapp_forecast_all {
		float:none;
		width:100%;
		padding-bottom:25px;
		.nav_forecast {
			.header-title {
				margin-bottom:40px;
				h3 {
					font-family: $extra_bold;
					font-size:5rem;
					text-align:center;
				}
			}
			.nav_forecast_block {
				text-align:center;
			}
			.nav_forecast_block_item {
				
				
				.text {
					
				}
				.active .text {
					color:#4ba82e;
				}
			}
			&_block {
      &_item {
      			display:inline-block;
				width:150px;
				margin:0 2%;
				text-align:center;
				&:nth-child(2) {
					position:relative;
					top:-19px;
				}
        &_link {
          text-decoration: none;
          .number {
            color:$white;
          }
          .text {
            font-family: $extra_bold;
						font-size:1.7rem;
						line-height:1.9rem;
						color:$white;
          }
          &:hover {
            .number {
              color: $green_main;             
            }
            .text {
              color: $green_main;
            }
          }

        }

      }
    }
		}
	.active {
     .number {
      color: $green_main;             
    }
    .text {
      color: $green_main;
    }
  }
	}


 }


  @media only screen and (max-width : 994px) {
  	.wrapp_visits .visits_block .visits_number {
  		position:relative;
  		margin-top:15px;

  	}
  }


 @media only screen and (max-width : 846px) {
	.mob-forece {
		display:block;
		 .score {
	    p {
	      font-size:2rem;
	    }
	  }

	}
	.destop-force {
		display:none;
	}
	.orecast_two_block {
		padding:0 30px 0 60px;
	}
	.orecast_two-6 {
		float:left;
		width:50%;
	}
	.orecast_two-12_block {
		width:85%;
		margin:0 auto;
		.left {
	  	p {
	  		text-align: right;
	  		padding-top:48px;
	  	}
	  }
	  .right {
	  	p {
	  		text-align: left;
	  		padding-top:48px;
	  	}
	  }
	}
	.orecast_two-3 {
		float:left;
		width:25%;
	}
	.orecast_two-3.right {
		float:right;
	}
	.orecast_two-2 {
		position:absolute;
		left:50%;
		margin-left:-56px;
	}
	.orecast_two-7 {
		float:right;
		width:66.6666%;
	}
	.orecast_two_mob_block {
		padding:0 36px 90px;
	}
 .orecast_two_mob_block:nth-child(2n) {
 	background:#fff;
	}
	.forecast_two {
		border:none;
	}
	.forecast_two.mobile:nth-child(2n) {
		background:#fff;
	}
 }










 @media only screen and (max-width : 769px) {
	.destop {
		display:none;
	}
	.wrapp_forecast_content_mob {
		display:block;
		background: #fff;
	}
	.wrapp_forecast_content {
		.forecast {
			background:#f1f1f1;
		}
	}
	.wrapp_forecast_content .forecast .pos-fre {
		padding-top:75px;
	} 
 }


@media only screen and (max-width:642px) {
	.wrapp_forecast_content  {
		
			.bac-forecast-two .col-sm-7 { 
				.main {
					display:none;
				}
			}
	}
}

 @media only screen and (max-width : 600px) {
		 	.wrapp_forecast_all {
		float:none;
		width:100%;
		.nav_forecast {
			.header-title {
				margin-bottom:25px;
				h3 {
					font-family: $extra_bold;
					font-size:3rem;
					text-align:center;
				}
			}

	&_block {
		margin-bottom:25px;
      &_item {
      	display:inline-block;
				width:150px;
				margin:0 auto 25px;
				text-align:center;
				&:nth-child(2) {
					position:relative;
					top:0px;
				}
        &_link {
          text-decoration: none;
          .number {
            color:$white;
          }
          .text {
            font-family: $extra_bold;
						font-size:1.7rem;
						line-height:1.9rem;
						color:$white;
          }
          &:hover {
            .number {
              color: $green_main;             
            }
            .text {
              color: $green_main;
            }
          }

        }

      }
    }
		}
	.active {
     .number {
      color: $green_main;             
    }
    .text {
      color: $green_main;
    }
  }
	}

 //wrapp_forecast_content_mob

.wrapp_forecast_content_mob {
  .forecast_slider {
    .slick-list {
    }
    .slider-nav_forecast {
      .nav_block {
      	padding-top:35px;
        h4 {
          font-size:3rem;
        }
      }
    }
  }
}

 //wrapp_forecast_content_mob end
 }

	@media only screen and (max-width : 590px) {
		.visits_number {
			display:none;
		}
		.wrapp_visits .im_block_visits .visits-block {
			padding:0px;
			width:auto;
		}
		.wrapp_forum-topic .forum-block {
			width:auto;
		}
		.wrapp_visits .im_block_visits {
			padding:0px;
		}
		.wrapp_visits .im_block_visits .visits-block {
			margin:0px;
		}
		.wrapp_breadcrumbs {
			display:none;
		}
		.wrapp_content_bl .content_bl_br .content_bl_im .photo {
			margin:0 auto;
		}
	}


 @media only screen and (max-width : 450px) {
 	.orecast_two-12_block { 
		width:100%;
 	}
 }