/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	//-------------------------------------------------- СЕРГЕЙ УШАНСЬКИЙ (переиминуй если, что))
// <!-- share -->
	.wrapp_toggle_share {
		ul {
			li {
				margin-right:2%;
				&::nth-child(1) {
					width:311px;
				}
			}
		}
	}
	// <!--end share -->
//	<!-- tantamareska -->
.wrapp_tantamareska {
	h2 {
		font-size:4rem;
	}
	.btn {
		float:right;
	}
}
//<!--end tantamareska -->
//-------------------------------------------------- end СЕРГЕЙ УШАНСЬКИЙ	
	 
}
@media only screen and (max-width : 1100px) {
	.wrapp_search p {
		display: none;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.left_head {
		text-align:center;
	}
	.right_head {
		border-bottom: 1px solid #b2b5b7;
	}
	
	footer {
		h5 {
			padding-top: 10px;
		}
	}
	.about_first { // about
		background-image: url("none.png");
		.wrapp_titel {
    		float: none;
   			margin-right: 0;
   			text-align: center; 
   			h4 {
   				margin-top: 100px;
   			}
   			p {
   				margin-bottom: 100px;
   			}
   		}	
	}
	.form {
		h4 {
			text-align: center;
		}
		input {
			margin: 40px auto;
		}
	}
	//-------------------------------------------------- t-drive

	.form_t_drive {
		div {
			text-align: center;
		}
		
	}

	//-------------------------------------------------- end t-drive
//-------------------------------------------------- СЕРГЕЙ УШАНСЬКИЙ (переиминуй если, что))
// <!-- share -->
	.wrapp_toggle_share {
		ul {
			text-align:center;
			li {
				margin-right:4%;
				&:nth-child(1) {
					display:none;
				}
				&:nth-last-child(1) {
					margin-right:0px;
				}
			}
		}
	}
	// <!--end share -->
//-------------------------------------------------- end СЕРГЕЙ УШАНСЬКИЙ
	
	
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
//-------------------------------------------------- lk


	.wrapp_lk {
		.lk_info {
			min-height: 0;
			height: auto;
			padding-top: 20px;
			padding-bottom: 20px;
			ul {
      			li {
      				display: inline-block;
					width: 32%;
					ul {
						li {
							text-align: left;
							display: block;
							width: 100%;
						}
					}
      			}
      		}		
		}
		.lk_plus {
			min-height: 0;
			height: auto;
			display: none;
		}
		.lk_menu {
			min-height: 0;
			height: auto;
			ul {
				li {
					display: inline-block;
					width: 30%;
					padding-top: 25px;
					padding-bottom: 25px;
					a {
						img {
							padding-top: 20px;
							padding-bottom: 20px;
						}
					}
					
				}
			}
		}
		.lk_content {
			min-height: 0;
			height: auto;
			padding-top: 20px;
			padding-bottom: 20px;
			.avatar {
				padding-bottom: 40px;
				li {
					h6 {
						top: 0;
					}
					.gir {
						font-size: 3rem;
						font-family: "SkodaProBold", sans-serif;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	//-------------------------------------------------- end lk

	//-------------------------------------------------- news
	.wrapp_news_all {
		.wrapp_contant_main {
			margin-left: 20px;
			text-align: center;
			.grid-item {
				width: 100%;
				
			}
			.news_one {
				
				img{
					margin: 0 auto; 
				}
			}
		}
	}		

	//-------------------------------------------------- news
//-------------------------------------------------- СЕРГЕЙ УШАНСЬКИЙ (переиминуй если, что))
// <!-- share -->
 	.wrapp_toggle_share {
		ul {
			li {
				border:none;
				margin-bottom:15px;
			}
		}
	}
	// <!--end share -->
//-------------------------------------------------- end СЕРГЕЙ УШАНСЬКИЙ

// -------------------------------------------------- facts (ANDREY)

	.factSection {
		padding: 30px 20px 60px 20px;
		figure {
			figcaption {
				p {
					font-size:1.2rem;
				}
			}
		}
		ul {
			li:nth-child(2){
				position: relative;
			}
		}
	}

	// -------------------------------------------------- end facts (ANDREY)
}

@media only screen and (max-width : 664px) {
	.form{
		.form_white {
		    ul {
		        li {
		            margin: 0 10px;
		      	}
			    li:nth-child(1) {
			    	margin-right: 10px;
			        margin-left: 0;
			    }
			    li:nth-child(4) {
			    	margin-right: 0;
			        margin-left: 10px;
			    }
		    }
	  	}
	}
	.wrapp_blog_all {
		.wrapp_menu {
			.menu_line {
				margin-top: 0;
				position: relative;
				top: 0;
				display: block;
				height: 150px;
				width: 100%;
				ul {
					margin-top: 0;
					li {
						margin-bottom: 0px;
						display: inline-block;
						width: 30%;
						padding-top: 40px;				
					}
				}
			}
		}
		.wrapp_blog_contant {
		   margin-left: 0px ;
		}
	}	
//-------------------------------------------------- СЕРГЕЙ УШАНСЬКИЙ (переиминуй если, что))
//	<!-- tantamareska -->
.wrapp_tantamareska {
	h2 {
		font-size:5rem;
		text-transform: uppercase;
		font-family: 'SkodaProExtraBold';
	}
	.btn {
		float:right;
		position:relative;
		top:5px;
	}
}

//<!--end tantamareska -->
// <!-- share -->
 .wrapp_toggle_share {
 	.toggle_button {
 		.tiny {
 			padding:15px 56px;
 			font-size:1.7rem;

 			font-size:'SkodaProBold';
 		}
 	}
 }
	// <!--end share -->
// <!-- slider -->
 .wrapp_slider .slick-arrow {
 	display:none !important;
 }
	// <!--end slider -->
//-------------------------------------------------- end СЕРГЕЙ УШАНСЬКИЙ	  
@media only screen and (max-width : 635px) {
	//-------------------------------------------------- СЕРГЕЙ УШАНСЬКИЙ (переиминуй если, что))
.col-xs-mob {
	width:100%;
}

//	<!-- tantamareska -->
.wrapp_tantamareska {
	h2 {
		font-size:3.5rem;
		text-align:center;
		text-transform: none;
		font-family: 'SkodaProExtraBold';
		margin-bottom:15px;
	}
	.btn {
		top:0px;
		margin:0 auto;
		display:block;
		float:none;
	}
}

//<!--end tantamareska -->
// <!-- share -->
 .wrapp_toggle_share {
 	.toggle_button {
 		.tiny {
 			padding:15px 56px;
 			font-size:1.7rem;

 			font-size:'SkodaProBold';
 		}
 	}
 }
	// <!--end share -->

//-------------------------------------------------- end СЕРГЕЙ УШАНСЬКИЙ

}		
}	
@media only screen and (max-width : 600px) {
	  .timeline { left: 5%; }	
}	


/* Extra Small Devices, Phones */
@media only screen and (max-width : 486px) {
	
}	
@media only screen and (max-width : 440px) {
	h6{
		font-size: 1.7rem;
	}
	p{
		font-size: 1.2rem;
	}
}	

/* Custom, iPhone Retina */
@media only screen and (max-width : 389px) {
	.fix_left {
		margin-left: 0px !important;
	}	
	.wrapp_lk {
		.lk_info {
			 ul {
			 	li {
			 		.fix_left{
			 			margin-left: 10px;
			 		}
			 	}
			}
		}
	}		 
}	


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}