.wrapp_form_suggestions_slider{
	.slick-prev,
	.slick-next{
		left:50%;
		margin-left:-5px;
	}
	.slick-prev{
		bottom:100%;
	}
	.slick-next{
		top:100%;
		margin-top:10px;
	}
}
.suggestions-slider > .slick-list{
	height:700px !important;
}
.suggestions-slider{
	.slick-active{
		// opacity:0.2;
	}
}