.wrapp_form_suggestions_slider{
	overflow: hidden;
	.slick-prev,
	.slick-next{
		left:50%;
		margin-left:-23px;
		width:46px;
		height:24px;
	}
	.slick-prev{
		top:-25px;
	}
	.slick-next{
		top:100%;
		margin-top:30px;
	}
	// .item{
	// 	height:200px;
	// 	overflow: hidden;
	// 	padding:20px 0;
	// 	margin-bottom:0 !important;
	// 	img{
	// 		width:100%;
	// 		max-height:200%;
	// 	}
	// }
}
.suggestions-slider > .slick-list{
	// height:700px !important;
}
.suggestions-slider{
	&.slider-nav{
		position:relative;
		height:auto;
		margin-top:70px;
		.item{
			margin:0;
		}

	}
	.item{
		overflow: hidden;
		height:240px;
		padding:20px 0;
		img{
			width:100%;
			max-height:120%;
		}
	}
}