<div class="supergame_contant">
    <h4>Суперигра</h4>

    <p>Поздравляем, Вы стали участником суперигры в борьбе за главный приз!</p>

<p>Чтобы выиграть главный приз, необходимо правильно и быстрее всех ответить на вопросы финальной викторины.</p>

<p>Финальная викторина будет состоять из 6 туров по 7 вопросов. Вопросы на хоккейную тематику и об автомобилях марки ŠKODA . Ограничение на каждый  вопрос - 20 секунд.</p>

<p>Результаты буду оглашены на официальном сайте hockey-skoda.ru в течение 2х часов.</p>

    <div class="foto_supergame text-center">
        <!-- <p>
            <img src="img/resources/img/like.png" alt="">
            <span>14444</span>
        </p> -->
        <!-- <img src="img/resources/img/Layer-37.jpg" alt="" class="img-responsive"> -->
        <!-- <p style="margin-top: 10px;">Вы готовы к супер игре?!</p> -->
        <button class="btn btn_primary main" ng-click="ctrl.startQuiz()">Старт</button>
        <button ng-show="ctrl.user.superfinalist" class="btn btn_primary main" ng-click="ctrl.startSuperfinalQuiz()">Старт Суперфинала</button>
    </div>

</div>



