<section class="add_topic">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button ng-show="!ctrl.isEditorOpen" ng-disabled="!ctrl.session.isAuthenticated"
                        ng-click="ctrl.openEditor()" class="btn btn_primary main">Создать тему
                </button>
                <p ng-show="!ctrl.session.isAuthenticated">Чтобы создать тему или оставить комментарий <br>нужно <a
                        ng-click="ctrl.login.open()" href="#">Авторизироваться</a></p>

                <div ng-show="ctrl.isEditorOpen" class="textEdit">
                    <form ng-submit="ctrl.createTopic()">
                        <input ng-model="ctrl.topicName" type="text" class="input_default input_large"
                               placeholder="Тема" required>

                        <div text-angular ng-model="ctrl.message"></div>
                        <button class="btn btn_primary main">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="topics">
    <div class="container">
        <div class="row">
            <div class="row menu_border_bottom">
                <div class="col-md-12 text-right">
                    <div class="wrapp_filt">
                        <ul>
                            <li><a href="#" class="active">Новые</a></li>
                            <!--<li><a href="#">Популярные</a></li>
                            <li><a href="#">Лучшие</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row post_hover">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="wrapp_topic wrapp_topic_page">
                        <h4><a href="#" class="link_default" ng-bind="ctrl.section.name"></a></h4>

                        <p>13 минут назад <span>Дмитрием Ивановым</span></p>
                        <ul>
                            <li ng-repeat="topic in ctrl.topics">
                                <span><a ui-sref="dashboard.forumtopic({id:topic.id})" class="link_default"
                                         ng-bind="topic.name"></a></span>
                                <ul>
                                    <li><img src="img/resources/img/page.png" alt=""></li>
                                    <li ng-repeat="page in topic.pages"><a href="#" ng-bind="page"></a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="wrapp_col ">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="wrapp_static wrapp_static_page">
                        <ul>
                            <li>{{ctrl.section.count_view}} <p>Просмотров</p></li>
                            <li>{{ctrl.section.messages_count}} <p>Ответ</p></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div ng-show="ctrl.currentPage < ctrl.totalPages" class="row text-center">
                <button ng-click="ctrl.loadMore()" class="btn btn_common main load_more">Показать еще</button>
            </div>
        </div>
    </div>
</section>