<section class="add_topic">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button ng-show="!ctrl.isEditorOpen" ng-disabled="!ctrl.session.isAuthenticated"
                        ng-click="ctrl.openEditor()" class="btn btn_primary main">Создать тему
                </button>
                <p ng-show="!ctrl.session.isAuthenticated">Чтобы создать тему или оставить комментарий <br>нужно <a
                        ng-click="ctrl.login.open()" href="#">Авторизироваться</a></p>

                <div ng-show="ctrl.isEditorOpen" class="textEdit">
                    <form ng-submit="ctrl.createTopic()">

                        <select class="input_default input_small"
                                ng-options="section.name for section in ctrl.allSections"
                                ng-model="ctrl.tempSection" disabled>
                        </select>

                        <input ng-model="ctrl.topicName" type="text" class="input_default input_large"
                               placeholder="Тема" required>
                        <div text-angular ng-model="ctrl.message"></div>
                        <button class="btn btn_primary main">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="topics">
    <div class="container">
        <div class="row">
            <div class="row menu_border_bottom">
                <div class="col-md-12 text-right">
                    <div class="wrapp_filt">

                        <ul style="float: left;">

                            <li>
                                <a ui-sref="dashboard.forum" class="link_default">Форум </a>
                            </li>
                            <li> > </li>
                            <li>
                                <a ui-sref="dashboard.forum-page({id:ctrl.section.id})" ui-sref-opts="{reload: true}" class="link_default"
                                   ng-bind="ctrl.section.name"></a>
                            </li>
                        </ul>   
                        <ul style="float: right;">
                            <li><a ui-sref="dashboard.forum-page({sort:'last_activity'})" ui-sref-opts="{reload: true}"
                                   ng-class="{'active': ctrl.sort == 'last_activity'}">Новые</a></li>
                            <li><a ui-sref="dashboard.forum-page({sort:'count_view'})" ui-sref-opts="{reload: true}"
                                   ng-class="{'active': ctrl.sort == 'count_view'}">Популярные</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row post_hover">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="wrapp_topic wrapp_topic_page">
                        <h4><a href="#" class="link_default" ng-bind="ctrl.section.name"></a></h4>

                        <p>{{ctrl.section.last_message.created_at | amDateFormat:'DD MMMM h:mm'}} <span ng-bind="ctrl.section.last_message.user.name"></span></p>
                        <ul>
                            <li ng-repeat="topic in ctrl.topics">
                                <span><a ui-sref="dashboard.forumtopic({id:topic.id})" class="link_default"
                                         ng-bind="topic.name"></a></span>
                                <span ng-bind="topic.messages_count"></span>
                                <ul>
                                    <li><img src="img/resources/img/page.png" alt=""></li>
                                    <li ng-repeat="page in topic.pages"><a
                                            ui-sref="dashboard.forumtopic({id: topic.id, page: page})"
                                            ng-bind="page"></a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="wrapp_col ">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="wrapp_static wrapp_static_page">
                        <ul>
                            <li>{{ctrl.section.count_view}} <p>Просмотров</p></li>
                            <li>{{ctrl.section.messages_count}} <p>Ответ</p></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div ng-show="ctrl.currentPage < ctrl.totalPages" class="row text-center">
                <button ng-click="ctrl.loadMore()" class="btn btn_common main load_more">Показать еще</button>
            </div>
        </div>
    </div>
</section>