<form class="form-master-class" ng-submit="ctrl.session.isAuthenticated ? ctrl.send_master_class() : ctrl.send()" ng-init="ctrl.form = { policy_agreed: true}">
    <section ng-show="!ctrl.show_registration" style="margin-top: 40px; margin-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div style="padding-left: 9%;" class="col-md-12">
                    <div class="wrapp_titel">
                        <p>Добрый день!</p>
                        </br>
                        <p>К сожалению, все места на мастер-классы забукированы. Запись на мастер-классы закрыта.</p>
                        </br>
                        <p>Помимо мастер-классов в рамках финальных игр для всех гостей турнира будут организованы:</p>
                        <ul style="list-style-type: disc;">
                            <li style="margin-left: 40px;">активности для юных зрителей в холле ВТБ Ледовый Дворец,</li>
                            <li style="margin-left: 40px;">розыгрыши сувениров,</li>
                            <li style="margin-left: 40px;">автограф-сессия  от звезд российского хоккея Алексея Яшина и Алексея Морозова.</li>
                        </ul>
                        </br>
                        <p>Приходите на финальные игры турнира SKODA Junior Iсе Hockey Cup, чтобы поболеть за наших юных спортсменов!<br>
                            Вход бесплатный.</p>
                        </br>
                        <p>Расписание</p>
                        <img src="img/resources/img/schedule.jpg" alt="" style="width: 400px; display:block; margin-left:auto; margin-right:auto;">
                        </br>
                        <p>*-команды будут распределены по группам по итогам жеребьевки. Подробное расписание будет доступно на сайте <a class="link_default" href="http://hockey-skoda.ru/junior">http://hockey-skoda.ru/junior</a> по итогу первого и второго игрового дня.</p>
                        </br>
                        <p>В случае возникновения вопросов  <a class="link_default" href="mailto:info@hockey-skoda.ru">info@hockey-skoda.ru</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ng-show="ctrl.show_registration" style="margin-top: 40px; margin-bottom: 30px; text-align: left;">
        <div class="container">
            <div class="row">
                <div style="padding-left: 9%;" class="col-md-12">
                    <div class="wrapp_titel">
                        <p><b>Открытые мастер-классы от звезд Российского хоккея в рамках ŠKODA Junior Ice Hockey Cup 2017.</b></p>
                        </br>
                        <p>Дорогие друзья!</p>
                        <p>Мы рады пригласить Ваших детей принять участие в открытых мастер-классах от звезд Российского Хоккея Алексея Яшина и Алексея Морозова.</p>
                        </br>
                        <p><b>22 Апреля. 15.30 – 16.30 мастер-класс с Алексеем Яшиным для детей в возрасте 10-12 лет.</b></p>
                        <p><b>23 Апреля. 17.00 – 18.00 мастер-класс с Алексеем Морозовым для детей в возрасте 7-9 лет.</b></p>
                        </br>
                        <p><b>Для того, чтобы принять участие в мастер-классе необходимо зарегистрироваться на сайте: кнопка для регистрации находится ниже. <b>Регистрация является обязательным условием участия.</b> К мастер-классам допускаются первые 30 человек, прошедших регистрацию и принявших описанные ниже условия участия.</b></p>
                        </br>
                        <p>Условия участия в мастер-классах:</p>
                        </br>
                        <ol>
                            <li>Проживание в Москве/МО либо присутствие в Москве в указанную дату</li>
                            <li>Умение твердо стоять на коньках</li>
                            <li>Минимальное умение играть в хоккей (любительский/начинающий уровни допускаются)</li>
                            <li>Наличие собственной экипировки (коньки, клюшка, шлем с маской, защита: наличие экипировки проверяется до выхода на лед!).</li>
                            <li>Соответствие указанному выше возрасту в соответствии с выбранным днем участия (при себе иметь документ, подтверждающий возраст ребенка)</li>
                            <li>Сопровождение одного из родителей (родитель в обязательном порядке должен иметь при себе паспорт для подписания соглашения о безопасности).</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="form" ng-show="ctrl.show_registration">
        <div class="form_grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4> ФИО сопровождающих родителей/родственников<!-- <span class="plus_ball">+10 <img src="img/resources/img/balls.png" alt=""></span> --></h4>
                        <input type="text" minlength="2" ng-model="ctrl.form.last_name" class="input_default input_small"
                               placeholder="Фамилия* (обязательное поле)" required>
                        <input type="text" minlength="2" ng-model="ctrl.form.first_name" class="input_default input_small"
                               placeholder="Имя* (обязательное поле)" required>
                        <input type="text" minlength="2" ng-model="ctrl.form.middle_name" class="input_default input_small"
                               placeholder="Отчество">
                    </div>
                    <div class="col-md-6 left" >
                        <h4> ФИО ребенка<!-- <span class="plus_ball">+10 <img src="img/resources/img/balls.png" alt=""></span> --></h4>
                        </br></br>
                        <input type="text" minlength="2" ng-model="ctrl.forma.child_last_name" class="input_default input_small"
                               placeholder="Фамилия* (обязательное поле)" required>
                        <input type="text" minlength="2" ng-model="ctrl.forma.child_first_name" class="input_default input_small"
                               placeholder="Имя* (обязательное поле)" required>
                        <input type="text" minlength="2" ng-model="ctrl.forma.child_middle_name" class="input_default input_small"
                               placeholder="Отчество">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Где Вы проживаете?<!-- <span class="plus_ball">+30 <img src="img/resources/img/balls.png" alt=""></span> --></h4>
                        <input type="text" minlength="2" ng-model="ctrl.form.city" class="input_default input_small" placeholder="Город* (обязательное поле)" required>
                        <input type="text" ng-model="ctrl.form.address" class="input_default input_small"
                               placeholder="Адрес" required>
                        <h4>Дата мастер класса</h4>
                        <select class="input_default input_small date-picker" ng-model="ctrl.forma.when"
                                  ng-options="key as value for (key , value) in ctrl.master_class_data" required >
                        </select>
                    </div>
                    <div class="col-md-6 left">
                        <h4>Дата рождения ребёнка</h4>
                        <input type="text" id="child_birthday" class="input_default input_small" ng-model="ctrl.forma.child_birthday"
                               placeholder="00.00.0000" required />
                        </br></br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Подтверждаем, что</h4>
                        <div class="block">
                            <input type="checkbox" ng-model="ctrl.forma.can_skate" id="can_skate">
                            <label style="margin-left: 0px;" for="can_skate"><span></span>ребенок умеет твердо стоять на коньках</label>
                        </div>
                        <div class="block">
                            <input type="checkbox" ng-model="ctrl.forma.can_play" id="can_play">
                            <label style="margin-left: 0px;" for="can_play"><span></span>присутствует минимальное умение играть в хоккей (любительский/начинающий уровни допускаются)</label>
                        </div>
                        <div class="block">
                            <input type="checkbox" ng-model="ctrl.forma.has_equipment" id="has_equipment">
                            <label style="margin-left: 0px;" for="has_equipment"><span></span>в наличии собственная экипировка (коньки, клюшка, шлем с маской, защита)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_white" ng-if="!ctrl.session.isAuthenticated">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4 style="margin-bottom: 20px;">Email</h4>
                        <div style="margin-bottom: 20px;">пожалуйста, введите корректный email (необходим для подтверждения участия).</div>
                        <input required="true" type="email" ng-model="ctrl.form.email" class="input_default input_small"
                               placeholder="E-mail* (обязательное поле)">
                    </div>
                    <div class="col-md-6 left">
                        <h4 style="margin-bottom: 20px;">Телефон<!-- <span class="plus_ball">+30 <img src="img/resources/img/balls.png" alt=""></span> --></h4>
                        <div style="margin-bottom: 20px;">пожалуйста, введите корректный номер телефона (необходим для подтверждения участия накануне мастер-класса).</div>
                        <input type="phone" ng-model="ctrl.form.phone" class="input_default input_small"  mask="+7(999) 999-9999"
                               placeholder="+7" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Пароль?</h4>
                        <input required="true" type="password" minlength="8" ng-model="ctrl.form.password" class="input_default input_small"
                               placeholder="Пароль* (мин. 8 символов)">
                        <ul id="strength" check-strength model="ctrl.form.password"></ul>
                    </div>
                    <div class="col-md-6 left">
                        <h4>Повторите пароль?</h4>
                        <input required="true" type="password" minlength="8" ng-model="ctrl.form.confirmPassword" class="input_default input_small"
                               placeholder="Пароль* (мин. 8 символов)">
                    </div>
                </div>
            </div>
        </div>

        <div class="form_grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                         <div class="block">
                                   <input type="checkbox" ng-model="ctrl.form.policy_agreed" id="c1">
                                   <label for="c1"><span></span><a href="" ui-sref="dashboard.regulations">С правилами конкурса ознакомлен</a></label>
                        </div>                        <div class="block">
                           <input type="checkbox" ng-model="ctrl.form.policy_agreed" id="c2">
                          <label for="c2"><span></span><a href="" ng-click="ctrl.openModal();" >Согласен на обработку личных данных и получение рекламной информации.</a></label>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button ng-disabled="!(ctrl.forma.can_play && ctrl.forma.can_skate && ctrl.forma.has_equipment)" class="btn btn_common main">Отправить</button>
                </div>
            </div>
        </div>
        <!-- <div class="form_white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>Мы хотим с вами дружить в соцсетях<span class="plus_ball"> </span></h4>
                        <ul>
                            <li><a href="#"><img src="img/resources/img/fb.png" alt="" class="img-responsive"></a></li>
                            <li><a href="#"><img src="img/resources/img/insta.png" alt="" class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="img/resources/img/twiter.png" alt="" class="img-responsive"></a>
                            </li>
                            <li><a href="#"><img src="img/resources/img/vk.png" alt="" class="img-responsive"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
    </aside>
</form>
