<section class="wrapp_news_all" infinite-scroll>
    <div class="wrapp_menu default" id='menu'>
        <div class="menu_line ">
            <ul>
                <li><a href=""><img src="img/resources/img/news/ico_menu1.png" alt="" class="img-responsive"></a></li>
                <li><a href=""><img src="img/resources/img/news/ico_menu2.png" alt="" class="img-responsive"></a></li>
                <li><a href=""><img src="img/resources/img/news/ico_menu3.png" alt="" class="img-responsive"></a></li>
            </ul>
        </div>
        <div class="menu_date">
            <ul>
                <li ng-repeat="month in ctrl.months">
                    <p><a href="#"><span>{{month.viewIndex}}</span>{{month.name}}</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrapp_contant_main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 hidden-xs hidden-sm">
                    <div class="timeline_news" style="height: 2000px;"></div>
                    <!-- Нужно высчитывать высоту timeline  в зависимости от высоты всех постов. -->
                    <ul class="timeline_news_day" style="height: 2000px;">
                        <!-- Высчитывать высоту отступа каждого кружочка взависимости от высоты всей линии -->
                        <li>
                            <div class="activ_day">Сегодня</div>
                        </li>
                        <li>
                            <div>24</div>
                        </li>
                        <li>
                            <div class="activ_day ">24</div>
                        </li>
                        <li>
                            <div>24</div>
                        </li>
                        <li class="noactiv_day">
                            <div></div>
                        </li>
                        <li class="noactiv_day">
                            <div></div>
                        </li>
                        <li>
                            <div>24</div>
                        </li>
                    </ul>

                </div>
                <div>

                <div class="col-xs-12 col-sm-12 col-md-8 text-left grid" id="news">
                    <div news="news" class="news_one grid-item" ng-repeat="news in ctrl.news"/>
                </div>
                <!--<div class="col-xs-12 col-sm-12 col-md-8 text-left grid" id="news">
                    &lt;!&ndash; <div class="wrapp_news default" > &ndash;&gt;
                    <div class="news_one grid-item">
                        <h5>14:52</h5>
                        <img src="img/news/new.jpg" alt="" class="img-responsive">
                        <p><a href="#" class="link_default">Бойня в Нижнем - вновь за Торпедо!</a></p>
                        <p>Историческая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛ </p>
                    </div>
                    <div  class="col-xs-12 col-sm-6 col-md-4 text-left">
                        <div news="news" ng-repeat="news in ctrl.news"/>
                    <div class="news_one grid-item">
                        <h5>14:52</h5>
                        <img src="img/news/new.jpg" alt="" class="img-responsive">
                        <p><a href="#" class="link_default">Бойня в Нижнем - вновь за Торпедо!</a></p>
                        <p>Историческая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛ </p>
                    </div>
                    <div class="news_one grid-item">
                        <h5>14:52</h5>
                        <img src="img/news/new.jpg" alt="" class="img-responsive">
                        <p><a href="#" class="link_default">Бойня в Нижнем - вновь за Торпедо!</a></p>
                        <p>Историческая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛИсторическая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛИсторическая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛИсторическая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛ </p>
                    </div>
                    <div class="news_one grid-item">
                        <h5>14:52</h5>
                        <img src="img/news/new.jpg" alt="" class="img-responsive">
                        <p><a href="#" class="link_default">Бойня в Нижнем - вновь за Торпедо!</a></p>
                        <p>Историческая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛ </p>
                    </div>
                    <div class="news_one grid-item">
                        <h5>14:52</h5>
                        <img src="img/news/new.jpg" alt="" class="img-responsive">
                        <p><a href="#" class="link_default">Бойня в Нижнем - вновь за Торпедо!</a></p>
                        <p>Историческая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛ </p>
                    </div>
                    <div class="news_one grid-item">
                        <h5>14:52</h5>
                        <img src="img/news/new.jpg" alt="" class="img-responsive">
                        <p><a href="#" class="link_default">Бойня в Нижнем - вновь за Торпедо!</a></p>
                        <p>Историческая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛИсторическая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛИсторическая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛИсторическая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛ </p>
                    </div>
                    <div class="news_one grid-item">
                        <h5>14:52</h5>
                        <img src="img/news/new.jpg" alt="" class="img-responsive">
                        <p><a href="#" class="link_default">Бойня в Нижнем - вновь за Торпедо!</a></p>
                        <p>Историческая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛ </p>
                    </div>
                    <div class="news_one grid-item">
                        <h5>14:52</h5>
                        <img src="img/news/new.jpg" alt="" class="img-responsive">
                        <p><a href="#" class="link_default">Бойня в Нижнем - вновь за Торпедо!</a></p>
                        <p>Историческая шайба Овечкина, эффектный гол Орлова и сухая победа Тампы в обзоре дня НХЛ </p>
                    </div>
                    &lt;!&ndash; </div> &ndash;&gt;
                </div>
                <div class="hidden-xs hidden-sm col-md-2 fix_padding" ng-show="false">
                    <div class="wrapp_social_lent">
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li>Кузнецов здорово прибавил , стал играть совсем в другую игру, нежели в прошлом году,
                                    очень много
                                </li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li>Кузнецов здорово прибавил , стал играть совсем в другую игру, нежели в прошлом году,
                                    очень много
                                </li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li><img src="img/resources/img/bg.png" alt="" class="img-responsive"></li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li>Кузнецов здорово прибавил , стал играть совсем в другую игру, нежели в прошлом году,
                                    очень много
                                </li>
                            </ul>
                        </div>
                        <div class="soc_post">
                            <img src="img/resources/img/twiter_min.png" alt="" class="img-responsive">
                            <ul>
                                <li>Хоккей</li>
                                <li>@sports_hokey</li>
                                <li><img src="img/resources/img/bg.png" alt="" class="img-responsive"></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>-->
        </div>
    </div>
</section>