<div class="modal modal-competition" id="modalRegi" role="dialog" style="display: {{ctrl.display}};">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-competition-wrapper">
                <div class="modal-competition-img">
                    <img src="{{ctrl.img}};" alt="">
                </div>
                <div class="modal-competition-content">
                    <h4 class="modal-competition-heading" ng-bind="ctrl.headerText"></h4>
                    <p class="modal-competition-text" ng-bind="ctrl.descrText"></p>
                    <br>
                    <button class="btn btn_primary small" ng-click="ctrl.go()" ng-bind="ctrl.buttonText"></button>
                </div>
            </div>
            <button class="close" ng-click="ctrl.close()" aria-hidden="true"></button>
        </div>

    </div>
</div>