<section class="main_video">

    <div ng-show="ctrl.videoByIdExists">
        <div class="video_item" ng-show="!ctrl.showVideoByIdInfo" data-player="byId">
            <youtube-video  video-id="ctrl.currentVideoById.video_code" player-width="'90%'" player-height="'100%'" style="min-height: 620px" player="ctrl.playerById"></youtube-video>
        </div>
        <div ng-show="ctrl.showVideoByIdInfo" class="video_item" style="background-image: url('{{ctrl.currentVideoById.image.original}}')">

            <div>

                <h5 ng-bind="ctrl.currentVideoById.name"></h5>
                <a ng-click="ctrl.playVideoById()" href=""><img class="play" src="img/resources/img/play.png" alt="" class="img-responsive">

                    <p class="bold">Смотреть</p>
                    <p ng-bind="ctrl.videoByIdTime"></p>
                </a>


                <p class="share">Поделиться видео:</p>
                <a socialshare socialshare-provider="facebook" socialshare-url="{{ctrl.currentVideoById.socialUrl}}">
                    <img class="" src="img/resources/img/fb.png" alt="" class="img-responsive"></a>
                <a socialshare socialshare-provider="twitter" socialshare-url="{{ctrl.currentVideoById.socialUrl}}"><img class="" src="img/resources/img/twiter.png" alt="" class="img-responsive"></a>
                <a socialshare socialshare-provider="vk" socialshare-url="{{ctrl.currentVideoById.socialUrl}}"><img class="" src="img/resources/img/vk.png" alt="" class="img-responsive"></a>

            </div>
        </div>
    </div>

    <button class="slick-prev" ng-click="ctrl.previous()">  </button>
    <button class="slick-next" ng-click="ctrl.next()" > </button>


    <div ng-show="!ctrl.videoByIdExists">
        <div class="video_item" ng-show="!ctrl.showVideoInfo" data-player="general">
            <youtube-video  video-id="'5v3KG-4ZG8c'" player-width="'90%'" player-height="'100%'" style="min-height: 620px" player="ctrl.player"></youtube-video>
        </div>
        <div ng-show="ctrl.showVideoInfo" class="video_item" style="background-image: url('{{ctrl.currentVideo.image.original}}')">

            <div>

                <h5 ng-bind="ctrl.currentVideo.name"></h5>
                <a ng-click="ctrl.playVideo()" href=""><img class="play" src="img/resources/img/play.png" alt="" class="img-responsive">

                    <p class="bold">Смотреть</p>
                    <p ng-bind="ctrl.videoTime"></p>
                </a>


                <p class="share">Поделиться видео:</p>
                <a socialshare socialshare-provider="facebook" socialshare-url="{{ctrl.currentVideo.socialUrl}}">
                    <img class="" src="img/resources/img/fb.png" alt="" class="img-responsive"></a>
                <a socialshare socialshare-provider="twitter" socialshare-url="{{ctrl.currentVideo.socialUrl}}"><img class="" src="img/resources/img/twiter.png" alt="" class="img-responsive"></a>
                <a socialshare socialshare-provider="vk" socialshare-url="{{ctrl.currentVideo.socialUrl}}"><img class="" src="img/resources/img/vk.png" alt="" class="img-responsive"></a>

            </div>
        </div>
    </div>

    <button class="slick-prev" ng-click="ctrl.previous()">  </button>
    <button class="slick-next" ng-click="ctrl.next()" > </button>

</section>

<section class="desc_video">
    <div class="container-fluid">
        <div class="row bord_bottom">
            <div class="col-md-8">

                <h4 ng-bind="ctrl.currentVideo.name"></h4>

                <p ng-bind="ctrl.currentVideo.middle_content"></p>

                <p class="date" ng-bind="ctrl.currentVideo.published_at | amDateFormat:'DD MMMM'"></p>
            </div>
            <div class="col-md-4">
                <input type="text" class="input_default input_small" ng-model="ctrl.search"
                       placeholder="ЧМХ 2009, например">
            </div>
        </div>
    </div>
</section>



<section class="other_video">
    <div class="row">
        <div class="col-md-12 ">
            <p class="titel_tag">Фильтр по тэгам:</p>
            <ul class="tag_post" ng-show="ctrl.tags.length">
               
                <li ng-repeat="tag in ctrl.tags"><p><a  ng-bind="tag"></a><span ng-click="ctrl.removeTag(tag)"> x </span></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-3" ng-repeat="video in ctrl.videos | filter: {name:ctrl.search}">
                <div style="background-image: url('{{video.image.small}}')"></div>
                <p class="bold"><a ng-click="ctrl.setNewMainVideo(video)" ng-bind="video.name"></a></p>

                <p><a href="" ng-bind="video.published_at | amDateFormat:'DD MMMM'"></a></p>

                <ul class="tag_post">
                    <li ng-repeat="tag in video.tags"><a ng-click="ctrl.addTagToFilter(tag)" href=""><p ng-bind="tag"></p></a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul>
                    <li ng-show="ctrl.videos.length < ctrl.videoAmount">
                        <button ng-click="ctrl.loadMore()" class="btn btn_common main">Показать ещё</button>
                    </li>
                    <li>Показано {{ctrl.videos.length}} видео из {{ctrl.videoAmount}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>