<section class="main_video">

    <div class="video_item" ng-show="!ctrl.showVideoInfo">
        <youtube-video video-id="'5v3KG-4ZG8c'" player-width="'90%'" player-height="'100%'" style="min-height: 620px" player="ctrl.player"></youtube-video>
    </div>
    <button ng-click="ctrl.previous()" style="background-color: red; width: 100px"> < </button>
    <button ng-click="ctrl.next()" style="background-color: greenyellow; width: 100px"> > </button>
    <div ng-show="ctrl.showVideoInfo" class="video_item" style="background-image: url('{{ctrl.currentVideo.image.original}}')">

        <div>

            <h5 ng-bind="ctrl.currentVideo.name"></h5>
            <a ng-click="ctrl.playVideo()" href=""><img class="play" src="img/resources/img/play.png" alt="" class="img-responsive">

                <p class="bold">Смотреть</p>
                <p ng-bind="ctrl.videoTime"></p>
            </a>


            <p class="share">Поделиться видео:</p>
            <a socialshare socialshare-provider="facebook" socialshare-url="{{ctrl.currentVideo.socialUrl}}">
                <img class="" src="img/resources/img/fb.png" alt="" class="img-responsive"></a>
            <a socialshare socialshare-provider="twitter" socialshare-url="{{ctrl.currentVideo.socialUrl}}"><img class="" src="img/resources/img/twiter.png" alt="" class="img-responsive"></a>
            <a socialshare socialshare-provider="vk" socialshare-url="{{ctrl.currentVideo.socialUrl}}"><img class="" src="img/resources/img/vk.png" alt="" class="img-responsive"></a>

        </div>
    </div>
</section>

<section class="desc_video">
    <div class="container-fluid">
        <div class="row bord_bottom">
            <div class="col-md-8">

                <h4 ng-bind="ctrl.currentVideo.name"></h4>

                <p ng-bind="ctrl.currentVideo.middle_content"></p>

                <p class="date" ng-bind="ctrl.currentVideo.published_at | amDateFormat:'DD MMMM'"></p>
            </div>
            <div class="col-md-4">
                <input type="text" class="input_default input_small" ng-model="ctrl.search.name"
                       placeholder="ЧМХ 2009, например">
            </div>
        </div>
    </div>
</section>



<section class="other_video">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-3" ng-repeat="video in ctrl.videos | filter: ctrl.search.name">
                <div style="background-image: url('{{video.image.small}}')"></div>
                <p class="bold"><a ng-click="ctrl.setNewMainVideo(video)" ng-bind="video.name"></a></p>

                <p><a href="" ng-bind="video.published_at | amDateFormat:'DD MMMM'"></a></p>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul>
                    <li ng-show="ctrl.videos.length < ctrl.videoAmount">
                        <button ng-click="ctrl.loadMore()" class="btn btn_common main">Показать ещё</button>
                    </li>
                    <li>Показано {{ctrl.videos.length}} видео из {{ctrl.videoAmount}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>