<form ng-submit="ctrl.send()" ng-init="ctrl.form = {}">
    <aside class="form">
        <div class="form_white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left">
                        <h4>Почта</h4>
                        <input required="true" type="email" ng-model="ctrl.form.email" class="input_default input_small"
                               placeholder="E-mail">
                    </div>
                    <div class="col-md-6 left">
                        <h4>Пароль</h4>
                        <input required="true" type="password" minlength="8" ng-model="ctrl.form.password" class="input_default input_small"
                               placeholder="Пароль">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p ng-bind="ctrl.message"></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn_common main">Войти</button>
                </div>
            </div>
        </div>
    </aside>
</form>
