<form ng-submit="ctrl.send()" ng-init="ctrl.form = {}">
    <aside class="form_popup">
        <div class="form_white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left"> 
                            <h6>Я уже зарегистрирован(а).</h6>
                            <input required="true" type="email" ng-model="ctrl.form.email" class="input_default input_small"
                                   placeholder="E-mail">
                            <input id="password" required="true" type="password" minlength="8" ng-model="ctrl.form.password" class="input_default input_small"
                                   placeholder="Пароль">
                             <h6>Войти через соц.сеть:</h6>
                                <div class="soc_icon">
                                    <a ng-click="ctrl.authViaSocial('instagram')"><i class="fa fa-instagram" ></i></a>
                                    <a ng-click="ctrl.authViaSocial('facebook')"><i
                class="fa fa-facebook"></i></a>
                                    <a ng-click="ctrl.authViaSocial('twitter')"><i
                class="fa fa-twitter"></i></a>
                                     <a ng-click="ctrl.authViaSocial('vk')"><i
                                    class="fa fa-vk"></i></a>
                                </div>
                            <p><a href="" ng-click="ctrl.recoverPassword()">Я забыл пароль?</a></p>
                            <h6 ng-bind="ctrl.message"></h6>
                            <button class="btn btn_secondary small">Войти</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right">
                            <h6>Я здесь впервые</h6>
                            <button type="button" class="btn btn_secondary small" ng-click="ctrl.goToRegistration()">Регистрация</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</form>
