.modal-window {
  padding-top: 35px;
  .modal-content .close{
    text-indent: -9999px;
  }
}
.modal-window.modal-window_right{
  padding-top:80px;
  .modal-dialog{
    margin:0;
    float:right;
    width:418px;
  }
  .modal-content{
    padding:40px 70px 40px 40px;
  }
  .error_message_registration{
    padding:0;
    text-align: left;
    color:#000;
    h2{
      font-weight: bold;
      font-size:36px;
      text-transform: uppercase;
      margin-bottom:15px;
    }
    p{
      font-size:14px;
      line-height: 140%;
      font-weight:normal;
    }
  }
  .btn{
    margin-top:30px;
  }
}
.close {
    padding: 0 !important;
    margin: 0 !important;
    color: #fff !important;
    background-color: #000 !important;
    opacity: 1 !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 42px !important;
    position: absolute;
    top: 10px !important;
    right: 10px;
}
.email_recover {
  input {
    width: 30%;
    margin-top: 30px;
    min-width: 300px;
    display: block;
  }
  button {
    margin-top: 30px;
  }

}
.reg_success {
   height: 80vh;
   h2 {
    text-transform: uppercase;
    color: $green_main;
    font-weight:bold;
    padding-top: 10vh;
   }
   p {
    font-size: $p_size;
    padding-top: 30px;
   }
   ul {
    padding-top: 60px;
    li {
      a {
        font-size: $p_size;
        font-weight:bold;
        text-decoration: underline;
      }
    }
   }

}