.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
}

.point {
    border-radius: 2px !important;
    display: inline-block !important;
    height: 5px !important;
    margin: 0 1px !important;
    width: 20px !important;
}