<aside>
    <div class="container-fluid">
        <div class="row notice_form">
            <form action="" >
                <div class="col-sm-12 col-md-4 text-left">
                    <h6>Хочу получать уведомление о событиях</h6>
                </div>
                <div class="col-sm-12 col-md-7 text-left">
                    <select class="input_default input_medium">
                        <option>Все события</option>
                        <option>Не все события</option>
                    </select>
                    <input class="input_default input_medium in" type="text" placeholder="Введите Ваш почтовый адрес">
                    <button class="btn btn_secondary small">Подписаться</button>
                </div>
                <div class="col-sm-12 col-md-1 text-center">
                    <button class="btn_non">Скрыть</button>
                </div>
            </form>
        </div>
    </div>
</aside>
<!-- календарь -->
<section class="bg_grey calendar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center left_calendar"> <!-- Месяц и дни календаря -->
                <h4>Февраль</h4>
                <table class="tabel_calendar">
                    <thead>
                    <tr>
                        <td>Вс</td>
                        <td>Пн</td>
                        <td>Вт</td>
                        <td>Ср</td>
                        <td>Чт</td>
                        <td>Пт</td>
                        <td>Сб</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p class="day_grey">12</p></td>
                        <td><p class="day_grey">12</p></td>
                        <td><p class="day_grey">12</p></td>
                        <td><div>12</div></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                    </tr>
                    <tr>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td class="day_activ">
                            <p>12</p>
                        </td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                    </tr>
                    <tr>
                        <td><p><div>12</div></p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                    </tr>
                    <tr>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                    </tr>
                    <tr>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p>12</p></td>
                        <td><p class="day_grey">12</p></td>
                        <td><p class="day_grey">12</p></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 right_calendar"> <!-- временная сетка -->
                <div class="row text-right wrapp_toggle">
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h5>Матчи</h5>
                        <div class="toggle toggle--knob">
                            <input type="checkbox" name="toggle" class="sw" id="toggle-cal-1" checked>
                            <label for="toggle-cal-1"></label>
                            <span class="on">ON</span>
                            <span class="off">OFF</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h5>События</h5>
                        <div class="toggle toggle--knob">
                            <input type="checkbox" name="toggle" class="sw" id="toggle-cal-2" checked>
                            <label for="toggle-cal-2"></label>
                            <span class="on">ON</span>
                            <span class="off">OFF</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h5>Новости</h5>
                        <div class="toggle toggle--knob">
                            <input type="checkbox" name="toggle" class="sw" id="toggle-cal-3" checked>
                            <label for="toggle-cal-3"></label>
                            <span class="on">ON</span>
                            <span class="off">OFF</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h5>Мои отметки</h5>
                        <div class="toggle toggle--knob">
                            <input type="checkbox" name="toggle" class="sw" id="toggle-cal-4" checked>
                            <label for="toggle-cal-4"></label>
                            <span class="on">ON</span>
                            <span class="off">OFF</span>
                        </div>
                    </div>
                </div>


                <table class="table time_line">
                    <thead class="text-center">
                    <tr> <!-- первая строка -->
                        <td>Время</td>
                        <td ng-repeat="day in ctrl.daysToShow" ng-bind="day | amDateFormat:'ddd DD'"></td>

                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="row in ctrl.grid">
                            <td rowspan=2 ng-bind="row.timeId.hour"></td>

                            <td ng-show="row.timeId.even" ng-repeat="cell in row.row" class="{{cell.matches.length? 'bor' : ''}}"
                                rowspan="{{cell.matches.length? 3 : 1}}" >
                                <slick ng-if="cell.matches.length" class="calendar-slider" dots=true>
                                    <div class="block" ng-repeat="match in cell.matches">
                                        <div class="text-slid">
                                            <p ng-bind="match.place">Матч <br> Рос — США</p>
                                            <p>5 - 0</p>
                                        </div>
                                        <div class="cher-slid">
                                            <label><input type="checkbox" checked="checked"><span></span></label>
                                            <h6>Больше не жду</h6>
                                        </div>
                                    </div>

                                </slick>

                            </td>
                            <!--<td ng-show="row.timeId.odd" ng-repeat="cell in row.row" ></td>-->

                        </tr>
                        <tr ng-show="row.timeId.even" ng-repeat-end>
                            <td ng-show="row.timeId.even" ng-repeat="cell in row.row" ></td>
                            <!--<td ng-show="row.timeId.odd" ng-repeat="cell in row.row" ></td>-->
                        </tr>



                        <!--<tr ng-show="row.timeId.odd" ng-repeat-start="row in ctrl.grid" >
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr ng-show="row.timeId.odd" ng-repeat-end>
                            <td rowspan=2 ng-bind="row.timeId.hour"></td>
                            <td class="bor" rowspan=3>
                                <slick class="calendar-slider active" dots=true>
                                    <div class="block">
                                        <div class="text-slid">
                                            <p>Матч <br> Рос — США</p>
                                            <p>5 - 0</p>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <p>Матч <br> Рос — США</p>
                                        <p>5 - 0</p>
                                    </div>
                                    <div class="block">
                                        <p>Матч <br> Рос — США</p>
                                        <p>5 - 0</p>
                                    </div>
                                </slick>

                            </td>
                            <td class="bor" rowspan=3>
                                <slick class="calendar-slider" dots=true>
                                    <div class="block check">
                                        <div class="text-slid">
                                            <p>Матч <br> Рос — США</p>
                                            <p>5 - 0</p>
                                        </div>
                                        <div class="cher-slid">
                                            <label><input type="checkbox" checked="checked"><span></span></label>
                                            <h6>Больше не жду</h6>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="text-slid">
                                            <p>Матч <br> Рос — США</p>
                                            <p>5 - 0</p>
                                        </div>
                                        <div class="cher-slid">
                                            <label><input type="checkbox" checked="checked"><span></span></label>
                                            <h6>Больше не жду</h6>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="text-slid">
                                            <p>Матч <br> Рос — США</p>
                                            <p>5 - 0</p>
                                        </div>
                                        <div class="cher-slid">
                                            <label><input type="checkbox" checked="checked"><span></span></label>
                                            <h6>Больше не жду</h6>
                                        </div>
                                    </div>
                                </slick>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>-->



                        <!--<td ng-repeat="cell in row.row" class="bor" rowspan=3>
                                <slick class="calendar-slider active" dots=true>
                                    <div class="block">
                                        <div class="text-slid">
                                            <p>Матч <br> Рос — США</p>
                                            <p>5 - 0</p>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <p>Матч <br> Рос — США</p>
                                        <p>5 - 0</p>
                                    </div>
                                    <div class="block">
                                        <p>Матч <br> Рос — США</p>
                                        <p>5 - 0</p>
                                    </div>
                                </slick>

                            </td>
                            <td class="bor" rowspan=3>
                                <slick class="calendar-slider" dots=true>
                                    <div class="block check">
                                        <div class="text-slid">
                                            <p>Матч <br> Рос — США</p>
                                            <p>5 - 0</p>
                                        </div>
                                        <div class="cher-slid">
                                            <label><input type="checkbox" checked="checked"><span></span></label>
                                            <h6>Больше не жду</h6>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="text-slid">
                                            <p>Матч <br> Рос — США</p>
                                            <p>5 - 0</p>
                                        </div>
                                        <div class="cher-slid">
                                            <label><input type="checkbox" checked="checked"><span></span></label>
                                            <h6>Больше не жду</h6>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="text-slid">
                                            <p>Матч <br> Рос — США</p>
                                            <p>5 - 0</p>
                                        </div>
                                        <div class="cher-slid">
                                            <label><input type="checkbox" checked="checked"><span></span></label>
                                            <h6>Больше не жду</h6>
                                        </div>
                                    </div>
                                </slick>
                            </td>-->

                    </tbody>
                </table>
            </div> <!-- //временная сетка -->
        </div>
    </div>
</section>