<section class="bg_grey calendar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center left_calendar">

                <p ng-bind="ctrl.currentDate | amDateFormat:'MMMM'" class="title_m"></p>
                <datepicker ng-model="ctrl.currentDate" max-date="ctrl.maxDate" min-date="ctrl.minDate" ng-change="ctrl.updateCalendar(ctrl.currentDate)" starting-day="1" max-mode="day"
                            format-day-title="MMMM" show-weeks="false" select-week="true" class="well well-sm"></datepicker>
                <div class="calen-text">
                    <!-- <p>Напоминание о предстоящем матче будет отправлено вам по смс. Убедитесь что вы указали Ваш номер телефона в анкете. <a ui-sref="dashboard.edit">Указать телефон</a></p> -->
                </div>
                <!-- <div class="calen-winners-history">
                    <div class="calen-winners-item" ng-repeat="achievement in ctrl.achievements | limitTo: 5">
                        <h6><span ng-bind="achievement.points">10</span><img src="img/resources/img/balls.png" alt="" class="img_ball"></h6>
                        <p ng-bind="achievement.achievment_category.name"></p>
                    </div>
                </div> -->

            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 right_calendar">
                <div class="row text-right wrapp_toggle">
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h5>Матчи</h5>
                        <div class="toggle toggle-knob">
                            <input ng-model="ctrl.allMatches" type="checkbox" name="toggle" class="sw" id="toggle-cal-1" checked>
                            <label for="toggle-cal-1"></label>
                            <span class="on">ON</span>
                            <span class="off">OFF</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <h5>Мои отметки</h5>
                        <div class="toggle toggle-knob">
                            <input ng-model="ctrl.subscribed" type="checkbox" name="toggle" class="sw" id="toggle-cal-4" checked>
                            <label for="toggle-cal-4"></label>
                            <span class="on">ON</span>
                            <span class="off">OFF</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <select class="input_default input_small"
                                ng-options="team.country for team in ctrl.allTeams track by team.id"
                                ng-model="ctrl.allTeamsFilter" ng-change="ctrl.filterByTeam()">
                            <option selected value>Все команды</option>
                        </select>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
                        <share-buttons data="{}"></share-buttons>
                    </div>

                </div>


                <table class="table time_line">
                    <thead class="text-center">
                    <tr>
                        <td>Время</td>
                        <td ng-repeat="day in ctrl.daysToShow" ng-bind="day | amDateFormat:'ddd DD'"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="row in ctrl.grid">
                        <td rowspan=2 class="rowspan2" ng-bind="row.timeId"></td>

                        <td ng-repeat="cell in row.row"  ng-class="{'rowspan2': cell.matches.length, 'bor' : cell.matches.length }"
                            rowspan="{{cell.matches.length? 2 : 1}}" >
                            <slick ng-show="filtered.length" class="calendar-slider" ng-class="{'active': cell.matches[0].stage != 'future'}" dots=true arrows=false>
                                <div class="block" ng-repeat="match in cell.matches | filter:ctrl.filterByToggle as filtered">
                                    <div class="text-slid">
                                        <p class="calendar-teams"><img src="{{match.redteam.image.thumb}}" alt="">{{match.redteam.short_name}}-{{match.blueteam.short_name}}<img src="{{match.blueteam.image.thumb}}" alt=""></p>
                                        <p ng-show="match.stage != 'future'" ng-bind="match.redteam_score  + '-' + match.blueteam_score"></p>
                                        <p ng-bind="match.when | amDateFormat:'HH:mm'"></p>
                                    </div>
                                    <div class="cher-slid" ng-show="match.stage == 'future'" >
                                        <label><input type="checkbox" ng-model="match.isSubscribed" ng-change="ctrl.subscribe(match)"><span></span></label>
                                        <h6 ng-bind="match.isSubscribed ? 'Больше не жду' : 'Подписаться'"></h6>
                                    </div>
                                </div>

                            </slick>

                        </td>
                    </tr>
                    <tr ng-repeat-end>

                        <td ng-repeat="cell in row.secondTdArray"></td>
                    </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>