<div class="progress_contant" ng-init="ctrl.openSpeed()">
    <h4>Моя активность</h4>
    <p class="date" ng-bind="'Сегодня, ' + ctrl.today"/>
    <p>Чтобы набрать достаточное для розыгрыша призов количество баллов, Вам необходимо принять участие в активностях на сайте! Практически за каждое результативное действие Вам будут начисляться баллы!</p>
    <!--<p ng-show="!ctrl.user.confirmed_at">Для завершение регистрации необходимо подтвердить e-mail. <a href="#" ng-click="ctrl.resendEmail()">Отправить повторно</a></p>
-->

    <ul class="text-center">
        <slick slides-to-show=4 slides-to-scroll=2>
            <div ng-repeat="achievement in ctrl.achievements">
                <li>
                    <h5 ng-bind-html="achievement.max_points"></h5>

                    <div class="progress vertical" style="background-color: {{achievement.color}}">
                        <div class="progress_bg_color" role="progressbar" aria-valuenow="50"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="height: {{achievement.progressBarPercentage}}% ;width: 10px;">
                        </div>
                    </div>

                    <p class="desc_progress bold" ng-bind="achievement.name"></p>

                    <p class="desc_progress" > {{achievement.currentBallAmount}} баллов</p>
                </li>
            </div>
        </slick>
    </ul>
</div>