body {
  font-family: $font-skoda;
  font-size: 12px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
  // height: 100%;
  //overflow: hidden;
}

#nprogress .bar {
  background: #4ba82e;
}

.modal-backdrop.in {
  position: relative !important;
}
.modal-open .modal {
  margin-top: 170px;
}
.supergame {
  margin-top: 160px;
}