<section class="topics">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left menu_border_bottom">
                <div class="wrapp_filt">
                    <ul>
                        <li><a ui-sref="dashboard.forum" class="link_default">Форум </a></li>
                        <li> ></li>
                        <li><a ui-sref="dashboard.forum-page({id:ctrl.topic.section.id})" class="link_default"
                               ng-bind="ctrl.topic.section.name"></a></li>
                        <li> ></li>
                        <li><a href="#" class="link_default" ng-bind="ctrl.topic.name"></a></li>

                    </ul>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-9">
                    <div class="wrapp_topic">
                        <h4><a href="#" class="link_default" ng-bind="ctrl.topic.name"></a></h4>

                        <ul>
                            <li>Автор:</li>
                            <li ng-bind="ctrl.topic.last_active_user.name"></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="wrapp_static">
                        <ul>
                            <li>{{ctrl.topic.count_view}} <p>Просмотров</p></li>
                            <li>{{ctrl.topic.messages_count}} <p>Ответ</p></li>
                        </ul>
                    </div>
                    <pagination ng-show="ctrl.showPagination" total-items="ctrl.topicMessagesAmount" rotate="false" ng-model="ctrl.page"
                                ng-change="ctrl.changePage()" previous-text=" < " next-text=" > "
                                max-size="5" items-per-page="ctrl.messagesPerPage"
                                direction-links="true" class="pagination-sm"></pagination>
                </div>
                <div class="col-md-12" style="padding-bottom: 20px;">
                    <share-buttons data="{}"></share-buttons>
                </div>
            </div>


            <section class="wrapp_content_bl">
                <div class="container content_bor">
                    <div class="row post_hover" ng-repeat="message in ctrl.messages">
                        <div class="content_bl_br">
                            <div class="content_bl_im clearfix">
                                <div class="col-md-3">
                                    <div class="photo">
                                        <div class="nam">
                                            №{{message.index}}
                                        </div>
                                        <div class="img">
                                            <img src="{{message.user.avatar.thumb}}" alt="" class="img-responsive">
                                        </div>
                                        <div class="name">
                                            <p ng-bind="message.user.name"></p>
                                        </div>
                                        <div class="name">
                                            <p ng-bind="message.user.achievments_score"></p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="date">
                                        <p ng-bind="message.created_at | amDateFormat:'DD.MM.YYYY h:mm'"/>
                                    </div>
                                    <p ng-bind-html="message.message"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class="row text-right">
            <pagination ng-show="ctrl.showPagination" total-items="ctrl.topicMessagesAmount" rotate="false" ng-model="ctrl.page"
                                ng-change="ctrl.changePage()" previous-text=" < " next-text=" > "
                                max-size="5" items-per-page="ctrl.messagesPerPage"
                                direction-links="true" class="pagination-sm"></pagination>
        </div>
    </div>
</section>

<section class="add_topic">
    <div class="container">
        <div class="row">
            <button ng-disabled="!ctrl.session.isAuthenticated" ng-show="!ctrl.isEditorOpen" ng-click="ctrl.openEditor()" type="button" class="btn btn_primary main"
                    data-toggle="modal" data-target="#myModal">Ответить
            </button>

            <p ng-show="!ctrl.session.isAuthenticated">Чтобы оставить комментарий нужно <a
                    ng-click="ctrl.login.open()" href="#">Авторизироваться</a></p>

            <div ng-show="ctrl.isEditorOpen" class="textEdit">
                <div text-angular ng-model="ctrl.answer"></div>
                <button ng-click="ctrl.sendMessage()" type="button" class="btn btn_primary main"
                        data-toggle="modal" data-target="#myModal">Отправить
                </button>

            </div>
        </div>
    </div>
</section>