<section class="add_topic">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn_primary main">Создать тему</button>
                <p>Чтобы создать тему или оставить комментарий <br>нужно <a href="#">Авторизироваться</a></p>
            </div>
        </div>
    </div>
</section>

<section class="topics">
    <div class="container">
        <div class="row">
            <div class="row menu_border_bottom">
                <div class="col-md-12 text-left">
                    <div class="wrapp_filt">
                        <ul>
                            <li><a href="#" class="link_default">Форум </a></li>
                            <li> > </li>
                            <li><a href="#" class="link_default" ng-bind="ctrl.topic.name"></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row post_hover">
                <div class="col-md-9">
                    <div class="wrapp_topic">
                        <h4><a href="#" class="link_default" ng-bind="ctrl.topic.name"></a></h4>
                        
                        <button ng-click="ctrl.openEditor()" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Ответить</button>
                        <div ng-show="ctrl.isEditorOpen">
                            <div  text-angular ng-model="ctrl.answer"></div>
                            <button ng-click="ctrl.sendMessage()" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Отправить</button>

                        </div>
                        <ul>
                            <li ng-bind="ctrl.topic.last_active_user.name"></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="wrapp_static">
                        <ul>
                            <li>504 <p>Просмотров</p></li>
                            <li>446 <p>Ответ</p></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row" ng-repeat="message in ctrl.messages">
                <div class="col-md-3">
                    <p>№1</p>
                    <img src="img/resources/img/bg_star.png" alt="" class="img-responsive">
                    <p ng-bind="message.user.name"></p>
                </div>
                <div class="col-md-9">
                    <p ng-bind="message.created_at | amDateFormat:'DD.MM.YYYY h:mm'"/>
                    <p ng-bind-html="message.message"></p>
                </div>
            </div>

            <div class="row text-center">

                <button class="btn btn_common main load_more">Показать еще</button>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
         <textarea name="" id="" cols="50" rows="50"></textarea>
         <button>Ответить</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>