<aside class="wrapp_t_drive">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Запись на тест-драйв</h1>
            </div>
            <div class="col-md-3 text-center" ng-repeat="car in ctrl.cars">
                <a href="#">
                    <div class="auto" ng-click="ctrl.chooseCar(car)" ng-class="{ 'active_auto': ctrl.carId == car.skoda_id}">
                        <img src="{{car.image}}" class="img-responsive"/>

                        <p ng-bind="car.name"/>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-12">
            <!-- <form ng-submit="ctrl.send()" class="form_t_drive"> -->

            <form class="form_t_drive">
                <div class="row">
                    <div class="col-md-6 text-right"><input ng-model="ctrl.firstName" type="text"
                                                            class="input_default input_small"
                                                            placeholder="Имя"></div>
                    <div class="col-md-6 text-left"><input ng-model="ctrl.lastName" type="text"
                                                           class="input_default input_small"
                                                           placeholder="Фамилия"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right"><input required="true" type="text" ng-model="ctrl.mobilephone"
                                                            class="input_default input_small"
                                                            placeholder="Телефон"></div>
                    <div class="col-md-6 text-left"><input type="email" ng-model="ctrl.email"
                                                           class="input_default input_small"
                                                           placeholder="E-mail"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <select name="city" ng-options="city.name for city in ctrl.cities | orderBy: 'name'"
                                class="input_default input_small select_default" ng-change="ctrl.loadDealer()" ng-model="ctrl.city">
                            <option disabled selected value>Выберите город</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <select name="city" ng-options="dealer.info for dealer in ctrl.dealers | orderBy: 'info'"
                                class="input_default input_small select_default" ng-model="ctrl.dealer">
                            <option disabled selected value>Выберите дилера</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="checkbox" checked="checked" id="c1">
                        <label for="c1"><span></span>Соглашаю с обработкой персональных данных</label>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn_disable main">Подать заявку</button>
                    </div>
                </div>

            </form>
        </div>
       
    </div>
    <div class="container-fluid hidden-sm hidden-xs">
         <div class="row wrapp_bg_tdrive">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</aside>