<section class="wrapp_forecast_content ">
    <div class="forecast_content_block">
        <div class="forecast_content_block_im  bac-forecast-two height-no clearfix">
            <div class="forecast_two mobile mob-forece clearfix" ng-repeat="match in ctrl.matches">
                <div class="orecast_two_block mob-forece clearfix">
                    <div class="orecast_two-6 clearfix">
                        <div class="date" ng-bind="match.when | amDateFormat:'DD'">
                        </div>
                        <div class="block clearfix">
                            <div class="month" ng-bind="match.when | amDateFormat:'MMMM'"></div>
                            <div class="time" ng-bind="match.when | amDateFormat:'h:mm'"></div>
                        </div>
                    </div>
                    <div class="orecast_two-6 btn-forecast clearfix">
                        <button ng-disabled="match.isDisabled" ng-bind="match.isDisabled ? 'Прогноз сделан' : 'Угадать'" ng-click="ctrl.forecast(match)" class="btn btn_primary main"></button>
                    </div>
                </div>
                <div class="orecast_two-12_block mob-forece clearfix">
                    <div class="orecast_two-3 left score">
                        <p ng-bind="match.redteam.country"></p>
                    </div>
                    <div class="orecast_two-2">
                        <div class="input-sn">
                            <spin value="match.redScore" disabled="match.isDisabled"/>
                        </div>
                        <span class="toc">:</span>

                        <div class="input-sn">
                            <spin value="match.blueScore" disabled="match.isDisabled"/>
                        </div>
                    </div>
                    <div class="orecast_two-3 right score">
                        <p ng-bind="match.blueteam.country"></p>
                    </div>
                </div>
            </div>



            <div class="forecast_two destop clearfix" ng-repeat="match in ctrl.matches">
                <div class="col-sm-2 destop-force clearfix">
                    <div class="date" ng-bind="match.when | amDateFormat:'DD'">
                        6
                    </div>
                    <div class="block clearfix">
                        <div class="month" ng-bind="match.when | amDateFormat:'MMMM'">мая</div>
                        <div class="time"  ng-bind="match.when | amDateFormat:'h:mm'">14:45</div>
                    </div>
                </div>
                <div class="col-sm-3 destop-force score">
                    <p ng-bind="match.redteam.country"></p>
                </div>
                <div class="col-sm-2 destop-force">
                    <div class="input-sn">
                        <spin value="match.redScore" disabled="match.isDisabled"/>
                    </div>
                    <span class="toc">:</span>

                    <div class="input-sn">
                        <spin value="match.blueScore" disabled="match.isDisabled"/>
                    </div>
                </div>
                <div class="col-sm-3 destop-force score">
                    <p ng-bind="match.blueteam.country"></p>
                </div>
                <div class="col-sm-2 destop-force btn-forecast clearfix">
                    <button ng-disabled="match.isDisabled" ng-bind="match.isDisabled ? 'Прогноз сделан' : 'Угадать'"  ng-click="ctrl.forecast(match)" class="btn btn_primary main"></button>
                </div>
            </div>

        </div>
        <div class="forecast bac-forecast-two clearfix">
            <div class="col-sm-5 pos-fre">
                <!-- <span class="fri">Обсудить с друзьями:</span>

                <div class="share">
                    <a href="" class="icon icon-is"></a>
                    <a href="" class="icon icon-fb"></a>
                    <a href="" class="icon icon-tw"></a>
                    <a href="" class="icon icon-vk"></a>
                </div> -->
            </div>
        </div>
    </div>
</section>