<section class="">
    <timeline>
        <div ng-repeat="day in ctrl.days">

            <timeline-event>
                <timeline-badge class="{{event.badgeClass}}">
                    <div style="height: 50px" ng-bind="day.id | amDateFormat:'DD'"></div>
                    <!--<i class="" ></i>-->
                </timeline-badge>
                <timeline-panel>
                    <div style="height: 50px">

                    </div>

                </timeline-panel>
            </timeline-event>


            <timeline-event ng-repeat="event in day.events" side="">
                <timeline-badge class="{{event.badgeClass}}">
                    <div style="background-image: url('{{event.profile_pic}}'); height: 50px"></div>
                    <!--<i class="" ></i>-->
                </timeline-badge>
                <timeline-panel class="{{event.badgeClass}}">
                    <timeline-heading>
                        <h4>{{event.title}}</h4>
                    </timeline-heading>
                    <div>
                        <span class="{{event.iconClass}}">Тут будет иконка</span> <!--варианты классов vk, twitter, fb, instagram -->
                        <span ng-bind="event.published_at | amDateFormat:'DD.MM H:mm'"></span>

                        <span ng-bind="event.person.name"></span>

                        <p ng-bind-html="event.content"></p>

                        <div ng-show="event.photos.length">
                            <slick>
                                <div ng-repeat="photo in event.photos | limitTo:4">
                                    <img  src="{{photo.image.small}}" />
                                </div>
                                <span ng-bind="{{event.photos.length}} + ' фото'"></span>
                            </slick>
                        </div>
                        <div>
                            <span ng-show="event.likes" ng-bind="event.likes + ' лайков'"></span>
                            <span ng-show="event.reposts" ng-bind="event.repostText"></span>
                            <a href="{{event.post_link}}" target="_blank">Читать</a>

                        </div>
                    </div>

                </timeline-panel>
            </timeline-event>
        </div>

    </timeline>
</section>
