<div class="game-bg">
<div class="game-two" cubes-init initial-slide="ctrl.id">
    <div class="game-two-center">
        <div class="game-slider">
            <div class="game-slider-for">
                <div class="game-slider-for-item" ng-repeat="sector in ctrl.sectors" ng-bind="sector.id"></div>
            </div>
            <div class="game-slider-nav">
                <div class="game-slider-nav-item" ng-repeat="sector in ctrl.sectors" ng-bind="sector.id"></div>
            </div>
        </div>
        <div class="game-two-block-title clearfix">
            <div class="game-two-block-title-left">
                <h3><b>Пробейся </b><br> к викторине!</h3>
                <share-buttons data="{}"></share-buttons>

            </div>
            <div class="game-two-block-title-right">

                <div class="ball clearfix" ng-show="ctrl.session.isAuthenticated">
                    <div class="ball-im">
                        <p>Мои баллы</p>

                        <div class="num">
                            <span ng-bind="ctrl.user.points">1950</span>
                        </div>
                    </div>


                </div>
                <div class="opis clearfix">
                    <div class="opis-left">
                        <div class="opis-num">
                            <span class="blue" ng-bind="ctrl.sector.not_crashed_blue_count"></span> /
                            <span class="opis-green" ng-bind="ctrl.sector.not_crashed_green_count"></span>
                        </div>
                        <span class="opis-grey">осталось</span>
                    </div>
                    <div class="opis-right max">
                        <p>1500</p>
                        <span class="opis-grey">балов</span>
                    </div>
                    <div class="opis-right  mini">
                        <p>750</p>
                        <span class="opis-grey">балов</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="game-table clearfix">
        <div class="sector" ng-repeat="row in ctrl.table">
            <table>
                <tr>
                    <td ng-repeat="cell in row.cells">
                        <div ng-show="cell.type == 'green'" ng-click="ctrl.brokeCell(cell.value)" id="{{cell.value.id}}"
                             class="game-two-item game-two-green col-4x4" style="background-image: url({{cell.value.small_image}})" ng-class="cell.value.is_crashed ? 'crashed': 'notCrashed'">

                            <div class="item-{{cell.classIndex}} item"
                                 ></div>
                        </div>

                        <div ng-show="cell.type == 'blue'" ng-click="ctrl.brokeCell(cell.first)" id="{{cell.first.id}}"
                             class="game-two-item game-two-while col-1x1" style="background-image: url({{cell.first.small_image}})"  ng-class="cell.first.is_crashed ? 'crashed': 'notCrashed'">
                            <div class="item-{{cell.firstClassIndex}} item"
                                 ></div>
                        </div>
                        <div ng-show="cell.type == 'blue'" ng-click="ctrl.brokeCell(cell.second)" id="{{cell.second.id}}"
                             class="game-two-item game-two-while col-1x1" style="background-image: url({{cell.second.small_image}})" ng-class="cell.second.is_crashed ? 'crashed': 'notCrashed'" >
                            <div class="item-{{cell.secondClassIndex}} item" ></div>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static" >
    <div class="modal-dialog">

        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="game-modal-led-bottom bottom-led-{{ctrl.cubeModalColor}}"></div>
            <div class="game-modal-content">
                <h2>а теперь викторина!</h2>



                <div ng-show="ctrl.currentCell.cell_type == 'blue'" class="priz clearfix">
                    <div class="priz-item" ng-repeat="category in ctrl.categories">
                        <div class="priz-item-text clearfix">
                            <div class="number" ng-bind="category.right_answers_count">
                            </div>
                            <div class="text-right">
                                Правильных <br> ответа
                            </div>
                        </div>

                        <div class="priz-slider1">
                            <div class="priz-slider1-block" ng-repeat="prize in category.prizes">
                                <div class="priz-item-img">
                                    <img src="{{prize.image.thumb}}" alt="">
                                </div>
                                <div class="priz-item-tittle">
                                    <h5 ng-bind="prize.name"></h5>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>

                <div ng-show="ctrl.currentCell.cell_type == 'green'" class="priz clearfix">
                    <div class="priz-item" ng-repeat="car in ctrl.cars">

                        <div class="priz-slider1">
                            <div class="priz-item-img">
                                    <img src="{{car.image.thumb}}" alt="">
                                </div>
                                <div class="priz-item-tittle">
                                    <h5 ng-bind="car.name"></h5>
                                </div>

                        </div>


                    </div>

                </div>

                <div class="mobal-button priz clearfix">
                    <div class="mobal-button-left"></div>
                    <div class="mobal-button-right ">
                        <button class="btn btn_primary" ng-disabled="(ctrl.currentCell.cell_type == 'green' && !ctrl.coupons) || ctrl.ballsDeficit" ng-click="ctrl.startGame()">Играть!</button>
                    </div>
                    <div class="mobal-button-center" ng-show="(ctrl.currentCell.cell_type == 'blue' || ctrl.coupons) && !ctrl.ballsDeficit">
                        <p>Приготовьтесь отвечать на время</p>
                    </div>
                    <div class="mobal-button-center" ng-show="ctrl.currentCell.cell_type == 'green' && !ctrl.coupons">
                        <p style="color: red">Введите промо-код в <a style="color: red" ng-click="ctrl.goToTestDrives()" ui-sref="dashboard.profile.mytestdrive">личном кабинете</a></p>
                    </div>
                    <div class="mobal-button-center" ng-show="ctrl.ballsDeficit">
                        <p style="color: red">Вам не хватает баллов для игры</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="firstQuestion" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="timer">
                        <p id='p' ng-bind="ctrl.firstQuestionTime">09</p>
                        <span>сек</span>
                    </div>
            <div class="game-modal-content">
                <h2 class="vop">Вопрос <b>№1</b></h2>

                <p ng-bind="ctrl.quiz.first_question.body"></p>
            </div>


            <div class="otvet-ches">
                <div class="otvet-ches-item" ng-repeat="question in ctrl.quiz.first_question.answer_options">
                    <div class="radio active">
                        <input id="{{ctrl.quiz + 'checkbox' + question.id}}" ng-model="ctrl.firstAnswer[question.id]"
                               type="checkbox" ng-true-value="'{{question.answer}}'"
                               ng-disabled="!ctrl.firstQuestionTime" hidden>
                        <label for="{{ctrl.quiz + 'checkbox' + question.id}}">
                            <span></span>
                            {{question.answer}}
                        </label>
                    </div>
                </div>
            </div>


            <div class="mobal-button priz otvet clearfix">
                <div class="mobal-button-left">

                </div>
                <div class="mobal-button-right" ng-click="ctrl.startSecondQuestion()">
                    <button class="btn btn_primary">Далее</button>
                </div>
                <div class="mobal-button-center" ng-show="!ctrl.firstQuestionTime && !ctrl.firstAnswer">
                    <p class="red-one  width1">Вы не уложились в отведенное время</p>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="secondQuestion" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="timer bor-red">
                        <p id='p' ng-bind="ctrl.secondQuestionTime">09</p>
                        <span>сек</span>
                    </div>
            <div class="game-modal-content">
                <h2 class="vop">Вопрос <b>№2</b></h2>

                <p ng-bind="ctrl.quiz.second_question.body"></p>
            </div>

            <div class="otv-fre">
                <input type="text" placeholder="Ответ" ng-model="ctrl.secondAnswer"
                       ng-disabled="!ctrl.secondQuestionTime">
            </div>


            <div class="mobal-button priz otvet clearfix">
                <div class="mobal-button-left">

                </div>
                <div class="mobal-button-right" ng-click="ctrl.startThirdQuestion()">
                    <button class="btn btn_primary">Далее</button>
                </div>
                <div class="mobal-button-center" ng-show="!ctrl.secondQuestionTime && !ctrl.secondAnswer">
                    <p class="red-one  width1">Вы не уложились в отведенное время</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="thirdQuestion" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="timer">
                        <p id='p' ng-bind="ctrl.thirdQuestionTime"></p>
                        <span>сек</span>
                    </div>
            <div class="game-modal-content">
                <h2 class="vop">Вопрос <b>№3</b></h2>

                <p ng-bind="ctrl.quiz.third_question.body"></p>
            </div>


            <div class="otvet-ches">
                <div class="otvet-ches-item" ng-repeat="question in ctrl.quiz.third_question.answer_options">
                    <div class="radio active">
                        <input id="{{ctrl.quiz + 'radio' + question.id}}" type="radio" ng-model="ctrl.thirdAnswer"
                               name="radio2" value="{{question.answer}}"
                               ng-disabled="!ctrl.thirdQuestionTime">
                        <label for="{{ctrl.quiz + 'radio' + question.id}}">
                            <span></span>
                            {{question.answer}}
                        </label>
                    </div>
                </div>
            </div>


            <div class="mobal-button priz otvet clearfix">
                <div class="mobal-button-left">

                </div>
                <div class="mobal-button-right " ng-click="ctrl.checkAnswers()">
                    <button class="btn btn_primary">Проверить!</button>
                </div>
                <div class="mobal-button-center" ng-show="!ctrl.thirdQuestionTime && !ctrl.thirdAnswer">
                    <p class="red-one width1">Вы не уложились в отведенное время</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="userData" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <form ng-submit="ctrl.confirmUserData()" ng-init="ctrl.form = { policy_agreed: true}">

                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"></button>


                    <div class="otv-fre otv-reg clearfix">
                        <div class="title">
                            <h3>Личные данные </h3>
                            <p>Для участия в розыгрыше подтвердите Ваши личные данные.</p>
                        </div>
                        <div class="otv-reg-block">
                            <div class="otv-reg-left">
                                <input type="text" placeholder="Имя" ng-model="ctrl.userData.first_name" required>
                                <input type="text" placeholder="Фамилия" ng-model="ctrl.userData.last_name">
                                <input type="text" placeholder="Отчество" ng-model="ctrl.userData.middle_name">
                            </div>
                            <div class="otv-reg-right">
                                <input type="text" placeholder="Адрес" ng-model="ctrl.userData.address">
                                <input type="phone" placeholder="Телефон" mask="+7(999) 999-9999" placeholder="+7" ng-model="ctrl.userData.phone" clean="true" required>
                                <textarea type="text" placeholder="Комментарий к викторине" ng-model="ctrl.userData.comment"></textarea>
                            </div>
                        </div>
                        <div class="otv-reg-checkbox">
                            <input type="checkbox" ng-model="ctrl.form.policy_agreed" id="c1" required>
                            <label for="c1"><span></span><a href="" ui-sref="dashboard.consent">Соглашаюсь с обработкой персональных данных</a></label>
                        </div>



                    </div>


                    <div class="mobal-button priz otvet otv-reg-but clearfix">
                        <div class="mobal-button-right">
                            <button type="submit" class="btn btn_primary">Далее</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>

<div class="modal fade" id="resultModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="game-modal-content">
                <h2 class="vop">Верных ответов: {{ctrl.result.right_answers_count}}</h2>

            </div>

            <div class="otv-fre" ng-show="((ctrl.currentCell.cell_type == 'green' && ctrl.result.right_answers_count == 3)
                || ctrl.currentCell.cell_type == 'blue') && ctrl.result.prize && !ctrl.uspVictorina">
                <h3 class="title-priz"> {{ctrl.result.prize.name}}</h3>
                <div class="pr-block clearfix">
                  <div class="img">
                    <img src="{{ctrl.result.prize.image.small}}"/>
                  </div>
                  <div class="text-right">
                    <p> {{ctrl.result.prize.description}}</p>

                    <a class="btn btn_primary" ng-click="ctrl.goToPrizes()">Как получить приз</a>
                  </div>
                </div>


            </div>


            <div ng-show="ctrl.currentCell.cell_type == 'green' && ctrl.result.right_answers_count != 3 && !ctrl.uspVictorina">
                <p>
                Ваш приз уже в личном кабинете. Но вы не прошли в участники фото-конкурса. Но у Вас есть еще один шанс пройти до фото-конкурса, для этого
                    необходимо правильно ответить на 3 специальных вопроса от SKODA
                </p>

                <div class="mobal-button priz otvet clearfix">
                    <div class="mobal-button-right">
                        <button type="click" ng-click="ctrl.startUSPVictorina()" class="btn btn_primary">Играть</button>
                    </div>
                </div>
            </div>

            <div ng-show="ctrl.uspVictorina && ctrl.result.right_answers_count != 3">
                <p>
                    К сожалению, вы не прошли в фотоконкурс.
                </p>
            </div>

            <div ng-show="ctrl.currentCell.cell_type == 'green' && ctrl.result.right_answers_count == 3">
                <p>
                    Поздравляем! Вы стали участником фотоконкурса.
                    <a href="#" ng-click="ctrl.goToPhotocontest()">Подробности в личном кабинете.</a>
                </p>
            </div>
        </div>

    </div>
</div>
</div>