<section class="teodor">
        <div class="container">
            <div class="row">
                <div class="teodor-tittle">
                    <h3>Федор Парамонов</h3>
                    <h4>мой номер 10!</h4>
                    <h5>Меня зовут Федор, и я очень люблю <br> хоккей и мечтаю стать хоккеистом. Потому <br> что это моя самая любимая игра! </h5>
                    <p>Когда мне было 3 года, я первый раз играл в хоккейв <br>своём дворе с мальчишками. У меня была настоящая клюшка, но я <br>был без коньков. Просто катался в своих ботинках по льду. Мальчишки, <br> которые были в коньках, катались намного быстрее, и я попросил <br> папу: «Папа, я хочу научиться по-настоящему играть в хоккей!». <br> Вот папа мне купил коньки, и мы пошли на замерзший пруд. Когда <br> я встал на коньках на лёд, я сразу поехал. Даже папа меня не смог <br> догнать! Вокруг даже все удивились. Теперь я вырос, и у меня уже есть <br> клюшка, шлем и вся экипировка настоящего хоккеиста и мой <br> номер 10!!!! Я учусь в спортивной школе у самого крутого тренера! <br> И у нас самая лучшая команда!!!!</p>
                </div>

                <!-- <div class="teodor-phone clearfix">
                  <div class="teodor-phone-img">
                    
                  </div>
                  <div class="teodor-phone-text">
                    <h2>IT’S MY GAME!</h2>
                    <p>Приложение доступно для скачивания  в App Store и Google Play</p>
                    <a href="#" class="appstorn"></a>
                    <a href="#" class="googleplay"></a>
                  </div>
                </div> -->
                <div class="teodor-sokial">
                  <share-buttons data="fact.shareData"></share-buttons>
                </div>
            </div>
        </div>
</section>

<section class="slider_prizes prizes-teodor">
  <div class="row how">
        <div class="col-md-12"><h6>Правила конкурса</h6>

                <p>Расскажите историю о страсти Вашего ребенка к хоккею и помогите своему любимому хоккеисту осуществить мечту – попасть на матч Чемпионата мира 2016! Чтобы принять участие в розыгрыше билетов, Вам необходимо:
<br>
<br>
                1. Вступить в группу ŠKODA в одной из соц.сетей (facebook, vkontakte, twitter, instagram)<br>
                2. Написать историю о том, чем является хоккей в жизни Вашего ребенка, и чего он хочет добиться на льду
<br>
                3. Приложить к рассказу фотографии, где Ваш ребенок играет в хоккей
<br>
                4. Опубликовать историю c хештегами #хоккейвкаждом #этомояигра


               
<br>
<br>
               Если она действительно тронет сердца людей, ŠKODA подарит Вам билет на один из матчей Чемпионата Мира 2016 года в Москве!
                </p>
                </div>
        </div>
</section>


<section class="factSection factSection-teodor" infinite-scroll="ctrl.loadMore()" infinite-scroll-disabled='this.busy'>

    <div class="fact-tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-target="#home" data-toggle="tab">#хоккейвкаждом</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="container-fluid">
                <div class="row">
                    <div class="fact-two masonry">
                       <div class="fact-two-block item" ng-repeat="post in ctrl.posts">
                            <div class="fact-two-block-card">
                                <div class="fact-two-block-act">

                                    <div ng-show="post.photos.length">
                                        <div class="img" ng-repeat="photo in post.photos | limitTo:4">
                                            <img src="{{photo.image.small}}" alt="">
                                        </div>
                                    </div>
                                    <div class="face clearfix">
                                        <div class="face-img-left"
                                             style="background-image:url({{post.profile_pic}});background-position:center center;background-size:cover;">

                                        </div>
                                        <div class="face-text-right">
                                            <h3 ng-bind="post.profile_name">Михаил Клюшкин</h3>

                                            <p class="time-face"
                                               ng-bind="post.published_at | amDateFormat:'DD.MM H:mm'">
                                                1 апреля 15:23
                                            </p>
                                        </div>
                                    </div>
                                    <div class="fact-two-block-text">
                                        <p ng-bind-html="post.content"></p>
                                    </div>
                                </div>
                                <div class="fact-two-block-hov">
                                    <div class="fact-two-block-hov-rote">
                                        <a class="btn" href="" data-toggle="modal" ng-click="ctrl.readMore(post)"
                                           data-target="#fact-modal">Читать полностью</a>

                                        <div class="fact-social">
                                            <share-buttons data="post.shareData"></share-buttons>
                                        </div>

                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>


</section>


<!-- Modal -->
<div class="modal fade fact-modal" id="fact-modal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="fact-block">
                <div class="fact-img">
                    <slick ng-show="ctrl.currentPost.photos.length">
                        <div class="img" ng-repeat="photo in ctrl.currentPost.photos | limitTo:4">
                            <img src="{{photo.image.small}}" alt="">
                        </div>
                    </slick>
                </div>
                <div class="fact-block-text clearfix">
                    <div class="face clearfix">
                        <div class="face-img-left"
                             style="background-image:url({{ctrl.currentPost.profile_pic}});background-position:center center;background-size:cover;">

                        </div>

                        <div class="face-text-right">
                            <h3 ng-bind="ctrl.currentPost.profile_name">Михаил Клюшкин</h3>

                            <p class="time-face"
                               ng-bind="ctrl.currentPost.published_at | amDateFormat:'DD.MM H:mm'">
                                1 апреля 15:23
                            </p>
                        </div>

                    </div>
                    <div class="fact-social">
                        <share-buttons data="ctrl.currentPost.shareData"></share-buttons>
                    </div>
                </div>
                <div class="modal-fact-text">
                    <p ng-bind-html="ctrl.currentPost.content"></p>
                </div>
            </div>


        </div>

    </div>
</div>