<section class="teodor">
    <div class="container">
        <div class="row">
            <div class="teodor-tittle">
                <h3>Федор Парамонов</h3>
                <h4>мой номер 10!</h4>
                <h5>Меня зовут Федор, и я очень люблю <br> хоккей и мечтаю стать хоккеистом. Потому <br> что это моя
                    самая любимая игра! </h5>

                <p>Наш Федя мечтает стать хоккеистом. Сейчас ему 7 лет, и он уже отлично играет. Федор ходит на тренировки круглый год, не пропускает ни одной трансляции во время чемпионатов, знает по фамилиям составы многих сборных и, конечно, очень искренне болеет за наших. В его мечтах о профессиональной карьере мы поддерживаем Федю всей семьей! Наш папа приходит на самые важные матчи Фединой командысо своими друзьями. И вот эти взрослые дяди болеют с трибун за детскую команду так же громко и отчаянно, как будто они на играх Чемпионата мира.<br>

    Я, мама, поддерживаю Федю вообще всегда, не только в победные моменты. Я с ним на каждой тренировке, поэтому знаю и о достижениях, и о промахах. И всегда честно говорю Феде, если знаю, что сегодня он мог бы сыграть лучше. Но независимо от того, как прошла тренировка, я каждый день хвалю Федю и говорю, что не сомневаюсь в том, что у него все получится.<br>

    Даже наша младшая дочь Катя не осталась в стороне. Когда она рассказывает, что у нее есть старший брат, то обязательно называет его Федей-чемпионом.
    Думаю, что детям важно, когда самые близкие верят в них и в их мечты. И наш Федя даже не сомневается, что однажды сможет представлять Россию в составе национальной сборной!<br>

    Поделитесь и вы историей о ваших юных любителях хоккея и выиграйте билеты на игры Чемпионата Мира по Хоккею для всей семьи!
</p>
            </div>

            <!-- <div class="teodor-phone clearfix">
              <div class="teodor-phone-img">

              </div>
              <div class="teodor-phone-text">
                <h2>IT’S MY GAME!</h2>
                <p>Приложение доступно для скачивания  в App Store и Google Play</p>
                <a href="#" class="appstorn"></a>
                <a href="#" class="googleplay"></a>
              </div>
            </div> -->
            <div class="teodor-sokial" style="padding-bottom: 20px;">
                <share-buttons data="fact.shareData"></share-buttons>
            </div>
        </div>
    </div>
</section>

<section class="slider_prizes prizes-teodor">
    <div class="row how">
        <div class="col-md-12"><h6>Правила конкурса</h6>

            <p>Расскажите историю о страсти Вашего ребенка к хоккею и помогите своему любимому хоккеисту осуществить
                мечту – попасть на матч Чемпионата мира 2016! Чтобы принять участие в розыгрыше билетов, Вам необходимо:
                <br>
                <br>
                1. Вступить в группу ŠKODA в одной из соц.сетей (<a href="https://www.facebook.com/skodarussia/posts/1193672200656459" class="link_default">facebook</a>, <a href="https://new.vk.com/skodarussia?w=wall-26342574_42676" class="link_default">vkontakte</a>, twitter, instagram)<br>
                2. Написать историю о том, чем является хоккей в жизни Вашего ребенка, и чего он хочет добиться на льду
                <br>
                3. Приложить к рассказу фотографии, где Ваш ребенок играет в хоккей
                <br>
                4. Опубликовать историю c хештегами #хоккейвкаждом #этомояигра


                <br>
                <br>
                Если она действительно тронет сердца людей, ŠKODA подарит Вам билеты на финал Чемпионата Мира 
                2016 года в Москве!
                <br>
                *Срок проведения Конкурса – с 09.04.2016 г. по 10.05.2016 г. включительно
            </p>
        </div>
    </div>
</section>


<section class="slider_prizes">
    <div class="container-fluid">

        <div class="row page_prizs_priz">

            <div ng-repeat="prize in ctrl.iceHockeySponsor.prizes">
                <div class="col-md-3">
                    <slick slides-to-show=1 slides-to-scroll=1 arrows=false dots=true>
                        <div><img src="{{prize.image.small}}" alt="" class="img-responsive"></div>

                    </slick>

                </div>
                <div class="col-md-3">
                    <ul class="info_priz">
                        <li></li>
                        <li ng-bind="prize.name">Билеты на матч Россия-Латвия</li>
                        <li ng-bind="prize.description">Поддержи наших на стадионе! Ты должен быть там!</li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="wrapp_toggle toggle-teodor">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        <h4>Выбрать всех</h4>
                        <input ng-model="ctrl.allFilter" type="checkbox" name="toggle" class="sw" id="toggle-1"
                               ng-change="ctrl.enableOrDisableAll()">
                        <label for="toggle-1"></label>
                        <span class="on">ON</span>
                        <span class="off" style="margin-top: -32px;">OFF</span>
                    </li>
                    <li>
                        <img src="img/resources/img/vk.png" alt="">
                        <input ng-model="ctrl.vkFilter" ng-change="ctrl.changeFilter()" type="checkbox" name="toggle"
                               class="sw" id="toggle-3">
                        <label for="toggle-3"></label>
                        <span class="on">ON</span>
                        <span class="off">OFF</span>
                    </li>
                    <li>
                        <img src="img/resources/img/twiter.png" alt="">
                        <input ng-model="ctrl.twitterFilter" ng-change="ctrl.changeFilter()" type="checkbox"
                               name="toggle" class="sw" id="toggle-4">
                        <label for="toggle-4"></label>
                        <span class="on">ON</span>
                        <span class="off">OFF</span>
                    </li>
                    <li>
                        <img src="img/resources/img/insta.png" alt="">
                        <input ng-model="ctrl.instagramFilter" ng-change="ctrl.changeFilter()" type="checkbox"
                               name="toggle" class="sw" id="toggle-5">
                        <label for="toggle-5"></label>
                        <span class="on">ON</span>
                        <span class="off">OFF</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>


<section class="wrapp_timeline_social" infinite-scroll="ctrl.loadMore()" infinite-scroll-disabled='this.busy'>

    <div class="dop_timeline"></div>
    <timeline>
        <div ng-repeat="day in ctrl.days">

            <timeline-event>
                <timeline-badge class="{{event.badgeClass}}"
                                style="height: 70px; width:70px; background-color: #4ba82e; border-radius:50%; margin-left: -35px; padding-top: 10px; box-shadow: none;">
                    <div style="height: 70px;" ng-bind="day.id | amDateFormat:'DD'"></div>
                    <!--<i class="" ></i>-->
                </timeline-badge>
                <timeline-panel style="visibility: hidden">
                    <div style="height: 50px">

                    </div>

                </timeline-panel>
            </timeline-event>

            <div class="dop-block clearfix" ng-repeat="coupleNewsBlock in day.coupleNewsBlocks">
                <timeline-event class="clearfix dop-block-item"
                                ng-repeat="event in coupleNewsBlock | filter:ctrl.filterByNetworks as filtered"
                                side="">
                    <timeline-badge class="{{::event.badgeClass}}">
                        <div style="background-image: url('{{::event.profile_pic}}');background-position:center center;background-size:cover; height: 50px; border-radius:50%;"></div>

                    </timeline-badge>
                    <timeline-panel class="{{::event.badgeClass}} clearfix">
                        <timeline-heading>
                            <h4 ng-bind="::event.title"></h4>
                        </timeline-heading>
                        <div class="post_content">
                            <div class="title">
                                <a href="#"><img src="{{::event.iconUrl}}" alt="" class="img-responsive"></a>
                                <a href="#" class="link_default"><h5
                                        ng-bind="::event.published_at">13:32</h5></a>
                                <a href="{{::event.profile_link}}" target="_blank" class="link_default"><p
                                        ng-bind="::event.profile_name">Александр Овечкин</p></a>
                            </div>
                            <div class="main_content">
                                <p ng-show="event.showMinContent" ng-bind-html="::event.minContent"></p>
                                <a href="" ng-show="event.showMinContent" ng-click="event.showMinContent = false;"
                                   style="color: #4ba82e;">Показать полностью</a>

                                <p ng-show="!event.showMinContent" ng-bind-html="::event.content"></p>

                            </div>
                            <div ng-show="::event.photos.length">
                                <slick infinite=true arrows=true>
                                    <div ng-repeat="photo in ::event.photos | limitTo:4">
                                        <img src="{{::photo.image.small}}"/>
                                    </div>
                                    <span ng-bind="::event.photoLengthText"></span>
                                </slick>
                            </div>

                            <ul class="dop_info">
                                <li ng-show="::event.likes"><a href="" class="link_default"
                                                               ng-bind="::event.likesText"></a></li>
                                <li ng-show="::event.reposts"><a href="" class="link_default"
                                                                 ng-bind="::event.repostText"></a>
                                </li>
                                <li ng-show="::event.post_link"><a class="link_default" href="{{event.post_link}}"
                                                                   target="_blank">Читать</a></li>
                            </ul>
                        </div>

                    </timeline-panel>
                </timeline-event>


            </div>
        </div>

    </timeline>
</section>
