footer {
  background-image: url(img/resources/img/footer_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black;
  background-position: center center;
  position: relative;
  z-index: 100;
  .label_footer {
    padding-top: 20px;
    p {
      display: inline-block;
      // margin-left: 20px;
      padding-top: 10px;
      color: $white;
      position: relative;
      top: 37px;
    }
    img {
      position: relative;
      top: 25px;
    }
  }
  h6 {
    text-transform: uppercase;
    margin-bottom: 15px;
    color: $white;
    margin-top: 60px;
  }
  ul {
    margin-top: 20px;
    li{
      display:inline-block;
      width: 24%;
      vertical-align:top;
      a {
        text-decoration: underline;
        color: $white;
        font-size: $p_size;
        font-weight:bold;
      }
      a:hover, a:focus {
        color: $white;
      }
    }
  }
  .footer_margin_top {
    background-color:#000;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom:20px;
    img, p {
      display: inline-block;
      color: $white;
      cursor:pointer;
    }
    p {
      margin-right: 40px;
      font-size: $p_size;
      font-weight:300;

    }
    img {
      margin-left: 10px;
    }
    .footer-share{
      display: inline-block;
      p{
        float:left;
        line-height:42px;
        font-weight: bold;
        @media (max-width:991px){
          margin-right:30px;
        }
        @media (max-width:767px){
          margin-right:0;
          float:none;
          display: block;
        }

      }
      @media (max-width:1200px){
        margin-top:5px;
      }
    }
    .tantam-share{
      margin-top:0;
    }
    .footer-copyring{
      margin-top:10px;
      font-size: $p_size;
      font-weight:bold;
      color:#fff;
      a{
        color:#fff;
        &:hover{
          text-decoration: underline;
        }
      }
      @media (max-width:1200px){
        margin-top:0;
      }
    }
    @media (max-width:767px){
      .text-left,
      .text-right{
        text-align:center;
      }
    }
  }
}