.loader-container{
  position: fixed;
  z-index:1002;
  background:rgba(255,255,255,0.7);
  width:100%;
  left:0;
  top:0;
  height:100%;
  display: block;
}
.loader-icon{
  background:url(img/resources/img/spinner.gif);
  display: inline-block;
  position: absolute;
  width:64px;
  height:64px;
  left:50%;
  top:50%;
  margin:-32px 0 0 -32px;
  opacity:0.5;
}