<section class="junior">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="junior-content">
                    <h5 class="titel_news">ŠKODA Junior Ice Hockey Cup 2017:
                        Всероссийский Детский Турнир по хоккею в Москве
                       </h5>

                        <p style="text-align: justify;">В 2017 году ŠKODA, при официальной поддержке Федерации Хоккея России в пятый, юбилейный раз, собирает юных хоккеистов со всей России, чтобы они смогли продемонстрировать свое мастерство на льду.
                        </p>

                </div>

            </div>
            <div class="col-md-7">
                <img src="img/resources/img/junior.jpg" alt="" style="width:100%;">

            </div>

            
            <div class="col-md-12 text-left text_block">
                <p> 
                <br>
                Дорогие друзья, мы с радостью приглашаем Вас и Ваших детей на финальные игры всероссийского детского турнира по хоккею с шайбой ŠKODA Junior Ice Hockey Cup.
                 <br><br>
                В пятый, юбилейный раз, финал Турнира пройдет в лучшем Ледовом дворце России! <br>
                Ждем вас на финальных играх 22 и 23 апреля в «ВТБ Ледовый дворец», который находится по адресу ул. Автозаводская, д. 23 <br>
                </p>
                <div class="container" style="padding:0;">
                    <div class="col-md-6 block-center" style="margin:0 auto;float:none">
                        <table class="groups-table">
                            <thead>
                                <tr>
                                    <td>ГРУППА "A"</td>
                                    <td>ГРУППА "Б"</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1. Нефтяник</td>
                                    <td>1. Торос</td>
                                </tr>
                                <tr>
                                    <td>2. Штурм</td>
                                    <td>2. Питер</td>
                                </tr>
                                <tr>
                                    <td>3. Витязь</td>
                                    <td>3. Локомотив</td>
                                </tr>
                                <tr>
                                    <td>4. Русь</td>
                                    <td>4. Северная звезда</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container" style="padding:0;">
                    <h4 style="font-weight:bold; text-align:center;">Расписание игр</h4>
                    <table class="schedule-table">
                        <thead>
                            <tr>
                                <td>Арена</td>
                                <td ></td>
                                <td colspan="3">21 апреля - Групповой этап турнира</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>МЛА</td>
                                <td>10:30 - 10:55</td>
                                <td colspan="3">Церемония открытия</td>
                            </tr>
                            <tr>
                                <td>ТЛА</td>
                                <td>11:15 - 12:45</td>
                                <td >№1</td>
                                <td>Питер</td>
                                <td>Локомотив</td>
                            </tr>                            
                            <tr>
                                <td>МЛА</td>
                                <td>11:00 - 12:30</td>
                                <td >№2</td>
                                <td>Нефтяник</td>
                                <td>Русь</td>
                            </tr>                            
                            <tr>
                                <td>ТЛА</td>
                                <td>13:00 - 14:30</td>
                                <td >№3</td>
                                <td>Торос</td>
                                <td>Северная Звезда</td>
                            </tr>                            
                            <tr>
                                <td>МЛА</td>
                                <td>12:45 - 14:15</td>
                                <td >№4</td>
                                <td>Штурм</td>
                                <td>Витязь</td>
                            </tr>                            
                            <tr>
                                <td>ТЛА</td>
                                <td>16:15 - 17:45</td>
                                <td >№5</td>
                                <td>Локомотив</td>
                                <td>Северная Звезда</td>
                            </tr>                            
                            <tr>
                                <td>МЛА</td>
                                <td>16:00 - 17:30</td>
                                <td >№6</td>
                                <td>Торос</td>
                                <td>Питер</td>
                            </tr>                            
                            <tr>
                                <td>ТЛА</td>
                                <td>18:00 - 19:30</td>
                                <td >№7</td>
                                <td>Нефтяник</td>
                                <td>Штурм</td>
                            </tr>                            
                            <tr>
                                <td>МЛА</td>
                                <td>17:45 - 19:15</td>
                                <td >№8</td>
                                <td>Русь</td>
                                <td>Витязь</td>
                            </tr>                            
                        </tbody>
                        <thead>
                            <tr>
                                <td></td>
                                <td ></td>
                                <td colspan="3">22 апреля - Групповой этап турнира</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ТЛА</td>
                                <td>10:00 - 11:45</td>
                                <td >№9</td>
                                <td>Торос</td>
                                <td>Локомотив</td>
                            </tr>                            
                            <tr>
                                <td>МЛА</td>
                                <td>9:00 - 10:45</td>
                                <td >№10</td>
                                <td>Нефтяник</td>
                                <td>Витязь</td>
                            </tr>                            
                            <tr>
                                <td>ТЛА</td>
                                <td>15:15 - 17:00</td>
                                <td >№11</td>
                                <td>Питер</td>
                                <td>Северная Звезда</td>
                            </tr>                            
                            <tr>
                                <td>МЛА</td>
                                <td>11:00 - 12:45</td>
                                <td >№12</td>
                                <td>Штурм</td>
                                <td>Русь</td>
                            </tr>                            
                           <tr>
                                <td>МЛА</td>
                                <td>15:30 - 16:30</td>
                                <td colspan="3">Мастер-класс Яшина</td>
                            </tr>
                            <tr>
                                <td>ФОЙЕ</td>
                                <td STYLE="font-weight:bold;">16:45 - 17:45</td>
                                <td colspan="3">Автограф сессия в фойе</td>
                            </tr>    
                        </tbody>
                        <thead>
                            <tr>
                                <td></td>
                                <td ></td>
                                <td colspan="3">23 апреля - Финальный этап турнира</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ТЛА</td>
                                <td>10:00 - 11:45</td>
                                <td >№13</td>
                                <td>4А</td>
                                <td>4Б</td>
                            </tr>                            
                            <tr>
                                <td>МЛА</td>
                                <td>10:30 - 12:15</td>
                                <td >№14</td>
                                <td>3Б</td>
                                <td>3А</td>
                            </tr>                            
                            <tr>
                                <td>ТЛА</td>
                                <td>12:00 - 13:45</td>
                                <td >№15</td>
                                <td>2Б</td>
                                <td>2А</td>
                            </tr>                            
                            <tr>
                                <td>МЛА</td>
                                <td>12:30 - 14:15</td>
                                <td >№16</td>
                                <td>1А</td>
                                <td>1Б</td>
                            </tr>                            
                           <tr>
                                <td>МЛА</td>
                                <td>14:45 - 15:45</td>
                                <td colspan="3">Церемония закрытия на льду</td>
                            </tr>
                            <tr>
                                <td>ФОЙЕ</td>
                                <td STYLE="font-weight:bold;">16:45 - 17:45</td>
                                <td colspan="3">Автограф сессия в фойе</td>
                            </tr>
                            <tr>
                                <td>МЛА</td>
                                <td STYLE="font-weight:bold;">17:00 - 18:00</td>
                                <td colspan="3">Мастер-класс Морозова</td>
                            </tr>     
                        </tbody>
                    </table>
                </div>
                <div class="container matches" style="padding:0;">
                    <h4 style="font-weight:bold;">  Группа А  </h4>
                    <div class="col-md-6" style="padding:0;">  
                        <table class="matches-table">
                            <thead>
                                <tr>
                                    <td class="grey-cell"></td>
                                    <td>Нефтяник</td>
                                    <td>Штурм</td>
                                    <td>Витязь</td>
                                    <td>Русь</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Нефтяник</td>
                                    <td class="grey-cell"></td>
                                    <td><span >4</span>:3</td>
                                    <td></td>
                                    <td><span >5</span>:3</td>
                                </tr>
                                <tr>
                                    <td>Штурм</td>
                                    <td>3:<span >4</span></td>
                                    <td class="grey-cell"></td>
                                    <td>2:<span >4</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Витязь</td>
                                    <td></td>
                                    <td><span >4</span>:2</td>
                                    <td class="grey-cell"></td>
                                    <td><span >4</span>:0</td>
                                </tr>
                                <tr>
                                    <td>Русь</td>
                                    <td>3:<span >5</span></td>
                                    <td></td>
                                    <td>0:<span >4</span></td>
                                    <td class="grey-cell"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6" style="padding:0;"> 
                        <table class="score-table">
                            <thead>
                                <tr>
                                    <td>Команда</td>
                                    <td>И</td>
                                    <td>В</td>
                                    <td>Н</td>
                                    <td>П</td>
                                    <td>Ш</td>
                                    <td>О</td>
                                    <td>Место</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Нефтяник</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>9-6</td>
                                    <td>6</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Штурм</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>5-8</td>
                                    <td>0</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Витязь</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>8-2</td>
                                    <td>6</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Русь</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>0-9</td>
                                    <td>О</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                     </div>
                    <h4 style="font-weight:bold;">  Группа Б  </h4>
                    <div class="col-md-6" style="padding:0;">  
                        <table class="matches-table">
                            <thead>
                                <tr>
                                    <td class="grey-cell"></td>
                                    <td>Торос</td>
                                    <td>Питер</td>
                                    <td>Локомотив</td>
                                    <td>Северная Звезда</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Торос</td>
                                    <td class="grey-cell"></td>
                                    <td>3:<span >5</span></td>
                                    <td></td>
                                    <td>3:<span >4</span></td>
                                </tr>
                                <tr>
                                    <td>Питер</td>
                                    <td><span >5</span>:3</td>
                                    <td class="grey-cell"></td>
                                    <td>1:<span >6</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Локомотив</td>
                                    <td></td>
                                    <td><span >6</span>:1</td>
                                    <td class="grey-cell"></td>
                                    <td><span >11</span>:1</td>
                                </tr>
                                <tr>
                                    <td>Северная Звезда</td>
                                    <td><span >4</span>:3</td>
                                    <td></td>
                                    <td><span >1</span>:11</td>
                                    <td class="grey-cell"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6" style="padding:0;"> 
                        <table class="score-table">
                            <thead>
                                <tr>
                                    <td>Команда</td>
                                    <td>И</td>
                                    <td>В</td>
                                    <td>Н</td>
                                    <td>П</td>
                                    <td>Ш</td>
                                    <td>О</td>
                                    <td>Место</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Торос</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>6-9</td>
                                    <td>0</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Питер</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>6-7</td>
                                    <td>3</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Локомотив</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>17-2</td>
                                    <td>6</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Северная Звезда</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>5-14</td>
                                    <td>3</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                     </div>
                </div> 
                <!-- <div class="junior-schedule-list">
                    <p style="font-weight:bold;">
                        Будем рады видеть Вас и Ваших детей на трибунах ŠKODA Junior Ice Hockey Cup 2017. 
                        Приезжайте и поддержите наших юных хоккеистов! <br> <br>

                            В программе мероприятия: 
                        </p>
                        <ul> 
                            <li>активности для юных зрителей    </li>
                            <li>автограф-сессия от звезд российского хоккея   </li>
                            <li>розыгрыши сувениров </li>
                        </ul> <br>  
                        <p style="font-weight:bold;">
                        Для участия в мероприятие Вам необходимо получить электронное приглашение (кнопка расположена на странице ниже). <br>

                        По любым вопросам обращайтесь по адресу: <span style="color: #37aa35;">info@hockey-skoda.ru</span>
                        </p>

                </div>
            <div class="col-md-12 junior-buttons">
                <button ui-sref="dashboard.forma-master-class" class="btn btn_secondary">Регистрация на мастер класс</button>
                <button ui-sref="dashboard.forma-igra" class="btn btn_secondary">Получить пригласительный на турнир</button>

            </div> -->
            <!-- <div class="col-md-6 block-center" style="text-align: center;float: none;margin: 0 auto; clear: both;">
                    <h4 class="" style="font-weight:bold;">Список команд</h4>
                    <table class="junior-team-table">
                        <thead>
                        <tr>
                            <td>Место</td>
                            <td>Название команды</td>
                            <td>Город</td>
                        </tr>
                        </thead>
                        <tr>
                            <td>1</td>
                            <td>Витязь</td>
                            <td>Подольск</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Локомотив</td>
                            <td>Ярославль</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Нефтяник</td>
                            <td>Альметьевск</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Питер</td>
                            <td>Санкт-Петербург</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Русь</td>
                            <td>Москва</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Северная звезда</td>
                            <td>Москва</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Торос</td>
                            <td>Нефтекамск</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Штурм</td>
                            <td>Новосибирская область, р.п.Чик</td>
                        </tr>
                    </table>
                </div> -->
            <!-- <img src="img/resources/img/map.jpg" alt="" style="width:100%;"> -->
        </div>
    </div>
</section>

<div class="grey-junior">


    <section class="wrapp_shet" >
        <div class="container" ng-model="selection">
                <h3 class="junior-tittle">Календарь игр Junior Ice Hockey Cup</h3>
                <div class="date-picker center-block">
                    <div class="year">
                        <span class="year-unit year-unit__divider year-unit__chosen" ">2016</span>
                        <span class="year-unit " >2017</span>
                    </div>
                    <div class="month">
                        <img src="img/resources/img/arrow_left.png" alt="" >
                        <span>Апрель</span>
                        <img src="img/resources/img/arrow_right.png" alt="" >
                    </div>
                </div>
            <div class="tournament-table-content center-block" ng-switch on="selection">
                <div class="group group__a">
                    <span class="group-title">Конференция "Запад"</span>
                    <div class="quaterfinal quaterfinal-aGroup">
                        <div class="quaterfinal-pair">
                            <div  class=" quaterfinal-pair-participant  quaterfinal-pair-participant-1 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-aGroup decoration-line-1 decoration-line-winner decoration-line-top decoration-line-agroup" widthCalculate>
                                <span>1<img src="img\resources\img\tournament-table\logo-1.png">ЦСКА</span>
                            </div>
                            <div  class="quaterfinal-pair-participant quaterfinal-pair-participant-2 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-aGroup decoration-line-2  decoration-line-bottom decoration-line-agroup">
                                <span>8<img src="img\resources\img\tournament-table\logo-2.png" >Йокерит</span>
                            </div>
                            <div class="quaterfinal-pair-score quaterfinal-pair-score-aGroup">
                                4-0
                            </div>
                        </div>
                        <div class="quaterfinal-pair">
                            <div class=" quaterfinal-pair-participant quaterfinal-pair-participant-3 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-aGroup decoration-line-3 decoration-line-winner decoration-line-top decoration-line-agroup">
                            <span>4 <img src="img\resources\img\tournament-table\logo-3.png">Локомотив</span>
                            </div>
                            <div class="quaterfinal-pair-participant quaterfinal-pair-participant-4 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-aGroup decoration-line-4  decoration-line-bottom decoration-line-agroup">
                                <span>5<img src="img\resources\img\tournament-table\logo-4.png" >Динамо Мн</span>
                            </div>
                            <div class="quaterfinal-pair-score quaterfinal-pair-score-aGroup">
                                4-1
                            </div>
                        </div>
                        <div class="quaterfinal-pair">
                            <div class=" quaterfinal-pair-participant quaterfinal-pair-participant-5 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-aGroup decoration-line-5 decoration-line-winner decoration-line-top decoration-line-agroup">
                            <span>2<img src="img\resources\img\tournament-table\logo-5.png"> СКА</span>
                            </div>
                            <div class="quaterfinal-pair-participant quaterfinal-pair-participant-6 decoration-line decoration-line-quaterfinal  decoration-line-quaterfinal-aGroup decoration-line-6  decoration-line-bottom decoration-line-agroup">
                                <span>  7<img src="img\resources\img\tournament-table\logo-6.png" >Витязь</span>
                            </div>
                            <div class="quaterfinal-pair-score quaterfinal-pair-score-aGroup">
                                4-0
                            </div>
                        </div>
                        <div class="quaterfinal-pair">
                            <div class=" quaterfinal-pair-participant quaterfinal-pair-participant-7 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-aGroup decoration-line-7 decoration-line-winner decoration-line-top decoration-line-agroup">
                                    <span>3 <img src="img\resources\img\tournament-table\logo-7.png">Динамо МСК</span>
                            </div>
                            <div class="quaterfinal-pair-participant quaterfinal-pair-participant-8 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-aGroup decoration-line-8  decoration-line-bottom decoration-line-agroup">
                                <span> 6<img src="img\resources\img\tournament-table\logo-8.png" alt="">Торпедо</span>
                            </div>
                            <div class="quaterfinal-pair-score quaterfinal-pair-score-aGroup">
                                4-1
                            </div>
                        </div>
                        
                    </div>
                    <div class="semifinal semifinal-aGroup">
                        <div class="semifinal-pair">
                            <div class="semifinal-pair-participant decoration-line  decoration-line-semifinal decoration-line-semifinal-aGroup   decoration-line-top decoration-line-agroup">
                                <img src="img\resources\img\tournament-table\logo-1.png" alt="">
                            </div>
                            <div class="semifinal-pair-participant decoration-line  decoration-line-semifinal decoration-line-semifinal-bottom decoration-line-semifinal-aGroup  decoration-line-bottom decoration-line-agroup">
                                <img src="img\resources\img\tournament-table\logo-3.png" alt="">
                            </div>
                            <div class="semifinal-pair-score semifinal-pair-score-aGroup">  
                            2-2
                            </div>
                        </div>
                        <div class="semifinal-pair">
                            <div class="semifinal-pair-participant decoration-line  decoration-line-semifinal decoration-line-semifinal-aGroup decoration-line-winner decoration-line-top decoration-line-agroup">
                                <img src="img\resources\img\tournament-table\logo-5.png" alt="">
                            </div>
                            <div class="semifinal-pair-participant decoration-line  decoration-line-semifinal decoration-line-semifinal-bottom  decoration-line-semifinal-aGroup  decoration-line-bottom decoration-line-agroup">
                                <img src="img\resources\img\tournament-table\logo-7.png" alt="">
                            </div>
                            <div class="semifinal-pair-score semifinal-pair-score-aGroup">  
                            3-1
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group group__b">
                    <span class="group-title">Конференция "Восток"</span>
                    <div class="quaterfinal quaterfinal-bGroup">
                        <div class="quaterfinal-pair">
                            <div class=" quaterfinal-pair-participant quaterfinal-pair-participant-9 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-bGroup decoration-line-9 decoration-line-winner decoration-line-top decoration-line-bgroup">
                                <span>Авангард <img src="img\resources\img\tournament-table\logo-9.png">2</span>
                            </div>
                            <div class="quaterfinal-pair-participant quaterfinal-pair-participant-10 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-bGroup decoration-line-10  decoration-line-bottom decoration-line-bgroup">
                                <span> Адмирал<img src="img\resources\img\tournament-table\logo-10.png" alt=""> 7</span>
                            </div>
                            <div class="quaterfinal-pair-score quaterfinal-pair-score-bGroup">
                                4-2
                            </div>
                        </div>
                        <div class="quaterfinal-pair">
                            <div class=" quaterfinal-pair-participant quaterfinal-pair-participant-11 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-bGroup decoration-line-11 decoration-line-winner decoration-line-top decoration-line-bgroup">
                                <span>Ак Барс <img src="img\resources\img\tournament-table\logo-11.png">3</span>
                            </div>
                            <div  class="quaterfinal-pair-participant quaterfinal-pair-participant-12 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-bGroup decoration-line-12  decoration-line-bottom decoration-line-bgroup">
                                <span>Салават Юлаев<img src="img\resources\img\tournament-table\logo-12.png" alt=""> 6</span>
                            </div>
                            <div class="quaterfinal-pair-score quaterfinal-pair-score-bGroup">
                                4-1
                            </div>
                        </div>
                        <div class="quaterfinal-pair">
                            <div class=" quaterfinal-pair-participant quaterfinal-pair-participant-13 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-bGroup decoration-line-13 decoration-line-winner decoration-line-top decoration-line-bgroup">
                                <span>Металлург Мг <img src="img\resources\img\tournament-table\logo-13.png">1</span>
                            </div>
                            <div class="quaterfinal-pair-participant quaterfinal-pair-participant-14 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-bGroup decoration-line-14  decoration-line-bottom decoration-line-bgroup">
                                <span>Куньлунь РС<img src="img\resources\img\tournament-table\logo-14.png" alt="">8</span>
                            </div>
                            <div class="quaterfinal-pair-score quaterfinal-pair-score-bGroup">
                                4-1
                            </div>
                        </div>
                        <div class="quaterfinal-pair">
                            <div class=" quaterfinal-pair-participant quaterfinal-pair-participant-15 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-bGroup decoration-line-15  decoration-line-top decoration-line-bgroup">
                                <span>Трактор <img src="img\resources\img\tournament-table\logo-15.png"> 4</span>
                            </div>
                            <div class="quaterfinal-pair-participant quaterfinal-pair-participant-16 decoration-line decoration-line-quaterfinal decoration-line-quaterfinal-bGroup decoration-line-16  decoration-line-winner  decoration-line-bottom decoration-line-bgroup">
                                <span>Барыс<img src="img\resources\img\tournament-table\logo-16.png" alt="">5</span>
                            </div>
                            <div class="quaterfinal-pair-score quaterfinal-pair-score-bGroup">
                                2-4
                            </div>
                        </div>
                        
                    </div>
                    <div class="semifinal semifinal-bGroup">
                        <div class="semifinal-pair">
                            <div class="semifinal-pair-participant  decoration-line decoration-line-semifinal  decoration-line-semifinal-bGroup   decoration-line-top decoration-line-bgroup">
                                <img src="img\resources\img\tournament-table\logo-9.png" alt="">
                            </div>
                            <div class="semifinal-pair-participant  decoration-line decoration-line-semifinal  decoration-line-semifinal-bottom decoration-line-semifinal-bGroup   decoration-line-winner  decoration-line-bottom decoration-line-bgroup">
                                <img src="img\resources\img\tournament-table\logo-11.png" alt="">
                            </div>
                            <div class="semifinal-pair-score semifinal-pair-score-bGroup">  
                            1-2
                            </div>
                        </div>
                        <div class="semifinal-pair">
                            <div class="semifinal-pair-participant decoration-line decoration-line-semifinal decoration-line-semifinal-bGroup  decoration-line-winner decoration-line-top decoration-line-bgroup">
                                <img src="img\resources\img\tournament-table\logo-13.png" alt="">
                            </div>
                            <div class="semifinal-pair-participant decoration-line decoration-line-semifinal  decoration-line-semifinal-bottom decoration-line-semifinal-bGroup   decoration-line-bottom decoration-line-bgroup">
                                <img src="img\resources\img\tournament-table\logo-16.png" alt="">
                            </div>
                            <div class="semifinal-pair-score semifinal-pair-score-bGroup">  
                            3-0
                            </div>
                        </div>
                    </div>
                </div>
                <div style="float:none;"></div>
            </div>  
            <div class="container" ng-switch on="selection">
                <div class="row fix_bottom">
                    <div class="tabel_game">
                        <div class="col-md-12 date_game">
                            <h3>23</h3>
                            <p class="b">апреля</p>
                            <p>(Групповой этап)</p>
                        </div>
                        <div class="col-md-3 text-center ">
                            <div class="game last next">
                                <h3>8:0</h3>
                                <h6>Локомотив(Ярославль)-Атлант(Мытищи) </h6>
                                <h6>Группа А</h6>
                                <p>10:45 - 12:00</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>0:1</h3>
                                <h6>Нефтяник(Альметьевск)-Спартаковец(Екатеринбург)</h6>
                                <h6>Группа В</h6>
                                <p>10:45 - 12:00</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>16:2</h3>
                                <h6>Русь(Москва)-Светлогорец(Светлогорск)</h6>
                                <h6>Группа А</h6>
                                <p>12:15 - 13:30</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>1:16</h3>
                                <h6>Юность(Краснодар)-Сибирь(Новосибирск)</h6>
                                <h6>Группа В</h6>
                                <p>12:15 - 13:30</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>0:2</h3>
                                <h6>Локомотив(Ярославль)-Русь(Москва)</h6>
                                <h6>Группа А</h6>
                                <p>17:00 - 18:15</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>6:4</h3>
                                <h6>Спартаковец(Екатеринбург)-Сибирь(Новосибирск)</h6>
                                <h6>Группа В</h6>
                                <p>15:30 - 16:45</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>5:2</h3>
                                <h6>Атлант(Мытищи)-Светлогорец(Светлогорск)</h6>
                                <h6>Группа А</h6>
                                <p>17:00 - 18:15</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>1:9</h3>
                                <h6>Юность(Краснодар)-Нефтяник(Альметьевск)</h6>
                                <h6>Группа B</h6>
                                <p>15:30 - 16:45</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row fix_bottom">
                    <div class="tabel_game">
                        <div class="col-md-12 date_game">
                            <h3>24</h3>
                            <p class="b">апрель</p>
                            <p>(Финальный этап)</p>
                        </div>
                        <div class="col-md-3 text-center ">
                            <div class="game last next">
                                <h3>8:1</h3>
                                <h6>Локомотив(Ярославль)-Светлогорец(Светлогорск)</h6>
                                <h6>Группа А</h6>
                                <p>09:00 - 10:15</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>2:11</h3>
                                <h6>Юность(Краснодар)-Спартаковец(Екатеринбург)</h6>
                                <h6>Группа В</h6>
                                <p>09:00 - 10:15</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>4:1</h3>
                                <h6>Русь(Москва)-Атлант(Мытищи)</h6>
                                <h6>Группа А</h6>
                                <p>10:30 - 11:45</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>3:2</h3>
                                <h6>Нефтяник(Альметьевск)-Сибирь(Новосибирск)</h6>
                                <h6>Группа В</h6>
                                <p>10:30 - 11:45</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>4:3(Б)</h3>
                                <h6>Светлогорец(Светлогорск)-Юность(Краснодар)</h6>
                                <h6>Матч за 7-8 место</h6>
                                <p>15:00 - 16:15</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>2:1(Б)</h3>
                                <h6>Сибирь(Новосибирск)-Атлант(Мытищи)</h6>
                                <h6>Матч за 5-6 место </h6>
                                <p>15:00 - 16:15</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>6:2</h3>
                                <h6>Нефтяник(Альметьевск)-Локомотив(Ярославль)</h6>
                                <h6>Матч за 3-4 место</h6>
                                <p>16:30 - 17:45</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="game last next">
                                <h3>1:3</h3>
                                <h6>Спартаковец(Екатеринбург)-Русь(Москва)</h6>
                                <h6>Матч за 1-2 место</h6>
                                <p>16:30 - 17:45</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
                <div style="float:none;"></div>
        </div> 
        </div>
        </div>
    </section>
</div>
<div class="row info-row">
        <div class="container " style="background-color:white;">
         <div class="col-md-6">
                <!-- <div class="junior-news">
                    <div class="junior-news-tittle">
                        <h4>Другие новости</h4>
                    </div>
                    <div class="junior-news-block clearfix" ng-repeat="news in ctrl.lastNews">
                        <div class="junior-news-block-left">
                <span class="junior-news-block-left-datte" ng-bind="news.published_at | amDateFormat:'DD.MM H:mm'">
                  21:32
                </span>
                <span class="junior-news-block-left-col" ng-bind="news.comments_count">
                  0
                </span>
                        </div>
                        <div class="junior-news-block-right">
                            <h5><a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})"
                                   ng-bind="news.name">Фетисов: почему 16-18-летние парни уезжают?</a></h5>
                        </div>
                    </div>
                </div>
 -->
            </div> 
    </div>
    <div class="container gallery-row" >
           <div class="junior-galer clearfix">
                    <div class="junior-galer-block clearfix">
                        <h6>Фотогалерея</h6>
                        <ul class="nav" id="myTab">
                            <li ng-repeat="gallery in ctrl.galleries" ng-class="{'active': gallery.name == 2016 }"><a
                                    data-target="#{{gallery.name}}" data-toggle="tab" ng-bind="gallery.name">2012</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane clearfix" ng-class="{'active': gallery.name == 2016 }"
                             id="{{gallery.name}}" ng-repeat="gallery in ctrl.galleries">
                            <div class="junior-galer-phote"
                                 ng-class="{'junior-galer-phote-hover': yearGallery.images.length}"
                                 ng-click="ctrl.openModal(yearGallery)" ng-repeat="yearGallery in gallery.galleries">
                                <div class="img">
                                    <img src="{{yearGallery.preview.small}}" alt="">
                                </div>
                                <div class="junior-galer-phote-text">
                                    <h4 ng-bind="yearGallery.name">Салават Юлаев</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-12 text-center">
                <div class="junior-share" style="margin: 0 auto;">
                    <p>Рассказать друзьям:</p>
                    <div class="junior-share-block clearfix">
                        <share-buttons data="{}"></share-buttons>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- Modal photo-->
<div class="modal fade modal-photo" id="modalPhoto" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-photo-slider" slides-to-show="1" slides-to-scroll="1">
                <div class="item" ng-repeat="photo in ctrl.photos">
                    <img src="{{photo.image.medium}}">
                </div>
                <button class="slick-prev" ng-click="ctrl.prevPhoto()"></button>
                <button class="slick-next" ng-click="ctrl.nextPhoto()"></button>
            </div>
            <button type="button" class="close" ng-click="ctrl.close()" data-dismiss="modal"
                    aria-label="Close"></button>
        </div>
    </div>
</div>