<section class="add_topic">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button ng-disabled="!ctrl.session.isAuthenticated" class="btn btn_primary main">Создать тему</button>
                <p ng-show="!ctrl.session.isAuthenticated">Чтобы создать тему или оставить комментарий <br>нужно <a ng-click="ctrl.login.open()" href="#">Авторизироваться</a></p>
            </div>
        </div>
    </div>
</section>

<section class="topics">
    <div class="container">
        <div class="row">
            <div class="row menu_border_bottom">
                <div class="col-md-12 text-right">
                    <div class="wrapp_filt">
                        <ul>
                            <li><a href="#" class="active">Новые</a></li>
                            <li><a href="#">Популярные</a></li>
                            <li><a href="#">Лучшие</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row post_hover" ng-repeat="section in ctrl.sections">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="wrapp_topic">
                        <h4><a ui-sref="dashboard.forum-page({id:section.id})" class="link_default" ng-bind="section.name"></a></h4>

                        <p>{{section.lastActivityTime}} <span ng-bind="section.lastActivityUserName"></span></p>
                        <ul>
                            <li ng-repeat="topic in section.recently_active_topics">
                                <a ui-sref="dashboard.forumtopic({id:topic.id})" class="link_default" ng-bind="topic.name"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="wrapp_static">
                        <ul>
                            <li>{{section.count_view}} <p>Просмотров</p></li>
                            <li>{{section.messages_count}} <p>Ответ</p></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div ng-show="ctrl.currentPage < ctrl.totalPages" class="row text-center">
                <button ng-click="ctrl.loadMore()" class="btn btn_common main load_more">Показать еще</button>
            </div>
        </div>
    </div>
</section>