<!--<section class="forum-test">
    <div class="forum-test-start" ng-show="start = true" ng-hide="test || result">
        <div class="container">
            <h6 class="forum-test-start&#45;&#45;header">
                Викторина
                <span>+10</span>
                <img src="img/resources/img/balls.png" alt="">
            </h6>
            <h3 class="forum-test-start&#45;&#45;question">
                Раклет или тартифлет?
            </h3>
            <p class="forum-test-start&#45;&#45;desc">
                Если вам еще не доводилось совершать Grand Tour of Switzerland, то,<br> чтобы разгадать этот тест, вам понадобятся самые разнообразные<br> знания в области литературы, спорта, истории и кинематографа. Удачи.
            </p>
            <button class="btn btn_secondary small"  ng-click="start = false; test = true">Начать тест</button>
            <br>
            <share-buttons data="ctrl.data"></share-buttons>
        </div>
    </div>
    <div class="forum-test-questions" ng-show="test" ng-hide="start || result">
        <div class="container">
            <h5 class="forum-test-questions&#45;&#45;header">Раклет или тартифлет?</h5>
            <div class="forum-test-questions&#45;&#45;content">
                <span class="forum-test-questions&#45;&#45;stage">1 из 20</span>
                <div class="forum-test-questions&#45;&#45;img">
                    <img src="img/resources/img/forum/question.jpg" alt="">
                    <p>Фото: Ivo Scholz / Switzerland Tourism</p>
                </div>
                <p class="forum-test-questions&#45;&#45;text">Это Цюрих, крупнейший город Швейцарии. Одна из самых дорогих торговых улиц в мире — Банхофштрассе, то есть «Вокзальная улица» — действительно начинается у вокзала. Вопрос: что находилось раньше на участке длиной 1,4 километра, где сейчас продают часы и драгоценности?</p>
                <ul class="forum-test-answers">
                    <li>
                        <label class="radio_green">
                            <input type="radio" name="answer">
                            <p class="radio-label radio-label_red">Тоже торговая улица, просто не мощеная</p>
                        </label>
                    </li>
                    <li>
                        <label class="radio_green">
                            <input type="radio" name="answer">
                            <p class="radio-label">Железнодорожные пути</p>
                        </label>
                    </li>
                    <li>
                        <label class="radio_green">
                            <input type="radio" name="answer">
                            <p class="radio-label radio-label_green">Городской ров с лягушками <span>+20</span><img src="img/resources/img/balls.png" alt=""></p>
                        </label>
                    </li>
                    <li>
                        <label class="radio_green">
                            <input type="radio" name="answer">
                            <p class="radio-label">Крепостной вал</p>
                        </label>
                    </li>
                </ul>
                <button class="btn btn_secondary small" ng-click="test=false; result = true">Следующий вопрос</button>
            </div>
        </div>
    </div>
    <div class="forum-test-result" ng-show="result"  ng-hide="start || test">
        <div class="container">
            <h3 class="forum-test-start&#45;&#45;question">
                Раклет или тартифлет?
            </h3>
            <div class="forum-test-result&#45;&#45;content">
                <p>Правильных ответов: 10 из 20</p>
                <p>Заработано: <br><span class="balls">+20</span><img src="img/resources/img/balls.png" alt=""></p>
                <button class="btn btn_secondary small" ng-click="start = true; result = false;">На главную</button>
            </div>
            <br>
            <share-buttons data="ctrl.data"></share-buttons>
        </div>
    </div>
</section>-->
<section class="add_topic" ng-init="ctrl.openSpeed()">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button ng-show="!ctrl.isEditorOpen" ng-disabled="!ctrl.session.isAuthenticated"
                        ng-click="ctrl.openEditor()" class="btn btn_primary main">Создать тему
                </button>
                <p ng-show="!ctrl.session.isAuthenticated">Чтобы создать тему или оставить комментарий <br>нужно <a
                        ng-click="ctrl.login.open()" href="#">Авторизироваться</a></p>

                <div ng-show="ctrl.isEditorOpen" class="textEdit">
                    <form ng-submit="ctrl.createTopic()">

                        <select class="input_default input_small"
                                ng-options="section.name for section in ctrl.allSections"
                                ng-model="ctrl.section" required>
                            <option disabled  value checked>Выберите раздел</option>

                        </select>
                        <input ng-model="ctrl.topicName" type="text" class="input_default input_small"
                               placeholder="Тема" required>
                        <div text-angular ng-model="ctrl.message"></div>
                        <button class="btn btn_primary main">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="topics">
    <div class="container">
        <div class="row">
            <div class="row post_hover" ng-repeat="section in ctrl.sections">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="wrapp_topic">
                        <h4><span ng-show="section.hot" class="hot_them"><img src="img/resources/img/forum_hot.png" alt="">Горячая секция: </span><a ui-sref="dashboard.forum-page({id:section.id})" class="link_default" ng-bind="section.name"></a></h4>

                        <p>{{section.lastActivityTime}} <span ng-bind="section.lastActivityUserName"></span></p>
                        <ul>
                            <li ng-repeat="topic in section.recently_active_topics">
                                <span ng-show="topic.hot" class="hot_them"><img src="img/resources/img/forum_hot.png" alt="">Горячая тема: </span>
                                <a ui-sref="dashboard.forumtopic({id:topic.id})" class="link_default" ng-bind="topic.name"></a>
                                <span class="count_m"> - </span>
                                <span ng-bind="topic.messages_count" class="count_m"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="wrapp_static">
                        <ul>
                            <li>{{section.count_view}} <p>Просмотров</p></li>
                            <li>{{section.messages_count}} <p>Ответ</p></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div ng-show="ctrl.currentPage < ctrl.totalPages" class="row text-center">
                <button ng-click="ctrl.loadMore()" class="btn btn_common main load_more">Показать еще</button>
            </div>
        </div>
    </div>
</section>