<div class="wrapp_menu_fact" social-init>
    <div class="menu_line ">
        <ul>
            <li><a ui-sref="dashboard.general-news"><img src="img/resources/img/news/ico_menu1_noactive_notext.png"
                                                         alt="" class="img-responsive">

                <p>События</p></a></li>
            <li><a ui-sref="dashboard.facts"><img src="img/resources/img/news/ico_menu2_noactive_notext.png" alt=""
                                                  class="img-responsive">

                <p>Факты</p></a></li>
            <li><a ui-sref="dashboard.blog"><img src="img/resources/img/news/ico_menu3_noactive_notext.png" alt=""
                                                 class="img-responsive">

                <p>Аналитика</p></a></li>
        </ul>
    </div>
</div>
<section class="wrapp_one_news">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8">
                <h6 ng-bind="ctrl.news.published_at | amDateFormat:'DD MMMM'"></h6>
                <ul class="breadcrumbs">
                    <li><a ui-sref="{{ctrl.rubricState}}" ng-bind="ctrl.rubric.name" class="link_default"></a></li>
                    <li> ></li>
                    <li><a href="" ng-bind="ctrl.news.name" class="link_default"></a></li>
                </ul>

                <h3 ng-bind="ctrl.news.name"></h3>

                <div ng-bind-html="ctrl.news.content"></div>

            </div>
            <div class="col-md-4 visible-md visible-lg">
                <div class="news_banner text-center">
                    <a href="">
                        Смотреть
                    </a>
                </div>
                <h6 >Другие новости <span class="show_all"><a ui-sref="dashboard.general-news">Смотреть все</a></span></h6>
                <p class="littel_date" ng-bind="ctrl.lastNews[0].published_at | amDateFormat:'DD MMMM'">1 апреля, суббота</p>
                <ul>
                    <li ng-repeat="news in ctrl.lastNews">
                        <p class="littel_news"><a ui-sref="dashboard.newspage({id:news.id, rubric:news.rubric.api_path})" ng-bind="news.name"></a></p>
                        <span class="littel_time" ng-bind="news.published_at | amDateFormat:'H:mm'">12:45</span>
                        <!--<span class="little_comment">13</span>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row wrapp_comments">
            <div class="col-md-3 text-center">
                <div class="social-likes">
                    <div class="facebook" title="Share link on Facebook">Facebook</div>
                    <div class="vkontakte" title="Share link on VK">VK</div>
                    <div class="twitter" title="Share link on twitter">twitter</div>
                </div>

            </div>
            <div class="col-md-3 text-center">
                <button ng-show="!ctrl.isEditorOpen" ng-disabled="!ctrl.session.isAuthenticated"
                        ng-click="ctrl.openEditor()" class="btn btn_primary main">Комментировать
                </button>
                <p ng-show="!ctrl.session.isAuthenticated">Чтобы оставить комментарий нужно <br><a
                        ng-click="ctrl.login.open()" href="#">Авторизироваться</a></p>
            </div>
            <div class="col-md-6 text-right">
                <p ng-bind="ctrl.commentsAmount + ' коммент.'"></p>
            </div>
            <div id="messageEditor" ng-show="ctrl.isEditorOpen" class="textEdit">
                <form ng-submit="ctrl.sendMessage()">
                    <div text-angular ng-model="ctrl.message"></div>
                    <button class="btn btn_primary main">Отправить</button>
                </form>
            </div>

        </div>
        <div class="row wrapp_comment_one">

            <div ng-repeat="comment in ctrl.comments">
                <div class="col-md-2 text-center">
                    <img src="{{comment.user.avatar.thumb}}" alt="" class="img-responsive">
                </div>
                <div class="col-md-10">
                    <h6 ng-bind="comment.user.name">Дмитрий Иванов</h6>

                    <p ng-bind-html="comment.content"></p>

                    <p class="date_posts" ng-bind="comment.published_at | amDateFormat:'DD.MM.YYYY H:mm'">09.02.2015 9:45</p>
                </div>
            </div>
            </div>
        </div>
        <div class="row end_comment">

            <div class="col-md-12 text-center" ng-show="ctrl.comments.length">
                <div class="col-md-3 text-center">
                    <button ng-show="!ctrl.isEditorOpen" ng-disabled="!ctrl.session.isAuthenticated"
                            ng-click="ctrl.openEditor()" class="btn btn_primary main">Комментировать
                    </button>
                    <p ng-show="!ctrl.session.isAuthenticated">Чтобы оставить комментарий нужно <br><a
                            ng-click="ctrl.login.open()" href="#">Авторизироваться</a></p>
                </div>
                <button ng-click="ctrl.loadMore()" ng-show="ctrl.comments.length < ctrl.commentsAmount" class="btn btn_common main "> Показать еще</button>
                <span> Показано {{ctrl.comments.length}} из {{ctrl.commentsAmount}}</span>
            </div>
        </div>
    </div>
</section>

