.country {

	.slick-slider {
		margin:0;
	}
	.slick-dots {
		top: 50vh;
		li {
			display: block;
		}
	}
	.slick-dots li.slick-active::after {
		position: absolute;
		width: 130px;
		height: 23px;
		left: 35px;
		background-color: $white;
		z-index: 1000;
		content: '';
		margin-top: -20px;
		font-size: 1.4rem;
		color: $green_main;
		font-weight: 600;
	}
	.slick-dots li button::before {
		font-size: 1rem;
		opacity: 1;
		color: $white;
	}
	.slick-dots li.slick-active button::before {
		opacity: 1;
		color: $green_main;
	}
	.slide {
		background-repeat: no-repeat;
		background-size: cover;
		padding: 10vh 0;
		h2 {
			color: $white;
			font-weight: 800;
			padding-left: 108px;
		}
	}
	.block_1 {
		width: 66%;
		margin: 10px;
		height: 220px;
		background-color: $white;
		padding: 10px;
		img {
			width: 20%;
			float: left;
		}
		h5,p {
			padding: 10px 0 10px 22%;

		}
		p {
			font-size: 1.5rem;
		} 
		
	}
	.block_2 {
		width: 29.8%;
		margin: 10px;
		float: right;
		height: 460px;
		background-color: $white;
		padding: 10px;
		img {
			margin: 0 auto;
			padding: 20px 0;
		}
		h5 {
			padding: 10px 0;
		}
		h3 {
			font-weight: 800;
			color: $green_main;
		}
		
	}
	.block_3 {
		height: 220px;
		background-color: $green_main;
		padding: 10px;
		width: 22.5%;
		margin: 10px;
		h3,h5 {
			color:$white;
			padding: 20px;
		}
		h3 {
			font-weight: 800;
		}
	}
	.block_4 {
		height: 220px;
		background-color: $white;
		padding: 10px;
		margin: 10px;
		width: 41.5%;
		h3,h5 {
			color:$black;
			padding: 20px;
		}
		h3 {
			font-weight: 800;
		}

	} 
	
}

.country .slick-dots li.slick-active::after {
	display:none;
}

@media only screen and (max-width : 1100px) {
	.country .block_1 {
		width:100%;
		margin-right:0px;
		margin-left:0px;
	}
	.country .slick-dots {
		width:170px;
	}
	.country .block_2 {
		margin-right:0px;
		width:50%;
	}
	.country .block_3 {
		margin-left:0px;
		width:45%;
	}
	.country .block_4 {
		margin-left:0px;
		width:45%;
	}
}
@media only screen and (max-width : 718px) {
	.country .slick-dots {
		display:none !important;
	}
	.country .row {
		padding:0px !important;
	}
	.country .block_2 {
		margin-right:0px;
		width:100%;
		float:none;
		margin-left:0px;
	}
	.country .block_3 {
		margin-left:0px;
		width:100%;
	}
	.country .block_4 {
		margin-left:0px;
		width:100%;
	}
}