.country {

	.slick-slider {
		margin:0;
	}
	.slick-dots {
		width: 150px;
		top: 80px;
		left: 50px;
		li {
			display: block;
			width:10px;
			height:10px;
			background:rgba(255,255,255,0);
			border-radius:50%;
			position:relative;
			margin:15px 0;

		}
	}
	.slick-dots li a {
		position: absolute;
		width: 150px;
		height: 23px;
		left: 20px;
		background-color: rgba(255,255,255,0);
		z-index: 1000;
		content: '';
		margin-top: -7px;
		font-size: 1.4rem;
		color: $green_main;
		font-weight: 600;
		display:block;
		font-size:0px;
		&:after {
			position: absolute;
			left: -19px;
			width: 10px;
			height: 10px;
			content: '';
			background: #fff;
			border-radius: 50%;
			top: 6px;
		}

	}
	.slick-dots {
		li.slick-active {
			background:rgab(255,255,255,0);
			a {
				background-color: rgba(255,255,255,1);
				display:block;
				font-size:11px;

				line-height: 23px;
				&:after {
					background:#4ba82e;
				}
			}
		}
	}
	.slick-dots li button::before {
		font-size: 1rem;
		opacity: 1;
		color: $white;
	}
	.slick-dots li.slick-active button::before {
		opacity: 1;
		color: $green_main;
	}
	.slide {
		background-repeat: no-repeat;
		background-size: cover;
		padding: 10vh 0;
		h2 {
			color: $white;
			font-weight: 800;
			padding-left: 108px;
		}
	}
	.block_1 {
		width: 66%;
		margin: 10px;
		height: 700px;
		background-color: $white;
		padding:0px;
		&-im {
			padding:10px;

		}
		.img {
			width:100%;
			img {
				width:100%;
			}
		}
		img {
			width: 20%;
			float: left;
		}
		h5,p {
			padding: 10px 0 10px 22%;

		}
		p {
			font-size: 1.5rem;
		} 
		
	}
	.block_2 {
		width: 29.8%;
		margin: 10px;
		
		height: 368px;
		background-color: $white;
		padding: 10px;
		img {
			margin: 0 auto;
			padding: 20px 0;
		}
		h5 {
			padding: 10px 0;
		}
		h3 {
			font-weight: 800;
			color: $green_main;
		}
		
	}
	.block_3 {
		height: 114px;
		background-color: $green_main;
		padding: 10px;
		width: 29.8%;
		margin: 10px;
		h3,h5 {
			color:$white;
			padding: 5px;
		}
		h3 {
			font-weight: 800;
		}
	}
	.block_4 {
		height: 180px;
		background-color: $white;
		padding: 10px;
		margin: 10px;
		width: 29.8%;
		h3,h5 {
			color:$black;
			padding: 10px;
		}
		h3 {
			font-weight: 800;
			font-size:30px;
		}

	} 
	
}
.slick-dots {
	display:none;
}

.arrow-con {
	position: absolute;
	background: #fff;
	top: 0px;
	margin: 0 auto;
	left: 50%;
	margin-left: -585px;
	width:1170px !important;

	.arrow-block {
		position: absolute;
    width: 24.8%;
    height: 62px;
    right: 110px;

    top: 50px;
	}
	.single-item-arrow {
		z-index: 222;
	}
}


.tamtam-slider-country {
	padding-top:150px;
	.slide {
		height:800px;
	}
}
.country {
	min-height:915px;
	position:relative;
	.single-item-arrow {
		width:150px;
		overflow: hidden;
		margin:0 auto;
		margin-top:5px;
	}
	.ng-binding {
		font-size:21px;
	}
	h2.ng-binding {
		font-size:50px;
	}
	.slick-center {
		font-size:0px;
		.ng-binding {
			font-size:0px;
		}
	}
	.slick-dots {
		width:150px;
		top:150px;
	}
	.slick-prev {
		width:47%;
		left:0px;
		background:#fff;
		height:100%;
		top:0px;
		.fa {
			    font-size: 70px;
    color: black;
    position: absolute;
    left: 10px;
    top: 0px;
    line-height: 61px;
		}
	}
	.slick-next {
		width:47%;
		right:0px;
		background:#fff;
		height:100%;
		top:0px;
		.fa {
			    font-size: 70px;
    color: black;
    position: absolute;
    right:10px;
    top: 0px;
    line-height: 61px;
		}
	}

	.main_country {
		min-height:915px;
		.slide {
			min-height:915px;
		}
	}
}
.single-item-li {
	position:absolute;

	width:180px;
	top:40px;
	left:35px;
	height:820px;
	.cricle {
		width:10px;
		height:10px;
		background:#fff;
		border-radius:50%;
	}
}



@media only screen and (max-width : 1380px) {
	.arrow-con {
		.arrow-block {
			top: 35px;
			margin: 0 auto;

		}
	}
	.country .slick-dots {
		left:0px;
	}

}

@media only screen and (max-width : 1200px) {
		.country .block_1 {
			width:100%;
			margin-right:0px;
			margin-left:0px;
		}
		.country .slick-dots {
			width:100%;
		}
		.country .block_2 {
			margin-right:0px;
			width:100%;
		}
		.country .block_3 {
			margin-left:0px;
			width:100%;
		}
		.country .block_4 {
			margin-left:0px;
			width:100%;
		}
	.arrow-con .arrow-block {

		right: 110px;
	}

}
@media (max-width: 992px) {
	.arrow-con {
		width: 970px !important;
	}
}
@media (max-width: 768px) {
	.arrow-con {
		width: 750px !important;
	}
}
@media only screen and (max-width:990px) {
	.arrow-con .arrow-block {


		.ng-binding {
			display: none;
		}
	}
}
@media only screen and (max-width : 718px) {
	.country .slick-dots {
		display:none !important;
	}
	.country .row {
		padding:0px !important;
	}
	.country .block_2 {
		margin-right:0px;
		width:100%;
		float:none;
		margin-left:0px;
	}
	.country .block_3 {
		margin-left:0px;
		width:100%;
	}
	.country .block_4 {
		margin-left:0px;
		width:100%;
	}
}