.country {
	.slick-slider {
		margin:0;
	}
	.slide {
		background-repeat: no-repeat;
		background-size: cover;
		padding: 10vh 0;
	}
	.block_1 {
		width: 66%;
		margin: 10px;
		height: 220px;
		background-color: $white;
		padding: 10px;
		img {
			width: 20%;
			float: left;
		}
		h5,p {
			padding: 10px 0 10px 22%;

		}
		p {
			font-size: 1.5rem;
		} 
		
	}
	.block_2 {
		width: 29.8%;
		margin: 10px;
		float: right;
		height: 460px;
		background-color: $white;
		padding: 10px;
		img {
			margin: 0 auto;
			padding: 20px 0;
		}
		h5 {
			padding: 10px 0;
		}
		h3 {
			font-weight: 800;
			color: $green_main;
		}
		
	}
	.block_3 {
		height: 220px;
		background-color: $green_main;
		padding: 10px;
		width: 22.5%;
		margin: 10px;
		h3,h5 {
			color:$white;
			padding: 20px;
		}
		h3 {
			font-weight: 800;
		}
	}
	.block_4 {
		height: 220px;
		background-color: $white;
		padding: 10px;
		margin: 10px;
		width: 41.5%;
		h3,h5 {
			color:$black;
			padding: 20px;
		}
		h3 {
			font-weight: 800;
		}

	} 
	
}
