.about_first {
  background-image: url("img/resources/img/about/bg_first.jpg");
  background-repeat: no-repeat;

  .wrapp_titel {
    float: right;
    margin-right: 9%;
    color: $grey_about;
    h4 {
      color: $grey_about;
      margin-bottom: 30px;
      margin-top: 245px;
      font-size: 2.4rem;
    }
    h2 {
      margin-bottom: 31px;
      font-size: 4.7rem;
    }
    p {
      font-size: $p_size;
      margin-bottom: 270px;
    }
  }
}

