.mobile_app {
	.bg_ {
		position: absolute;
		z-index: -1;
	}
	.block {
		background-size:cover;
		background-position:center top;
	}
	.first_s {
		min-height: 702px;
		padding: 50px;
		h5 {
			padding-top: 130px;
		}
		h2 {
			font-weight: 900;
			color: $black;
			text-transform: uppercase;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		p {
			font-size: 1.6rem;
		}
	}
	.two_s {
		padding: 50px;
		ul {
			li {
				display:inline-block;
				width: 23%;
				margin: 0 auto;
			}
		}
	}
	
}

@media only screen and (max-width : 1280px) {
	.mobile_app {
		.bg_ {
			position: relative;
			z-index: -1;
		}
		.first_s { 
			padding-bottom: 0px;
			min-height: 2px;
			h5 {
				padding-top: 0px;
			}

		}
	}
}
@media only screen and (min-width : 1280px) {
	.mobile_app .first_s {
		min-height:950px;
	}
}
@media only screen and (max-width : 738px) {
	.mobile_app {
		.first_s { 
			padding-top:70%;

		}
	}
	.mobile_app {
		.block {
			background-size:130%;
			background-position:right top;
			background-repeat:no-repeat;
		}
	}
}