.wrapp_tantamareska {
  padding:33px 0 30px;
  h2 {
    font-size:5rem;
    font-weight: bold;
    color:$green_main;
    // padding-left:1.4rem;
    letter-spacing:-2px;
  }
  p {
    font-size: $p_size;
    padding: 20px 0;
  }
  .right {
    float: right;
  }
  .btn {
    font-weight: 400;
    padding:0 28px;
  }
  .but-pos {
    padding-top:10px;
    button {
      margin-left:5px;
    }
  }
}

// <!--end tantamareska -->
// <!-- slider -->

.wh{height:100%!important}
.ww{width:100%!important}

.wrapp_slider {
  width:100%;
  min-width:270px;
  .slick-next {
    background: rgba(0,0,0,1) url("img/resources/img/arrow_right_white.png") no-repeat 86% center;
    right: 0px;
    width: 40px;
    height: 100px;
  }
  .slick-prev {
    background: rgba(0, 0, 0, 1) url("img/resources/img/arrow_left_white.png") no-repeat 14% center;
    left: 0px;
    width: 40px;
    height: 100px;
  }
  .single-item {
    position:relative;
    .block-slid {
      max-height:672px;
      overflow:hidden;
      width:100%;
      img {
        width:100%;
      }
    }
    .block-slid-2 {
      height: 200px;
      background-size: cover;
      background-position: center 0;
      background-repeat: no-repeat;

    }
  }
  .slick-arrow {
    position:absolute;
    font-size:0px;
    width:57px;
    height:119px;
    z-index: 3;
    top:50%;
    margin-top:-59px;
    border:none;

  }
  // .slick-prev {
  //   background:#000 url("img/resources/img/arrow_left_white.png") no-repeat center center;
  //   left:0px;
  // }
  // .slick-next {
  //   background:#000 url("img/resources/img/arrow_right_white.png") no-repeat center center;
  //   right:0px;
  // }
}

.toggle_button {
  padding:70px 0;
  text-align:center;
  .tiny {
    padding:20px 200px;
    font-size:3rem;
    font-weight: 300;
    height:auto;
  }
} 

.other_tantam{
  .box{
    cursor: pointer;
  }
  span{
    display: block;
    width:100%;
    height:100%;
  }
}
.share-modal--header{
  margin-top:30px;
}

.tantam-button-save{
  margin-top:40px;
  font-weight: 300;
  height:auto;
  padding:15px 30px;
}

#uploadButton{
  overflow:hidden;
  cursor:pointer;
  position: relative;
  line-height:40px;
}
#uploadButton input {
  opacity:0;
  // filter: alpha(opacity:0);
  cursor:pointer;
  padding:0px;
  margin:0px;
  border:none;
  position: absolute;
  top:0;
  left:0;
  line-height:100%;
  width:100%;
  height:100%;
}

#photo-load{
  overflow: hidden;
  position: relative;
  text-align: center;
}

#photo-load #loadimg{
  max-width:100%;
  height:auto;
}
#loading-canvas{
  position: absolute;
  left:0;
  top:50px;
}

.loader-wrapper{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  text-align: center;
  display: none;
  background:rgba(255,255,255,0.8);
  z-index:10000;
}
.loader-wrapper .loader{
  background:url('img/resources/img/loader.gif');
  display: inline-block;
  width:32px;
  height:32px;
  position: absolute;
  top:50%;
  margin-top:-16px;
}

/*убираем радио при обрезке
причуды скрипта*/
.jcrop-keymgr{
  display: none !important;
}
.tamtam-slider{
  position: relative;
  overflow: hidden;
  background:#fff;
}
.tamtam-panel{
  position: absolute;
}
.tamtam-img{
  position: relative;
  display: block;
  z-index: 0;
}


.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block
}

.resize-container:hover img,
.resize-container:active img {

}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    z-index: 999;
}

.resize-wide{
  position:absolute;
  width:100%;
  height:100%;
  z-index:998;
  outline:2px dashed #fff;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
  z-index: 999;
  width: 200px;
  height: 200px;
    border: solid 2px rgba(222,60,80,.9);
  box-sizing: content-box;
  pointer-events: none;
}

.overlay:after,
.overlay:before {
  content: '';
  position: absolute;
  display: block;
  width: 204px;
  height: 40px;
    border-left: dashed 2px rgba(222,60,80,.9);
  border-right: dashed 2px rgba(222,60,80,.9);
}

.overlay:before {
  top: 0;
  margin-left: -2px;
  margin-top: -40px;
}

.overlay:after {
  bottom: 0;
  margin-left: -2px;
  margin-bottom: -40px;
}

.overlay-inner:after,
.overlay-inner:before {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 204px;
  border-top: dashed 2px rgba(222,60,80,.9);
  border-bottom: dashed 2px rgba(222,60,80,.9);
}

.overlay-inner:before {
  left: 0;
  margin-left: -40px;
  margin-top: -2px;
}

.overlay-inner:after{
  right: 0;
  margin-right: -40px;
  margin-top: -2px;
}


#tamtam-canvas{
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
}




.wrapp_game-hockey {
  padding-top:75px;
  padding-bottom:50px;
  .game-hockey-left {
    h2 {
      text-transform: uppercase;
      color: $green_main;
      font-weight: 900;
      font-size:48px;
      display: inline-block;
      span {
        font-size: 20px;

        color: $green_main;
        padding-left: 20px;
        margin-right:5px;
        position:relative;
        top:-7px;
      }
    }
    img {
      position:relative;
      top:-12px;
      display: inline-block;
    }
    .hesh {
      text-transform: uppercase;
      color: $green_main;
      margin-left: 50px;

      display: inline-block;
      position:relative;
      top:-12px;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: bold;
    }
    
  }
  .btn_primary {
      width:166px;
      height: 50px;
      line-height: 40px;
      font-size:16px;
    }
  .text-ot {

  }
  h4 {
    font-size: 20px;

    color: $green_main;
    margin-bottom:10px;
  }
  p {
    font-size: 14px;
 
  }
  .tulu-game {
    padding:50px 0;
  }
}

.game-hockey-tantam {
  .left {
    margin-left:0px;

  }
}

.tulu-game iframe {
  width:100%; 
  height:450px;
}