<section class="forum-test konkurskpk-vic">
    
    <div class="forum-test-questions" ng-show="ctrl.showQuizAnswers">
        <div class="container">
            <div class="forum-test-result--content" style="max-width: 950px;">
                <p>Вы набрали {{ctrl.quizResult.right_answers_count}} баллов.</p>
                <p>Поздравляем! Вы выиграли "<b>{{ctrl.quizResult.prize.name}}</b>".</p>
                <p>Хотите выиграть билеты на Хоккей? Пройдите по <a href="" ui-sref="dashboard.profile.fotocontest"> ссылке</a> сейчас и выполните творческое задание!

         </p>
                <button class="btn btn_secondary small" ng-click="$state.go('dashboard.profile.fotocontest')">Загрузить пожелание</button>
            </div>
            <br>
            <share-buttons data="ctrl.data"></share-buttons> 
        </div>
    </div>
    <div class="konkurskpk">
        <section class="slider_prizes">
    <div class="container-fluid">



        <div class="row how">
            <div class="col-md-12"><h6>КАК ВЫИГРАТЬ ПРИЗ?</h6></div>
            <div class="col-md-6">

                <p>Чтобы выиграть один из призов от ŠKODA Вам нужно:<br>
                    1. Зарегистрироваться на сайте <a href="hockey-skoda.ru">hockey-skoda.ru</a> .<br>
                    2. Ввести необходимую контактную информацию в личном кабинете.<br>
                    3. Стать участником викторины и правильно ответить на вопросы * <br>
Приз 1 категории получают Участники Конкурса, ранее прочих Участников набравшие в викторине от 19 до 20 баллов включительно. <br>
Приз 2 категории получают Участники Конкурса, ранее прочих Участников набравшие в викторине от 15 до 18 баллов включительно. <br>
Приз 3 категории получают Участники Конкурса, ранее прочих Участников набравшие в викторине от 10 до 14 баллов включительно. <br>
Приз 4 категории получают все Участники Конкурса, ответившие верно менее чем на 9 вопросов.<br>
* за каждый правильный ответ участнику начисляется 1 балл. <br>

                </p> 
            </div>
            <div class="col-md-6">

                <p>
                    4. Вне зависимости от результатов викторины участники получают возможность стать участниками творческого этапа конкурса и выиграть один из главных призов - билеты на один из матчей Кубка Первого канала. <br>
                    5. Для участия в творческом этапе конкурса необходимо придумать креативное пожелание победы для нашей сборной и загрузить его в фото- либо видео формате в личном кабинете на сайте hockey-skoda.ru.
Это может быть Ваша фотография или совместная фотография с друзьями, семьей, домашними животными, коллаж или видео, строго соответствующие <a                                                                                   ui-sref="dashboard.regulations">Правила конкурса</a>. <br>
6. Работы оценит компетентное жюри и результаты будут отражены на сайте 14.12.2016 и 16.12 соответственно.

                     
                </p>
            </div>
        </div>

        <div class="row how">
            <div class="col-md-12">
                <p>**Срок проведения конкурса с 1 декабря по 16 декабря 2016. Информация об организаторе конкурса, о правилах его проведения, количестве призов по результатам конкурса, сроках, месте и порядке их получения – на  <a style="color: #4ba82e" href="http://hockey-skoda.ru/">www.hockey-skoda.ru</a>.
                </p>
            </div>
        </div>


    </div>
</section>
    </div>
    <div class="forum-test-start" ng-show="!ctrl.showQuiz && !ctrl.showQuizAnswers">
        <div class="container">
            <h6 class="forum-test-start--header">
                Викторина
                <!--<span>+10</span>-->
                <!--<img src="img/resources/img/balls.png" alt="">-->
            </h6>
            <h3 class="forum-test-start--question">
                Примите участие в викторине, получите приз от ŠKODA и возможность выиграть билеты на хоккей
            </h3>
            <p class="forum-test-start--desc">
               Дорогие друзья! У Вас есть всего одна попытка, чтобы выиграть приз! <br> Для этого нужно правильно ответить на 20 вопросов на хоккейную тематику. Удачи!
            </p>
            <button class="btn btn_secondary small" ng-show="ctrl.user" ng-click="ctrl.getPrizes();">Старт</button>
            <!-- && ctrl.user.can_kpk_victorina-->
            <br>
            <share-buttons data="ctrl.data"></share-buttons>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static" >
        <div class="modal-dialog">

            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"></button>
                <div class="game-modal-content clearfix">
                    <h2>а теперь викторина!</h2>

                    <div class="priz clearfix">
                        <div class="priz-item" ng-repeat="category in ctrl.categories">
                            <div class="priz-item-text clearfix">
                                <div class="number" ng-bind="category.right_answers_count">
                                </div>
                                <div class="text-right">
                                    Правильных <br> ответа
                                </div>
                            </div>

                            <div class="priz-slider1">
                                <div class="priz-slider1-block" ng-repeat="prize in category.prizes">
                                    <div class="priz-item-img">
                                        <img src="{{prize.image.thumb}}" alt="">
                                    </div>
                                    <div class="priz-item-tittle">
                                        <h5 ng-bind="prize.name"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mobal-button priz clearfix">
                        <div class="mobal-button-left"></div>
                        <div class="mobal-button-right ">
                            <button class="btn btn_primary" ng-click="ctrl.startQuiz();">Играть!</button>
                        </div>
                        <div class="mobal-button-center">
                            <p>Приготовьтесь отвечать на время</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="questionsModal" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">

            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"></button>
                <div class="timer">
                    <p id='p' ng-bind="ctrl.firstQuestionTime">15</p>
                    <span>сек</span>
                </div>
                <div class="game-modal-content">
                    <h2 class="vop">Вопрос <b>{{ctrl.currentQuestionIndex + 1}} из 20</b></h2>

                    <p ng-bind="ctrl.currentQuestion.body"></p>
                </div>

                <ul class="otvet-ches">
                    <li class="otvet-ches-item" ng-repeat="question in ctrl.currentQuestion.answers">
                        <label class="radio_green">
                            <input type="radio" name="answer" ng-model="ctrl.answers[ctrl.currentQuestionIndex]" value="{{question.answer}}" ng-disabled="!ctrl.firstQuestionTime">
                            <p class="radio-label" ng-bind="question.answer">Тоже торговая улица, просто не мощеная</p>
                        </label>
                    </li>
                </ul>

                <div class="mobal-button priz otvet clearfix">
                    <div class="mobal-button-left">

                    </div>
                    <div class="mobal-button-right">
                        <button class="btn btn_primary" ng-click="ctrl.nextQuestion()" ng-show="!ctrl.isLastQuestion">Далее</button>
                        <button class="btn btn_primary" ng-click="ctrl.checkAnswers()" ng-show="ctrl.isLastQuestion">Готово</button>
                    </div>
                    <div class="mobal-button-center" ng-show="!ctrl.questionTime">
                        <p class="red-one width1">Вы не уложились в отведенное время</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    
</section>